body{
	font-family: 'Roboto', Arial, sans-serif !important;
	font-size: 14px;
	/*overflow-x:hidden;*/
	min-width: 900px;
}

p{
	font-size: 14px;
	margin: initial;
}

hr{
	margin-top: 0;
	margin-bottom: 0;
	border-color: #aaa;
	border-width: 2px;
}

h1{
	margin: 15px 0;
}

input{
	line-height: initial;
}

.bg-img-blue {
	background: #fff url(../../images/ui/select-blue.png) no-repeat;
}

/*  others   */

.dropdown-width { 
	width: 300px !important;
}

.outline-none {
	outline: none;
}

.main-1280{
	width: 1280px;
	margin: 0 auto;
}

.semi-main {
	width: 1024px;
	margin: 0 auto;
}

.opa3 {
	opacity: 0.3;
}

.border-dark {
	border-color: rgba(0,0,0,0.3) !important;
}

.remove-border-radius {
	border-radius: 0 !important;
}
.add-border-radius {
	border-radius: 5px !important;
}
.half-border-radius{
	border-radius: 50% !important;
}
.remove-top {
	top: 0 !important;
}
.content-overflow-x {
	height: 200px;
	overflow-x: auto;
}

/*** font ***/
.italic {
	font-style: italic !important;
}

/****  borders  ***/
.border-full {
	border: 1px solid #aaa;
}
.border-top-none {
	border-top: none !important;
}	
.border-left-none {
	border-left: none !important;
}
.border-right-none {
	border-right: none !important;
}
.border-bottom-none {
	border-bottom: none !important;
}

.border-top {
	border-top: 5px solid ;
}
.border-left {
	border-left: 5px solid ;
}
.border-bottom {
	border-bottom: 5px solid ;
}
.border-right {
	border-right: 5px solid ;
}
.border-left-small {
	border-left: 1px solid rgba(0,0,0,0.3);
}
.border-top-small {
	border-top: 1px solid rgba(0,0,0,0.3);
}
.border-bottom-small {
	border-bottom: 1px solid rgba(0,0,0,0.3);
}

.border-right-small {
	border-right: 1px solid rgba(0,0,0,0.3);
}
.border-left-medium {
	border-left: 1px solid rgba(0,0,0,0.5);
}
.border-top-medium {
	border-top: 1px solid rgba(0,0,0,0.5);
}
.border-right-medium {
	border-right: 1px solid rgba(0,0,0,0.5);
}
.border-bottom-medium {
	border-bottom: 1px solid rgba(0,0,0,0.5);
}
.border-remove-radius {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.border-dashed {
	border: 3px dashed rgba(0,0,0,0.3);
}
.border-bottom-dashed {
	border-bottom: 1px dashed rgba(0,0,0,0.3);
}

/*  box shadow */
.box-shadow-light { 
	box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.border-gray {
	border-color: #aaa !important;
}
.border-blue {
	/*border-color: #4183D7;*/
	border-color: #29AAE1;
}
.border-red {
	border-color: #D91E18 !important;
}
.border-green {
	border-color: #7ed222 !important;
}

.border-orange {
	border-color: #EB9532;
}
.border-violet{
	border-color: #9b59b6;
}
.border-cyan{
	border-color: #00c59e;
}

/*Font Style*/
.font-0{
    font-size: 0 !important;
}

.font-10{
    font-size: 10px !important;
}

.font-12{
    font-size: 12px !important;
}

.font-13{
    font-size: 12px !important;
}

.font-14{
    font-size: 14px !important;
}
.font-15 {
	font-size: 15px !important;
}
.font-16{
    font-size: 16px !important;
}

.font-18{
    font-size: 18px !important;
}

.font-20{
    font-size: 20px !important;
}

.font-22 {
	font-size: 22px !important;
}

.font-30{
	font-size: 30px !important;
}

.font-50{
	font-size: 50px;
}

.default-cursor{
	cursor: pointer !important;
}
.normal-cursor {
	cursor: default !important;
}
.font-300 {
	font-weight: 300 !important;
}
.font-normal{
	font-weight: normal !important;
}
.font-500{
	font-weight: 500 !important;
}

.font-bold {
	font-weight: bold !important;
}
.font-bolder {
	font-weight: bolder;
}

/*colors and bg-colors*/
.white-color{
	color: #fff;
}
.black-color{
	color: #333 !important;
}

.red-color{
	color: #9c1303 !important;
}

.light-red-color{
	color: #c0392b !important;
}

.blue-color{
	color: #0096ff;
}

.yellow-color{
    color: #f39c12 ;
}

.green-color{
	color: #52801c !important;
}
.light-gray-color {
	color: #757575;
}
.gray-color{
	color: #a4a4a4 !important;
}
.dark-gray-color {
	color: #888;
}

.bggray-light{
	background-color: #efefed !important;
}

.bggray-middark{
	background-color: #e6e6e6 !important;
}

.bggray-dark{
	background-color: #d7dee4 !important;
}

.bggray-white{
	background-color: #fff !important;
}

.bggray-darkred {
	background-color: #6d0d03 !important;
}
.bggray-brightred {
	background-color: #9c1304 !important;
}
.bggray-darkgray {
	background-color: #dfdfdf !important;
}
.bggray-new-gray {
	background-color: #C3C3C3 !important; 
}
.white-bg {
	background-color: #fff !important;
}
.yellow-bg{
	background-color: #fce8a9 !important;
}
.tbl-dark-color {
	background-color: #D0D0D0 !important;
}

.tt-yellow-bg{
	background-color: #fdf15f !important;
}

.greenblue-bg {
	background-color: #a4d1c8 !important;
}

.red-bg{
	background-color: #ed857b !important;
}

.light-red-bg{
	background-color: #D65D51 !important;
}

.dark-red-bg{
	background-color: #6D0D03 !important;
}
.light-blue-bg {
	background-color: #4a90e2 !important;
}
.light-yellow-bg {
	background-color: #f5a623 !important;
}
.green-bg {
	background-color: #2ecc71 !important;
}
.violet-bg {
	background-color: #9b59b6 !important;
}
.orange-bg{
	background-color: #EB9532 !important;
}
.cyan-bg{
	background-color: #00c59e !important;
}
.gray-bg{
	background-color: #aaa !important;
}
.light-gray-bg{
	background-color: #fafafa !important;
}
.apollo-blue-bg{
	background-color: #014a7e !important;
}

/*inlines*/

.display-inline-top{
	display: inline-block;
	vertical-align: top;
}

.display-inline-mid{
	display: inline-block;
	vertical-align: middle;
}

.display-inline-bot{
	display: inline-block;
	vertical-align: bottom;
}
.v-aligntop {
	vertical-align: top;
}

/*Floats*/
.clear{
	width: 0;
	height: 0;
	clear: both;
}

.f-left{
	float: left;
}

.f-right{
	float: right;
}
.f-none {
	float: none !important;
}

@media (max-width: 992px){
	.f-sm-left{
		float: left;
	}

	.f-sm-right{
		float: right;
	}
}


@media (min-width: 992px){
	.f-md-left{
		float: left;
	}

	.f-md-right{
		float: right;
	}
}

/*Positioning*/
.position-rel{
    position: relative;
}


/*Margin Top*/
.margin-top-2 {
	margin-top: 2px !important;
}

.margin-top-5{
	margin-top: 5px !important;
}

.margin-top-10{
	margin-top: 10px !important;
}

.margin-top-15{
	margin-top: 15px !important;
}

.margin-top-20{
	margin-top: 20px !important;
}

.margin-top-25{
	margin-top: 25px !important;
}

.margin-top-30{
	margin-top: 30px !important;
}

.margin-top-35{
	margin-top: 35px !important;
}

.margin-top-40{
	margin-top: 40px !important;
}

.margin-top-45{
	margin-top: 45px !important;
}

.margin-top-50{
	margin-top: 50px !important;
}

.margin-top-55{
	margin-top: 55px !important;
}

.margin-top-60{
	margin-top: 60px !important;
}

.margin-top-65{
	margin-top: 65px !important;
}

.margin-top-70{
	margin-top: 70px !important;
}

.margin-top-75{
	margin-top: 75px !important;
}

.margin-top-80{
	margin-top: 80px !important;
}

.margin-top-85{
	margin-top: 85px !important;
}

.margin-top-90{
	margin-top: 90px !important;
}

.margin-top-95{
	margin-top: 95px !important;
}

.margin-top-100{
	margin-top: 100px !important;
}

/*Margin Right*/
.margin-right-5{
	margin-right: 5px !important;
}

.margin-right-10{
	margin-right: 10px !important;
}

.margin-right-15{
	margin-right: 15px !important;
}

.margin-right-20{
	margin-right: 20px !important;
}

.margin-right-25{
	margin-right: 25px !important;
}

.margin-right-30{
	margin-right: 30px !important;
}

.margin-right-35{
	margin-right: 35px !important;
}

.margin-right-40{
	margin-right: 40px !important;
}

.margin-right-45{
	margin-right: 45px !important;
}

.margin-right-50{
	margin-right: 50px !important;
}

.margin-right-55{
	margin-right: 55px !important;
}

.margin-right-60{
	margin-right: 60px !important;
}

.margin-right-65{
	margin-right: 65px !important;
}

.margin-right-70{
	margin-right: 70px !important;
}

.margin-right-75{
	margin-right: 75px !important;
}

.margin-right-80{
	margin-right: 80px ;
}

.margin-right-85{
	margin-right: 85px;
}

.margin-right-90{
	margin-right: 90px;
}

.margin-right-95{
	margin-right: 95px;
}

.margin-right-100{
	margin-right: 100px;
}

/*Margin Bottom*/
.margin-bottom-5{
	margin-bottom: 5px !important;
}

.margin-bottom-10{
	margin-bottom: 10px !important;
}

.margin-bottom-15{
	margin-bottom: 15px !important;
}

.margin-bottom-20{
	margin-bottom: 20px !important;
}

.margin-bottom-25{
	margin-bottom: 25px !important;
}

.margin-bottom-30{
	margin-bottom: 30px !important;
}

.margin-bottom-35{
	margin-bottom: 35px !important;
}

.margin-bottom-40{
	margin-bottom: 40px !important;
}

.margin-bottom-45{
	margin-bottom: 45px !important;
}

.margin-bottom-50{
	margin-bottom: 50px;
}

.margin-bottom-55{
	margin-bottom: 55px;
}

.margin-bottom-60{
	margin-bottom: 60px;
}

.margin-bottom-65{
	margin-bottom: 65px;
}

.margin-bottom-70{
	margin-bottom: 70px;
}

.margin-bottom-75{
	margin-bottom: 75px;
}

.margin-bottom-80{
	margin-bottom: 80px;
}

.margin-bottom-85{
	margin-bottom: 85px;
}

.margin-bottom-90{
	margin-bottom: 90px;
}

.margin-bottom-95{
	margin-bottom: 95px;
}

.margin-bottom-100{
	margin-bottom: 100px !important;
}


/*Margin left*/
.margin-left-5{
	margin-left: 5px !important;
}

.margin-left-10{
	margin-left: 10px !important;
}

.margin-left-15{
	margin-left: 15px !important;
}

.margin-left-20{
	margin-left: 20px !important;
}
.margin-left-23 {
	margin-left: 23px !important;
}

.margin-left-25{
	margin-left: 25px !important;
}

.margin-left-30{
	margin-left: 30px !important;
}

.margin-left-35{
	margin-left: 35px !important;
}

.margin-left-40{
	margin-left: 40px !important;
}

.margin-left-45{
	margin-left: 45px !important;
}

.margin-left-50{
	margin-left: 50px !important;
}

.margin-left-55{
	margin-left: 55px !important;
}

.margin-left-60{
	margin-left: 60px !important;
}

.margin-left-65{
	margin-left: 65px !important;
}

.margin-left-70{
	margin-left: 70px;
}

.margin-left-75{
	margin-left: 75px;
}

.margin-left-80{
	margin-left: 80px;
}

.margin-left-85{
	margin-left: 85px;
}

.margin-left-90{
	margin-left: 90px;
}

.margin-left-95{
	margin-left: 95px;
}

.margin-left-100{
	margin-left: 100px;
}

.overflow-hide{
	overflow: hidden;
}

.margin-auto{
	margin: 0 auto !important;
}

/*PADDING*/

/*padding all*/
.padding-all-5{
    padding: 5px !important;
}

.padding-all-10{
    padding: 10px !important;
}
.padding-all-15 {
	padding: 15px !important;
}

.padding-all-20{
    padding: 20px !important;
}
.padding-all-30{
    padding: 30px !important;
}


/*padding Top*/
.padding-top-2{
	padding-top: 2px !important;
}
.padding-top-5{
	padding-top: 5px !important;
}

.padding-top-10{
	padding-top: 10px !important;
}

.padding-top-15{
	padding-top: 15px !important;
}

.padding-top-20{
	padding-top: 20px !important;
}

.padding-top-25{
	padding-top: 25px !important;
}

.padding-top-30{
	padding-top: 30px !important;
}

.padding-top-35{
	padding-top: 35px;
}

.padding-top-40{
	padding-top: 40px;
}

.padding-top-45{
	padding-top: 45px;
}

.padding-top-50{
	padding-top: 50px !important;
}

.padding-top-55{
	padding-top: 55px !important;
}

.padding-top-60{
	padding-top: 60px !important;
}

.padding-top-65{
	padding-top: 65px !important;
}

.padding-top-70{
	padding-top: 70px !important;
}

.padding-top-75{
	padding-top: 75px !important;
}

.padding-top-80{
	padding-top: 80px !important;
}

.padding-top-85{
	padding-top: 85px !important;
}

.padding-top-90{
	padding-top: 90px !important;
}

.padding-top-95{
	padding-top: 95px !important;
}

.padding-top-100{
	padding-top: 100px !important;
}
.padding-top-260{
	padding-top: 260px	!important;
}

/*padding Right*/
.padding-right-5{
	padding-right: 5px !important;
}

.padding-right-10{
	padding-right: 10px !important;
}

.padding-right-15{
	padding-right: 15px !important;
}

.padding-right-20{
	padding-right: 20px!important;
}

.padding-right-25{
	padding-right: 25px !important;
}

.padding-right-30{
	padding-right: 30px !important;
}

.padding-right-35{
	padding-right: 35px !important;
}

.padding-right-40{
	padding-right: 40px !important;
}

.padding-right-45{
	padding-right: 45px !important;
}

.padding-right-50{
	padding-right: 50px !important;
}

.padding-right-55{
	padding-right: 55px !important;
}

.padding-right-60{
	padding-right: 60px !important;
}

.padding-right-65{
	padding-right: 65px !important;
}

.padding-right-70{
	padding-right: 70px !important;
}

.padding-right-75{
	padding-right: 75px !important;
}

.padding-right-80{
	padding-right: 80px !important;
}

.padding-right-85{
	padding-right: 85px !important;
}

.padding-right-90{
	padding-right: 90px !important;
}

.padding-right-95{
	padding-right: 95px !important;
}

.padding-right-100{
	padding-right: 100px;
}


/*padding Bottom*/
.padding-bottom-2{
	padding-bottom: 2px !important;
}
.padding-bottom-5{
	padding-bottom: 5px !important;
}

.padding-bottom-10{
	padding-bottom: 10px !important;
}
.padding-bottom-11 {
	padding-bottom: 11px !important;
}

.padding-bottom-11{
	padding-bottom: 11px !important;
}

.padding-bottom-15{
	padding-bottom: 15px !important;
}

.padding-bottom-20{
	padding-bottom: 20px !important;
}

.padding-bottom-25{
	padding-bottom: 25px !important;
}

.padding-bottom-30{
	padding-bottom: 30px !important;
}

.padding-bottom-35{
	padding-bottom: 35px !important;
}

.padding-bottom-40{
	padding-bottom: 40px !important;
}

.padding-bottom-45{
	padding-bottom: 45px !important;
}

.padding-bottom-50{
	padding-bottom: 50px !important;
}

.padding-bottom-55{
	padding-bottom: 55px;
}

.padding-bottom-60{
	padding-bottom: 60px;
}

.padding-bottom-65{
	padding-bottom: 65px;
}

.padding-bottom-70{
	padding-bottom: 70px;
}

.padding-bottom-75{
	padding-bottom: 75px;
}

.padding-bottom-80{
	padding-bottom: 80px;
}

.padding-bottom-85{
	padding-bottom: 85px;
}

.padding-bottom-90{
	padding-bottom: 90px !important;
}

.padding-bottom-95{
	padding-bottom: 95px;
}

.padding-bottom-100{
	padding-bottom: 100px;
}


/*padding left*/
.padding-left-5{
	padding-left: 5px !important;
}

.padding-left-10{
	padding-left: 10px !important;
}

.padding-left-15{
	padding-left: 15px !important;
}

.padding-left-20{
	padding-left: 20px !important;
}

.padding-left-25{
	padding-left: 25px !important;
}

.padding-left-30{
	padding-left: 30px !important;
}

.padding-left-35{
	padding-left: 35px!important;
}

.padding-left-40{
	padding-left: 40px !important;
}

.padding-left-45{
	padding-left: 45px !important;
}

.padding-left-50{
	padding-left: 50px !important;
}

.padding-left-55{
	padding-left: 55px !important;
}

.padding-left-60{
	padding-left: 60px !important;
}

.padding-left-65{
	padding-left: 65px !important;
}

.padding-left-70{
	padding-left: 70px !important;
}

.padding-left-75{
	padding-left: 75px !important;
}

.padding-left-80{
	padding-left: 80px !important;
}

.padding-left-85{
	padding-left: 85px !important;
}

.padding-left-90{
	padding-left: 90px !important;
}

.padding-left-95{
	padding-left: 95px !important;
}

.padding-left-100{
	padding-left: 100px !important;
}

/*Remove all*/

.no-margin-top{
	margin-top: 0 !important;
}

.no-margin-right{
	margin-right: 0 !important;
}

.no-margin-bottom{
	margin-bottom: 0 !important;
}

.no-margin-left{
	margin-left: 0 !important;
}

.no-margin-ver{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.no-margin-hor{
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.no-margin-all{
	margin: 0 !important;
}

.margin-all-5{
	margin-top: 5px !important;
	margin-left: 5px !important;
	margin-bottom: 5px !important;
	margin-right: 5px !important;
}

.margin-all-10{
	margin-top: 10px !important;
	margin-left: 10px !important;
	margin-bottom: 10px !important;
	margin-right: 10px !important;
}


.margin-all-15{
	margin-top: 15px !important;
	margin-left: 15px !important;
	margin-bottom: 15px !important;
	margin-right: 15px !important;
}


.margin-all-20{
	margin-top: 20px !important;
	margin-left: 20px !important;
	margin-bottom: 20px !important;
	margin-right: 20px !important;
}


.no-padding-top{
	padding-top: 0 !important;
}

.no-padding-right{
	padding-right: 0 !important;
}

.no-padding-bottom{
	padding-bottom: 0 !important;
}

.no-padding-left{
	padding-left: 0 !important;
}

.no-padding-ver{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.no-padding-hor{
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.no-padding-all{
	padding: 0 !important;
}

/*Heights*/
.height-auto {
	height: auto !important;
}
.min-height-270 {
	min-height: 270px !important;
}
.min-height-100vh{
	min-height: 100vh;
}
.height-100per {
	height: 100%;
}
.height-75px {
	height: 75px;
}
.height-0vh{
	height: 0vh;
}

.height-5vh{
	height: 5vh;
}

.height-10vh{
	height: 10vh;
}

.height-15vh{
	height: 15vh;
}

.height-20vh{
	height: 20vh;
}

.height-25vh{
	height: 25vh;
}

.height-30vh{
	height: 30vh;
}

.height-35vh{
	height: 35vh;
}

.height-40vh{
	height: 45vh;
}

.height-50vh{
	height: 50vh;
}

.height-55vh{
	height: 55vh;
}

.height-60vh{
	height: 60vh;
}

.height-65vh{
	height: 65vh;
}

.height-70vh{
	height: 70vh;
}

.height-75vh{
	height: 75vh;
}

.height-80vh{
	height: 80vh;
}

.height-85vh{
	height: 85vh;
}

.height-90vh{
	height: 90vh;
}

.height-100vh{
	height: 100vh;
}

.min-height-100vh{
	min-height: 100vh;
}

.max-height-100vh{
	max-height: 100vh;
}


.height-10px {
	height: 10px !important;
}

.height-15px {
	height: 15px !important;
}

.height-20px {
	height: 20px !important;
}

.height-25px {
	height: 25px !important;
}

.height-30px {
	height: 30px !important;
}

.height-35px {
	height: 35px !important;
}

.height-40px {
	height: 40px !important;
}

.height-45px {
	height: 45px !important;
}

.height-50px {
	height: 50px !important;
}
.height-60px {
	height: 60px !important;
}
.height-80px {
	height: 80px !important;
}
.height-100px {
	height: 100px !important;
}
.height-120px {
	height: 120px !important;
}
.height-130px {
	height: 130px !important;
}
.height-150px {
	height: 150px !important;
}
.height-170px {
	height: 170px !important;
}
.height-180px { 
	height: 180px !important; 
}
.height-200px {
	height: 200px !important;
}
.height-250px {
	height: 250px !important;
}
.height-300px {
	height: 300px !important;
}
.height-400px {
	height: 400px !important;
}
.height-450px {
	height: 450px !important;
}
.height-500px {
	height: 500px !important;
}
.height-550px {
	height: 550px !important;
}

.height-600px {
	height: 600px !important;
}


.mheight-180px {
	max-height: 150px !important;
}


/*widths*/
.width-0vw{
	width: 0vw;
}

.width-5vw{
	width: 5vw;
}

.width-10vw{
	width: 10vw;
}

.width-15vw{
	width: 15vw;
}

.width-20vw{
	width: 20vw;
}

.width-25vw{
	width: 25vw;
}

.width-30vw{
	width: 30vw;
}

.width-35vw{
	width: 35vw;
}

.width-40vw{
	width: 40vw;
}

.width-45vw{
	width: 45vw;
}

.width-50vw{
	width: 50vw;
}

.width-55vw{
	width: 55vw;
}

.width-60vw{
	width: 60vw;
}

.width-65vw{
	width: 65vw;
}

.width-70vw{
	width: 70vw;
}

.width-75vw{
	width: 75vw;
}

.width-80vw{
	width: 80vw;
}

.width-85vw{
	width: 85vw;
}

.width-90vw{
	width: 90vw;
}

.width-95vw{
	width: 95vw;
}

.width-100vw{
	width: 100vw;
}

.min-width-100vh{
	min-width: 100vh;
}

.max-width-100vh{
	max-width: 100vh;
}

.width-10px {
	width: 10px;
}
.width-20px {
	width: 20px !important;
}

.width-30px {
	width: 30px !important;
}
.width-40px {
	width: 40px !important;
}
.width-50px {
	width: 50px !important;
}
.width-60px {
	width: 60px !important;
}
.width-80px {
	width: 80px !important;
}
.width-90px {
	width: 90px !important;
}

.width-100px {
	width: 100px !important;
}
.width-120px {
	width: 120px !important;
}
.width-130px {
	width: 130px !important;
}
.width-150px {
	width: 150px !important;
}
.width-165px {
	width: 165px !important;
}
.width-170px {
	width: 170px !important;
}
.width-180px {
	width: 180px !important;
}

.width-200px {
	width: 200px !important;
}
.width-220px {
	width: 220px !important;
}
.width-250px {
	width: 250px !important;
}
.width-280px {
	width: 280px !important;
}
.width-285px {
	width: 285px !important;
}
.width-295px{
	width: 295px !important;
}
.width-300px {
	width: 300px !important;
}
.width-350px {
	width: 350px !important;
}
.width-400px {
	width: 400px !important;
}
.width-450px {
	width: 450px !important;
}
.width-500px {
	width: 500px !important;
}
.width-550px {
	width: 550px !important;
}
.width-600px {
	width: 600px !important;
}
.width-700px {
	width: 700px !important;
}
.width-800px {
	width: 800px !important;
}
.width-900px {
	width: 900px !important;
}

.width-1000px {
	width: 1000px !important;
}
/*extra*/
.width-9p5per {
	width: calc(9.5% - 10px) !important;	
}


.width-10per{
    width: calc(10% - 10px) !important;
}
.width-14per {
	width: calc(14% - 10px) !important;
}
.width-15per{
    width: calc(15% - 10px) !important;
}

.width-20per{
    width: calc(20% - 10px) !important;
}

.width-25per{
    width: calc(25% - 10px) !important;
}

.width-30per{
    width: calc(30% - 10px) !important;
}

.width-33per {
	width: calc(33% - 10px) !important;
}

.width-35per{
    width: calc(35% - 10px) !important;
}

.width-40per{
    width: calc(40% - 10px) !important;
}

.width-45per{
    width: calc(45% - 10px) !important;
}
.width-48per{
    width: calc(48% - 10px) !important;
}
.width-49per {
	width: calc(49% - 10px) !important;
}

.width-50per{
    width: calc(50% - 10px) !important;
}

.width-55per{
    width: calc(55% - 10px) !important;
}

.width-60per{
    width: calc(60% - 10px) !important;
}

.width-65per{
    width: calc(65% - 10px) !important;
}

.width-70per{
    width: calc(70% - 10px) !important;
}

.width-75per{
    width: calc(75% - 10px) !important;
}

.width-80per{
    width: calc(80% - 10px) !important;
}

.width-85per{
    width: calc(85% - 10px) !important;
}

.width-90per{
    width: calc(90% - 10px) !important;
}

.width-95per{
    width: calc(95% - 10px) !important;
}

.width-100per{
    width: 100% !important;
}
.width-auto {
	width: auto !important;
}
.width-10percent {
	width: 10% !important;
}
.width-20percent {
	width: 20% !important;
}
.width-28percent {
	width: 28% !important;
}
.width-30percent {
	width: 30% !important;
}
.width-35percent {
	width: 35% !important;
}
.width-42percent {
	width: 42% !important;
}
.width-45percent {
	width: 45% !important;
}
.width-47percent {
	width: 47% !important;
}
.width-50percent {
	width: 50% !important;
}
.width-75percent {
	width: 75% !important;
}

.width-79percent {
	width: 79% !important;
}
.width-100percent {
	width: 100% !important;
}
.width-420px{
    width: 420px;
}

.bg-green{
    background-color: #def5c7;
}
.width-15 {
	width: 15px;
}
.width-20{
    width: 20px;
}
.width-50 {
	width: 50px !important;
}
.width-80 {
	width: 80px !important;
}
.width-100 {
	width: 100px !important;
}
.width-120 {
    width: 120px !important;
}
.width-150 {
    width: 150px !important;
}

.width-180 {
    width: 180px !important;
}
.width-200 {
    width: 200px !important;
}
.width-211 {
	width: 211px !important;
}
.width-220 {
	width: 220px !important;
}
.width-250 {
    width: 250px !important;
}
.width-287 {
	width: 287px !important;
}
.width-300 {
    width: 300px !important;
}
.width-320 {
    width: 320px !important;
}
.width-350{
    width: 350px !important;
}
.width-400 {
	width: 400px !important;
}
.width-500 {
    width: 500px;
}
.width-750 {
    width: 750px !important;
}
.width-255{
	width: 255px !important;
}
.width-282{
	width: 282px;
}

.min-width-20{
    min-width: 20px !important;
}
.min-width-100px {
	min-width: 100px !important;
}
.min-width-150px{
    min-width: 150px !important;
}
.min-width-200px{
    min-width: 200px !important;
}
.min-width-250px{
    min-width: 250px !important;
}
.min-width-280px {
	min-width: 280px !important;
}
.min-width-300px {
	min-width: 300px !important;
}
.min-width-800px {
	min-width: 800px !important;
}
.min-width-1024{
    min-width: 1024px !important;
}
.min-width-1200 {
	min-width: 1200px !important;
}

.min-width-1366{
    min-width: 1366px !important;
}
.min-width-1360{
    min-width: 1360px !important;
}
.min-width-1345{
    min-width: 1345px !important;
}

.center-main {
	width: 90%;
	margin: 0 auto;
}

.border-left-small {
	border-left: 1px solid rgba(0,0,0,0.1);
}
.border-top-small {
	border-top: 1px solid rgba(0,0,0,0.1);
}
.border-bottom-small {
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.border-right-small {
	border-right: 1px solid rgba(0,0,0,0.1);
}

.border-all-small {
	border: 1px solid rgba(0,0,0,0.1);
}
.box-shadow-dark { 
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
.box-shadow-none {
	box-shadow: none !important;
}

.text-rtl {
	direction: rtl;
}
.text-left {
	text-align: left !important;
}
.text-right {
	text-align: right !important;
}

