section[style-id~="side-nav"] .with-logo {
	height: 60px;
}
section[style-id~="side-nav"] .with-logo p {
	padding:  17px 20px;
	text-align: center !important;

	transition: color .5s, background-color .5s;
}
section[style-id~="side-nav"] .logo-wh {
	color: #C1C1C1;
	font-family: 'Lato', sans-serif;
	font-size: 18px !important;	
	margin-top: 10px;

}

section[style-id~="side-nav"] {
    position: fixed;
    left: 0;
    top: 0;
    width: 190px;
    background: #292929;
    z-index: 999;
}

section[style-id~="side-nav"] .logo{
	position: relative;
	padding: 8px 0;
	height: 72px;
}

section[style-id~="side-nav"] .logo img{
	height: 55px;
	margin: 0 auto;
}

section[style-id~="side-nav"] .side-nav-container{
	position: relative;
	width: 100%;
	height: 100vh;
	max-height: calc(100vh - 76px);
 	overflow-y: auto;
}

section[style-id~="side-nav"] .side-nav-container .side-nav-content{
	position: relative;
	padding-bottom: 50px;
	width: 100%;
	height: auto;
}

/*header*/
section[style-id~="side-nav"] .side-nav-container .side-nav-content{
	position: relative;
}

section[style-id~="side-nav"] .side-nav-container .side-nav-content ul{
	margin: 0;
	padding: 0;
}

section[style-id~="side-nav"] .side-nav-container .side-nav-content a,
section[style-id~="side-nav"] .side-nav-container .side-nav-content .subnav-panel li a{
	display: block;
	padding: 17px 20px;
	text-align: left;
	color: #fff;
	/*background-color: #6a6a6a;*/
	background-color: #3C3B3B;

	transition: color .5s, background-color .5s;
}

section[style-id~="side-nav"] .side-nav-container .side-nav-content a img{
	display: inline-block;
    vertical-align: middle;
	margin-right: 15px;
    height: 18px;
    width: 18px;
}

section[style-id~="side-nav"] .side-nav-container .side-nav-content a p{
	text-transform: uppercase;
	display: inline-block;
    vertical-align: middle;
    font-size: 10px;
}

section[style-id~="side-nav"] .side-nav-container .side-nav-content a.active,
section[style-id~="side-nav"] .side-nav-container .side-nav-content a:hover,
section[style-id~="side-nav"] .side-nav-container .side-nav-content .subnav-panel li a:hover{
	color: #fff;
	/*background-color: #838383;*/
	background-color: #292929;

	transition: color .5s,background-color .5s;
}

/*sub-nav*/
section[style-id~="side-nav"] .side-nav-container .side-nav-content .subnav-panel{
	overflow: hidden;
	width: 100%;
	height: 0;

	transition: height .5s;
}

section[style-id~="side-nav"] .side-nav-container .side-nav-content .subnav-panel.show{
	height: auto;

	transition: height .5s;
}

section[style-id~="side-nav"] .side-nav-container .side-nav-content .subnav-panel li.active{
	font-size: 0;
}


section[style-id~="side-nav"] .side-nav-container .side-nav-content .subnav-panel li.active a{
	background-color: #838383;
}

section[style-id~="side-nav"] .side-nav-container .side-nav-content .subnav-panel li a{
	padding-left: 50px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 10px;
}

section[style-id~="side-nav"] .side-nav-container .side-nav-content .subnav-panel.child li a{
	background-color: #838383;
}


section[style-id~="side-nav"] .side-nav-container .side-nav-content .subnav-panel.child li a.active,
section[style-id~="side-nav"] .side-nav-container .side-nav-content .subnav-panel.child li a:hover{
	background-color: #9f9f9f;
}

section[style-id~="side-nav"] .side-nav-container .side-nav-content .subnav-panel.innerchild li a{
	color: #fff;
	background-color: #9f9f9f;
}

section[style-id~="side-nav"] .side-nav-container .side-nav-content .subnav-panel.innerchild li a.active,
section[style-id~="side-nav"] .side-nav-container .side-nav-content .subnav-panel.innerchild li a:hover{
	color: #333;
	background-color: #ddd;
}

section[style-id~="side-nav"] .side-nav-container .side-nav-content .subnav-panel li{
	display: block;
}


/*notify*/
span.notify{
	display: inline-block;
	vertical-align: middle;
	padding-top: 3px;
	margin-top: -5.5px;
	margin-bottom: -5.5px;
	margin-left: 10px;
	text-align: center;
	font-size: 12px;
	font-weight: 700;
	min-width: 20px;
	height: 20px;
	color: #333;
	border-radius: 25px;
	background-color: #f6e61d;
}

section[style-id~="side-nav"] .mCSB_container{
	margin-right: 0;
}

section[style-id~="side-nav"] .mCustomScrollBox>.mCSB_scrollTools{
	margin-top: 2.5vh;
	height: calc(95vh - 76px);
}

header .navbar-header{
	width: 190px !important;
}

header .navbar-header img{
	margin-left: 10px;
}

.settings-box{
	display: none;
	position: absolute;
	width: 95px;
	right: 10px;
	z-index: 999;
}

.settings-box .arrow{
	position: relative;
	margin-left: calc(50% - 10px);
    width: 20px;
    height: 15px;
    background-image: url(../../images/ui/arrow_up.svg);
    z-index: 999;
}

.settings-box a{
	display: block;
	margin: 10px 5px;
	font-size: 18px;
	color: #7b7b7b;
	line-height: 1.5;
}

.settings-box a:hover{
	color: #7cd8bf;
	text-decoration: none;
}
