
/********************************* buttons ********************************/


.cancel-btn {	/* CANCEL BUTTON */
	background-image: none ;
	background-color: transparent ;
	border: none;
	border-radius: 30px;
	color: #D91E18 ;
	font-size: 12px ;
	padding: 6px 15px;
	margin: 0px;

	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}

.disabled-btn {  /* DISABLED BUTTON  */
	background-image: none ;
	background-color: #D2D7D3 ;
	border: none;
	border-radius: 30px;
	color: #000 ;
	font-size: 12px ;
	padding: 6px 15px;
	margin: 0px ;
}

.general-btn {  /* GENERAL BUTTON  */
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	margin: 0 2% 0;
	padding: 6px 15px;
	font-size: 12px;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	border: solid 1px #4ea7e3;
	outline: none;
	background: #4ea7e3;
	color: #333;
	border-radius: 30px;
	margin: 0px ;
}

.general-btn:disabled, .cancel-btn:disabled {
    background-image: none !important;
    background-color: #D2D7D3 !important;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 30px !important;
    color: #000 !important;
    font-size: 12px !important;
    padding: 6px 15px;
    margin: 0px !important;
}

.btn {
	box-shadow: 0 0 0 rgba(0,0,0,0);
	transition: all .5s;
}
.btn:hover {
	box-shadow: 0 5px 10px rgba(0,0,0,0.3);
	transition: all .5s;
}

.general-btn:disabled:hover {
	

	box-shadow: none !important;
	transition: none !important;
	animation: none !important;
	-webkit-animation: none !important;
	-moz-animation: none !important;
	-o-animation: none !important;
}

.btn-all .cancel-btn,  /* CANCEL AND SAVE BUTTON TOGETHER  */
.btn-all .dividers,
.btn-all .general-btn {
	float: left;
}

.btn-all .dividers {
	margin: 5px 0 0 0;
}

.btn-all .cancel-btn,
.btn-all .general-btn {
	margin: 0 10px ;
}

	

/************************************ LABEL *******************************/

.lbl-caps {  /* ALL CAPS LETTERS */
	text-transform: uppercase;
	color: #6C7A89 ;
	font-size: 20px;
	font-weight: 100;
	margin: 0 ;
}



.label-bigsmall-text .first-val,  /*  BIG AND SMALL LETER  */
.label-bigsmall-text .second-val {
	margin: 0;
	color: #6C7A89;
}
.label-bigsmall-text .first-val {
	font-size: 22px;
}
.label-bigsmall-text .second-val {
	font-size: 12px;
}

.lbl-big {   /*    JUST BIG LETTER */
	color: #6C7A89;
	font-size: 20px;
	font-weight: 100 ;
	margin: 0 ;
}
 
.lbl-req {   /*  REQUIRED LABEL   */
	color: #6C7A89;
	font-size: 15px;
	margin: 0 ;
}
.lbl-req span {  
	color: #D91E18;
	margin:  5px;	
	font-size: 20px;
}

.lbl-link {  /*  LINKS  */
	font-weight: 100 ;
	margin: 0;
	font-size: 15px;
}

.lbl-validate {
	color: #D91E18;
	font-weight: 500 ;
	margin: 0;
	font-size: 15px;
}

/************************ TOOLTIP ***************************/
.tool-tip{
	cursor: pointer;
}

.show-dialogue{
	padding: 10px;
	position: absolute;
	display: none;
	border-radius: 5px;
	border: solid 1px #b5b39e;
	background-color: #fffcde;
	background-position: 0 50px;
	box-shadow: 0 2px 3px rgba(0,0,0,.3);
}

.show-dialogue:after{
	content: "";
	top: 100%;
	left: 30px;
	display: block;
	position: absolute;
	background: url("../../images/ui/tt-arrow.png") no-repeat;
	background-size: 10px;
	width: 10px;
	height: 10px;
}

.show-dialogue p{
	font-size: 14px;
	font-weight: 700;
	line-height: 1.2;
	text-align: left;
}

.show-dialogue p small{
	font-size: 12px;
	font-weight: 500;
	line-height: 1.2;
	color: #999;
}

/************************ TEXTBOX ***************************/

input[type="text"]{
	font-size: 14px;
	height: 30px;
}

.t-xsmall,.t-small,.t-medium,.t-large{
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 6px 12px;
    width: 85px;
    outline: none;

    transition: border-color .5s;
}

textarea{
	border: 1px solid #aaa;
	padding: 5px;
	color: #333;
	outline: none;

	transition: border-color .5s;
}

.t-small {
    width: 150px !important;
}

.t-medium {
    width: 250px !important	;
}
.t-large {
    width: 350px !important;
}

.t-xsmall:focus,.t-small:focus,.t-medium:focus,.t-large:focus, textarea:focus, .input-group .form-control:focus{
	border-color: #009cff;

	transition: all .5s;
}

.input-group .form-control{
	box-shadow: none;
	border-color: #aaa;
}

.input-group.currency input[type="text"]{
	border-right: none;
}

.input-group.currency .input-group-addon{
	background-color: #fff;
	border-color: #aaa;
}

.input-group.currency .input-group-addon.eye{
	background: url(../../images/ui/see.svg) center center no-repeat;
	background-size: 20px;
	width: 36px;
}

/*************** CALENDAR ******************/
.cal-leg {
	width: auto;
	display: inline-block;
	border: 1px solid rgba(0,0,0,0.3);
	font-size: 0;

}
.cal-leg p {
	font-size: 15px;
	display: inline-block;	
	vertical-align: middle;
	padding: 5px 10px 3px 10px;	
	margin: 0;
}
.cal-leg .colors {
	vertical-align: middle;
	width: 45px;
	height: 31px;
	display: inline-block;
	background-color: #87D37C;	
	font-size: 12px;
}
.cal-leg .colors i {
	padding: 5px 15px 5px 13px;
	color: #fff;
	opacity: 0;
	cursor: pointer;
	transition: opacity 1s;
}
.cal-leg .colors i:hover {
	opacity: 1;
	transition: opacity .5s;
}
.cal-leg .wrong p{
	font-size: 20px;
	font-weight: bold;
	display: inline-block;		
	margin: 0;
	color: #6C7A89;
	padding: 0 5px ;
	cursor: pointer;
}


.cal-date {
	display: inline-block;
	font-size: 0;
}
.cal-date i {
	display: inline-block;
	font-size: 30px;
	cursor: pointer;
}
.cal-date p {
	display: inline-block;
	font-size: 20px;
	margin: 0;
}
.cal-date .month {
	padding-left: 40px;
	padding-right: 5px;
	font-weight: bold;
	font-size: 30px;
}
.cal-date .year {
	padding-right: 40px;
	font-weight: normal;
	letter-spacing: 1px;
	font-size: 30px;
}


.cal-whatsd {
	font-size: 0;
}
.cal-whatsd p {
	display: inline-block;
	font-size: 15px;
	margin: 0;
}
.cal-whatsd .dates span {
	font-weight: bold;		
}
.cal-whatsd .dividers {
	padding: 0 10px;
	margin: 0;
	font-size: 15px;
	color: #6C7A89;
	vertical-align: top;
}


.cal-com {
	display: inline-block;
	font-size: 0;	
}
.cal-com .date,
.cal-com .dividers,
.cal-com .d-now,
.cal-com .d-time,
.cal-com .d-time i,
.cal-com .d-time p {
	display: inline-block;
	font-size: 12px;
	margin: 0;
}
.cal-com .date,
.cal-com .d-now {
	font-weight: bold;
}
.cal-com .dividers {
	padding: 0 10px;
	color: #6C7A89;
	vertical-align: top;
}
.cal-com .d-time i {
	font-size: 15px;
}


/******************  FORMS ******************/

.checkbox label {
	font-size: 13px;
	font-weight: bold;
	margin: 0;
}

.date-pickers {
	margin: 5px ;
}
.date-picker input {

}
.date-pickers .input-group .input-group-addon {
	width: 0 ;
}


.dropdowns {
	margin: 5px;	
}
.dropdowns .form-control {
	
	outline: 0;
}


.inputboxs {
	margin: 5px;
}
.inputboxs input {
	border-radius: 5px;
	border: 1px solid #aaa;
	padding: 5px;
}

.prog-bar {
	width: 100%;
	border: 1px solid rgba(0,0,0,0.5);
	height: 35px;
	border-radius: 5px;
	margin-bottom: 5px;
}
.prog-bar .range {
	background-color: #4183D7;
	height: 32px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	width: 20%;
}

/******************** IMG BANNER  *****************/

.badges {
	display: inline-block;	
	padding: 10px 30px;
	font-size: 0;
	margin: 5px;
}
.badges img {
	display: inline-block;
	width: 75px;
	padding-right: 10px;
}
.badges .content {
	display: inline-block;
	font-size: 18px;
	margin: 0;
	vertical-align: middle;
	font-weight: bold;
	color: #6C7A89;
}

.bdg-nolink {
	display: inline-block;
	padding: 10px;
}

.bdg-nolink img {
	width: 140px;
}
.bdg-nolink img:hover {
	/*border: 5px solid #7cd8bf;*/
	/*border-radius: 50%;*/
}
.bdg-nolink p {
	text-align: center;
	font-size: 18px;
	padding-top: 10px;
	color: #6C7A89;
}

.bdg-nolink .hover-me:hover > .view-team {
	display: block;
}
.bdg-nolink .view-team {
	display: none;
	position: absolute;
	top: 0px;
	right: 10px;
}
.bdg-nolink .view-team:hover {
	color: #999;
	cursor: pointer;
}




.bdg-withlink {
	display: inline-block;
	padding: 10px;
	margin: 5px;
}
.bdg-withlink img {
	width: 140px;
}
.bdg-withlink img:hover {
	cursor: pointer;
	border: 4px solid #4183D7;
	border-radius: 50%;
}
.bdg-withlink .big-title {
	text-align: center;
	padding-top: 10px;
	font-size: 20px;
	font-weight: bold;
	margin: 0;
}
.bdg-withlink .small-title {
	margin: 0;
	text-align: center;
	color: #6C7A89;
}

/*.badges {
	display: inline-block;	
	padding: 10px 30px;
	font-size: 0;
	
	margin: 5px;

}
.badges img {
	display: inline-block;
	width: 75px;
	padding-right: 10px;
}
.badges .content {
	display: inline-block;
	font-size: 18px;
	margin: 0;
	vertical-align: middle;
	font-weight: bold;
	color: #6C7A89;
}

.bdg-nolink {
	display: inline-block;
	padding: 20px 10px;
}

.bdg-nolink .profile-pic{
	position: relative;
}

.bdg-nolink .profile-pic img{
	width: 130px;
	height: 130px;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 50%;
	border: 5px solid #fff;
}

.bdg-nolink .profile-pic:hover img{
	border: 5px solid #7cd8bf;
}

.bdg-nolink .profile-pic span.delete{
	position: absolute;
	display: none;
	top: 0;
	right: calc((50% - 65px) - 10px);
	width: 20px;
	height: 20px;
	font-size: 20px;
	color: #333;
	cursor: pointer;
}

.bdg-nolink .profile-pic:hover span.delete{
	display: block;
}

.bdg-nolink .profile-pic:hover span.delete:hover{
	color: #aaa;
}

.bdg-nolink p {
	text-align: center;
	font-size: 18px;
	color: #333;
}

.bdg-withlink {
	display: inline-block;
	padding: 10px;
	margin: 5px;
}
.bdg-withlink img {
	width: 140px;
}
.bdg-withlink img:hover {
	cursor: pointer;
	border: 4px solid #4183D7;
	border-radius: 50%;
}
.bdg-withlink .big-title {
	text-align: center;
	padding-top: 10px;
	font-size: 20px;
	font-weight: bold;
	margin: 0;
}
.bdg-withlink .small-title {
	margin: 0;
	text-align: center;
	color: #6C7A89;
}*/

/****************** UPLOADS ********************/


.upload-circ {
	background-color: #d8d8d8;
	font-size: 0;
	border:  1px solid rgba(0,0,0,0.2);
	border-radius: 50%;
	height: 130px;
	width: 130px;
	text-align: center;
	margin:5px;
}
.upload-circ i {
	font-size: 35px;	
	margin-top: 25px;
	color: #fff;
}
.upload-circ .title-cam {
	text-align: center;
	font-size: 15px;
	color: #6C7A89;
	margin-top: 10px;
}


.upload-square {
	background-color: #d8d8d8;
    border: 1px solid rgba(0,0,0,0.2);    
    cursor: pointer;
    height: 130px;
    width: 130px;
    text-align: center;
    margin: 5px;
}
.upload-square i {
	color: rgba(0,0,0,0.5);
	font-size: 35px;	
	margin-top: 30px;
	
}
.upload-square .title-cam {
	text-align: center;
	font-size: 15px;
	color: #6C7A89;
	margin-top: 10px;
}

.add-dashed-rect{
	display: inline-block;
	padding: 5px 20px;
	border: dashed 2px #6C7A89;
	font-size: 20px;
	font-weight: 500;
	color:  #6C7A89;
	line-height: 1;
}

.add-dashed-rect:before{
	content: "+";
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
	font-size: 30px;
	font-weight: 500;
}

/********************* TABLES ********************/

.tbl-1c1h{
	width: 100%;
	background-color: #fff;
	padding: 10px;
}

.tbl-1c1h tr td,
.tbl-1c1h tr th {
	padding: 15px;	
}

.tbl-1c1h thead th:nth-child(1){
	border-top: 6px solid #4a4a4a;
	text-align: center;
}
.tbl-3c2h {
	width: 100%;
	background-color: #fff;
	padding: 10px;

}
.tbl-3c2h tr td,
.tbl-3c2h tr th {
	padding: 15px;	
}
.tbl-3c2h thead th:nth-child(1),
.tbl-3c2h thead th:nth-child(3) {
	border-top: 6px solid #9d9d9d;
}
.tbl-3c2h thead th:nth-child(2) {
	border-top: 6px solid #4a4a4a;
}

.tbl-3c2h thead tr th:nth-child(1) {
	width: 13%;
	text-align: center;
	color: #6C7A89;
}
.tbl-3c2h thead tr th:nth-child(2) {
	width: 72%;
	padding-left: 30px;
}
.tbl-3c2h thead tr th:nth-child(3) {
	width: 15%;
	text-align: center;
	color: #6C7A89;

}
.tbl-3c2h tbody tr:nth-child(odd){
	background-color: #f2f2f2;
	color: #6C7A89;
	font-weight: bold;
}
.tbl-3c2h tbody tr:nth-child(even){
	background-color: #ffffff;
	color: #6C7A89;
	font-weight: bold;
}
.tbl-3c2h tbody tr td:nth-child(1) {
	text-align: center;
}
.tbl-3c2h tbody tr td:nth-child(2) {
	padding-left: 30px;
}
.tbl-3c2h tbody tr td:nth-child(3) {
	text-align: center;
}



.tbl-4c3h {
	width: 100%;
	background-color: #fff;
	padding: 10px;

}
.tbl-4c3h tr td,
.tbl-4c3h tr th {
	padding-top: 15px;
	padding-bottom: 15px;
	padding: 15px;
	padding-left: 10px;
}
.tbl-4c3h thead th:nth-child(odd) {
	border-top: 6px solid #9d9d9d;
	color: #6C7A89;
	text-align: center;
	font-weight: 700;
}
.tbl-4c3h thead th:nth-child(even) {
	border-top: 6px solid #4a4a4a;
	text-align: center;
	font-weight: 700;
}
.tbl-4c3h tbody tr:nth-child(odd){
	background-color: #f2f2f2;
	color: #6C7A89;
	font-weight: 400;

}
.tbl-4c3h tbody tr:nth-child(even){
	background-color: #ffffff;
	color: #6C7A89;
	font-weight: 400;
}
.tbl-4c3h thead tr th:nth-child(1) {
	text-align: center;
}

/***************** RECTANGLE ************/

.rect-small {
	display: inline-block;
	height: 90px;
	background-color: #fff;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
	text-align: center;
	margin: 5px;
}
.rect-small .rect-title {
	font-size: 13px	;
	padding-top: 12px;
	font-weight: bold;
	color: #6C7A89;
	margin: 0 30px;
}
.rect-small .rect-amount {
	font-size: 30px;
	margin: 0;
	padding-top: 5px;
}



.rect-large {
	display: inline-block;
	height: 90px;
	background-color: #fff;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
	text-align: center;
	margin: 5px;
}
.rect-large .rect-title {
	font-size: 13px	;
	padding-top: 12px;
	font-weight: bold;
	color: #6C7A89;
	margin: 0 127px;
}
.rect-large .rect-amount {
	font-size: 30px;
	margin: 0;
	padding-top: 5px;
}





.rect-lrg-body table{
	width: 100%;
}
.rect-lrg-complex {
	border: 1px solid rgba(0,0,0,0.2);
	padding: 10px 15px;	
	background-color: #fff;
}
.rect-lrg-complex .rect-lrg-head {
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.rect-lrg-complex .rect-lrg-head .head-title{
	float: left;
	font-size: 30px;
	color: #6C7A89;
	margin: 0;
} 
.rect-lrg-complex .rect-lrg-head .head-cont {
	float: right;
	font-size: 15px;
	font-weight: bold;
	margin: 0;
	padding-top: 15px;
	padding-right: 10px;
}
.rect-lrg-complex .rect-lrg-head span{
	float: right;
	font-size: 35px;
}

.rect-lrg-complex .rect-lrg-body .body-top {
	padding-top: 15px;
}
.rect-lrg-complex .rect-lrg-body .body-top > div:nth-child(1) {
 	
 	display: inline-block;
 	text-align: center;
 	padding-top: 10px;
}

.rect-lrg-complex .rect-lrg-body .body-top > div:nth-child(1) > p:first-child {
 	font-weight: bold;
 	margin: 0 80px;
}
.rect-lrg-complex .rect-lrg-body .body-top > div:nth-child(1) > p:nth-child(2) {
 	font-size: 50px;
}
.rect-lrg-complex .rect-lrg-body .body-top .mini-body {
	display: inline-block;
	vertical-align: top;

}
.rect-lrg-complex .rect-lrg-body .body-top .mini-body div {
	display: inline-block;
	
	text-align: center;
}
.rect-lrg-complex .rect-lrg-body .body-top .mini-body div:nth-child(1) {
	padding: 10px;
	vertical-align: top;
	

}
.rect-lrg-complex .rect-lrg-body .body-top .mini-body div:nth-child(1) p:nth-child(1) {
	font-size: 15px;
	color: #6C7A89;
	padding: 0 30px;
	
	margin-bottom: 0px;
}
.rect-lrg-complex .rect-lrg-body .body-top .mini-body div:nth-child(1) p:nth-child(2) {
	font-size: 40px;
	
}
.rect-lrg-complex .rect-lrg-body .body-top .mini-body div:nth-child(2) {
	vertical-align: top;
	padding: 10px;
	margin-left: 5px;
	
}
.rect-lrg-complex .rect-lrg-body .body-top .mini-body div:nth-child(2) p:nth-child(1) {
	font-size: 15px;
	color: #6C7A89;
	margin-bottom: 0;
	padding: 0 35px;
	border-left: 1px solid rgba(0,0,0,0.2);
	border-right: 1px solid rgba(0,0,0,0.2);

}
.rect-lrg-complex .rect-lrg-body .body-top .mini-body div:nth-child(2) p:nth-child(2) {
	font-size: 40px;
	padding: 0 20px;
	border-left: 1px solid rgba(0,0,0,0.2);
	border-right: 1px solid rgba(0,0,0,0.2);
	
}
.rect-lrg-complex .rect-lrg-body .body-top .mini-body div:nth-child(3) {
	width: 200px;
	
}
.rect-lrg-complex .rect-lrg-body .body-top .mini-body div:nth-child(3) p:nth-child(1) {
	font-size: 15px;
	color: #6C7A89;
	margin: 0 10px;
	line-height: 20px;
}
.rect-lrg-complex .rect-lrg-body .body-top .mini-body div:nth-child(3) p:nth-child(2) {
	font-size: 40px;
	margin: 0;
	margin-top: 5px;
	line-height: 40px;
}

.rect-lrg-complex .body-bot thead th {
	font-size: 15px;
}
.rect-lrg-complex .body-bot tbody td {
	padding: 5px;
}
.rect-lrg-complex .body-bot tbody td:nth-child(even) {
	text-align: right;
	font-weight: bolder;
	font-size: 15px;
	padding-right: 15px;
}
.rect-lrg-complex .body-bot tbody td:nth-child(odd) {
	color: #6C7A89;
}


/****************** panels *********************/

.panel-white{
	padding: 15px;
	width: 100%;
	min-width: 600px;
	background: #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,.3);
	font-size: 0;
}

.panel-white.unboxed{
	background: none;
	box-shadow: none;
}

.panel-white.compressed{
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.panel-white .logo-container{
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
	width: calc(30% - 20px);
	max-width: 200px;
}

.panel-white .logo-container img{
	width: 100%;
}

.panel-white .content-container{
	display: inline-block;
	vertical-align: top;
	width: 70%;
}

.panel-white .content-container h2{
	font-size: 20px;
	font-weight: 700;
}

.panel-white .content-container table{
	width: 100%;
}

.panel-white .content-container table tr td{
	padding: 5px;
}

.panel-white .content-container hr{
	margin: 10px 0;
	border-top: solid 1px #ddd;
}

.panel-details{
	margin: 5px;
	display: inline-block;
	background-color: #fff;
	width: 300px;
	padding: 10px;
	box-shadow: 0 2px 5px rgba(0,0,0,.3);
	overflow: hidden;
}

.panel-details .tiny-pic{
	width: 20px;
	display: inline-block;
	vertical-align: middle;
}

.panel-details table tr td{
	padding: 5px;
}

.panel-details .provider-details{
	position: relative;
	border-top: solid 1px #ddd;
	margin: 10px -10px -10px;
	padding: 15px 0 15px 15px;
}

.panel-details .provider-details img,
.panel-details .provider-details p{
	display: inline-block;
	vertical-align: middle;
}
.panel-details .provider-details p.name-w-div{
	padding-top: 8px;
	height: 30px;
	border-right: solid 2px #aaa;
	padding-right: 20px; 
	margin-right: 20px;
}


.panel-details .provider-details img{
	width: 100%;
	max-width: 50px;
}

.panel-details .provider-details:after{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 10px;
	height: 100%;
	background-color: #7ed222;
}

/****************** modal *********************/

.modal-container{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 999;
	text-align: center;
	overflow: auto;
}

.modal-container.showed{
	display: block;
}

.modal-container:before{
	content: "";
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);

	animation: fade-out .3s linear forwards;
}

.modal-container.showed:before{
	animation: modal-fade-in .3s linear forwards;
}

.modal-container:after{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 100vh;
}

.modal-container .modal-body{
	display: inline-block;
	vertical-align: middle;
	padding: 10px 0;
	width: 50%;
	max-width: 900px;
	background-color: #fff;
	
	animation: modal-fade-out .3s linear forwards;
}
.modal-container .modal-body.large {
	width: 800px;
}
.modal-container .modal-body.medium{
	width: 700px;
}

.modal-container .modal-body.small{
	width: 500px;
}

.modal-container .modal-body.xsmall{
	width: 350px;
}

.modal-container.showed .modal-body{
	margin: 0;
	padding: 0;
	animation: modal-fade-in .3s linear forwards;
}

.modal-container .modal-body .modal-head{
	width: 100%;
	height: 50px;
	padding: 0 20px;
}

.modal-container .modal-body .modal-head p{
	margin: 0;
	text-align: left;
	font-size: 12px;
	font-weight: 700;
}

.modal-container .modal-body .modal-head h4{
	padding-top: 15px;
	font-size: 20px;
	font-weight: 700;
}

.modal-container .modal-body .modal-head .modal-close{
	position: absolute;
	top: 0;
	right: 0;
	background: url(../../images/ui/icon-close.svg) no-repeat;
	background-color: #f1b960;
	background-size: 20px;
	background-position: center;
	width: 50px;
	height: 50px;
	cursor: pointer;

	transition: background-color .5s;
}

.modal-container .modal-body .modal-head .modal-close:hover{
	background-color: #ffd99c;

	transition: background-color .5s;
}

.modal-container .modal-body .modal-content{
	padding: 20px;
	box-shadow: none;
	border-radius: 0;
	border: none;
	background-color: #eee;
	text-align: left;
}

.modal-container .modal-body .modal-footer{
	border: none;
	padding:  10px 20px;
}

@keyframes modal-fade-in{
	from{opacity: 0}
	to{opacity: 1}
}

@keyframes modal-fade-out{
	0%{opacity: 1; display: block;}
	99%{opacity: 0; display: block;}
	100%{display: none;}
}

.breadcrumbs{
	width: 100%;
	margin-bottom: 20px;
	margin-left: 50px;
	padding-top: 30px;
	text-align: left;
	font-size: 14px;
}

.breadcrumbs ul{
	margin: 0;
	padding: 0;
}

.breadcrumbs ul li{
	display: inline-block;
	padding: 0 10px;
	color: #727272;
}

.breadcrumbs ul li a{
	font-size: 14px;
	color: #727272;
}

/************* tag container ***************/
.tags-container > .tags {
	display: inline-block;
	padding: 5px 10px;
	font-size: 10px;
	background-color: #4183D7;
	color: #fff;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color .5s ; 
	
}

.tags-container > .tags:hover {
	background-color: #4183D7;
	transition: background-color .5s
}
.tags-container > .tags i {
	display: inline-block;
	margin-left: 5px;
}


a:focus, a, a:visited, a:active {
	text-decoration: none !important;
	
}

.icon-hover {
	transition: color 0.3s;
}

.icon-hover:hover {
	color: #999;
}
.font-400 {
	font-weight: 400 !important;
}
.view-content1 div label,
.view-content2 div label,
.view-content3 div label,
.edit-content1 div label,
.edit-content2 div label,
.edit-content3 div label,
.add-content1 div label,
.add-content2 div label,
.add-content3 div label {
	color: #4a4a4a;	
	font-weight: 500;
	margin-top: 3px;
}


.add-color-green{
	border-color: #52801c !important;
}


/*end Product Categories*/

.modal-container .modal-content .width-100per .display-inline-mid  .hierarchy-add,
.modal-container .modal-content .width-100per .display-inline-mid  .hierarchy-minus,
.modal-container .modal-content .width-100per .display-inline-mid  .hierarchy-up,
.modal-container .modal-content .width-100per .display-inline-mid  .hierarchy-down,
.modal-container .modal-content .width-100per .display-inline-mid  .hierarchy-minus i,
.modal-container .modal-content .width-100per .display-inline-mid  .hierarchy-up i,
.modal-container .modal-content .width-100per .display-inline-mid  .hierarchy-down i,
.modal-container .modal-content .width-100per .display-inline-mid  .hierarchy-down i {
	transition: all .5s;	
}

.modal-container .modal-content .width-100per .display-inline-mid  .hierarchy-add:hover,
.modal-container .modal-content .width-100per .display-inline-mid  .hierarchy-minus:hover,
.modal-container .modal-content .width-100per .display-inline-mid  .hierarchy-up:hover,
.modal-container .modal-content .width-100per .display-inline-mid  .hierarchy-down:hover {
	border-color: #a4a4a4 !important;

	transition: all .5s;
}


.modal-container .modal-content .width-100per .display-inline-mid  .hierarchy-add i:hover,
.modal-container .modal-content .width-100per .display-inline-mid  .hierarchy-minus i:hover,
.modal-container .modal-content .width-100per .display-inline-mid  .hierarchy-up i:hover,
.modal-container .modal-content .width-100per .display-inline-mid  .hierarchy-down i:hover{
	color: #a4a4a4 !important;
	
	transition: all .5s;
}


/*remove icon from accordion */
.panel-title.first-acc.active:before,
.panel-title.first-acc:before {
	content: '';
}

/* container for dropdown member selection */
.member-selection {
	position: relative;
	width: 300px;
}
.member-selection .member-container {
	background-color: #fff;
	border : 1px solid rgba(0,0,0,0.4);
	border-radius: 3px;
	cursor: pointer;
	height: 30px;
	padding: 5px;
	position: relative;
	text-align: left;
	width: 300px;
}
.member-selection .member-container p {
	margin: 3px !important;
	font-style: italic;

}
.member-selection .member-container i {
	font-size: 30px;
	position: absolute;
	right: 10px;
	top: -2px;
}


/* dropdown member selection */

.thumb_list_view{
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
}

.thumb_list_inner{
	padding: 10px 0 10px 10px;
}

.thumb_list_inner .profile p{
	margin-bottom: 0;
}

.thumb_list_inner, .thumb_list_inner img, .thumb_list_inner .profile, .thumb_list_view .check{
	display: inline-block;
	vertical-align: middle;
}

.thumb_list_view .check{
	height: 100%;
	background: #B8E986;
	text-align: center;
	display: none;
}

.thumb_list_inner img{
	margin-right: 10px;
}

.thumb_list_view.marked .check{
	display: inline-block;
	vertical-align: middle;
}

.thumb_list_view:hover, .thumb_list_view.marked{
	background: #efefef;
}

/**********************/

.thumb_list_view.large{
	height: 100px;
	width: 300px;
	margin: 5px;
}

.thumb_list_view.large .thumb_list_inner{
	width: 253px;
}

.thumb_list_view.large .thumb_list_inner .profile{
	width: 140px;
}

.thumb_list_view.large .thumb_list_inner .profile p{
	font-size: 12px;
}

.thumb_list_view.large .check{
	width: 43px;
}

.thumb_list_view.large .check img{
	width: 25px;
	margin: 37px auto;
}

.thumb_list_view.large .thumb_list_inner img{
	height: 80px;
}

/************************/

.thumb_list_view.small{
	height: 60px;	
	margin: 5px 0;
	text-align: left;
	width: 260px;
}

.thumb_list_view.small .thumb_list_inner{
	padding: 5px 0px !important;
	text-align: left;
	width: 227px;	
}

.thumb_list_view.small .thumb_list_inner .img-like {
	padding-left: 5px;
}
.thumb_list_view.small .thumb_list_inner .profile{
	width: 157px;
}

.thumb_list_view.small .thumb_list_inner .profile p{
	font-size: 11px;
}

.thumb_list_view.small .check{
	width: 30px;
}

.thumb_list_view.small .check img{
	width: 18px;
	margin: 22px auto;
}

.thumb_list_view.small .thumb_list_inner img{
	height: 50px;
}

.person_box_pop_up{
	position: static;
	height: auto;
	padding: 0 10px 10px;
	width: auto;
	display: none;
	right: 0;
	top: 150px;
	z-index: 10;
}

.image-like {
	display: inline-block;
	vertical-align: middle;
}

.person_box_pop_up > .container{
	position: relative;
	margin-top:-1px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
	height: auto;
	width: 100%;
	background: #fff;
	padding: 10px;
	border: solid 1px #aaa;
	z-index: 0;
}

.person_box_pop_up > .arrow{
	position: relative;
	margin-left: 360px;
	width: 20px;
	height: 15px;
	background-image: url(../images/ui/arrow_up.svg);
	z-index: 1;
}

.popup_person_list{
	border-radius: 3px;
	border: 1px solid rgba(0,0,0,0.5);
	background-color: #f8f8f8;
	margin-top: 10px;
	width: 100%;
	height: 260px;
	position: absolute;
	overflow: hidden;
	top: 20px;
	z-index: 10;
}

.popup_person_list_div{
	width: 100%;
	padding: 0 1%;
	display: inline-block;
	vertical-align: top;
	height: auto;
}

.popup_person_list_div:first-child{
	/*border: 1px solid rgba(0,0,0,0.3);*/
	height: 250px;
	overflow-x: hidden;
}


.person_box .time-history {
	margin: 0px;
}
.person_box .time-history div:nth-of-type(1) {
	display: block;
	width: 100%;
}

.person_box .time-history div:nth-of-type(1) p {
	text-align: left;
	display: block;
	font-weight: bold;
	font-size: 13px;
	margin-bottom : 5px;
}

.person_box .time-history .panel-user p  {
	font-size: 15px;
	font-weight: bold;
}

.person_box_pop_up.person-box .time-history {
	margin: 0px;
}
.person_box .time-history .form-input {
	width: 285px;
}
.person_box .time-history .form-group button {
	height: 35px;
}
.person_box_pop_up.person-box .time-history > form {
	padding-left: 12px;
}
.person_box_pop_up.person-box .time-history > form > .form-group {
	display: block;
	width: 100%;
	height: 20px;
}
.person_box_pop_up.person-box .time-history > form > .form-group p {
	margin: 0px;
	text-align: left;
	display: block;
	font-size: 15px;
}

.person_box_pop_up.person-box .time-history > form .form-input input {
	width: 100%;
}

.super-width-100per {
	width: 100% !important;
}


/* fixing datetime picker */
.fixed-datepicker .form-control.dp { width: 150px; }
.fixed-datepicker span { padding-top: 7px; }

.fixed-datepicker.small { width: 115px ; }
.fixed-datepicker.small .form-control.dp { width: 65px;}

.fixed-datepicker.semi-medium { width: 150px;  }
.fixed-datepicker.medium .form-control.dp { width: 100px;}

.fixed-datepicker.medium { width: 170px;  }
.fixed-datepicker.medium .form-control.dp { width: 120px;}

.fixed-datepicker.large { width: 230px; }
.fixed-datepicker.large .form-control.dp { width: 180px;} 

.fixed-datepicker.t-medium { width: 250px; }
.fixed-datepicker.large .form-control.dp { width: 200px;} 

.fixed-datepicker.t-large { width: 350px; }
.fixed-datepicker.large .form-control.dp { width: 300px;} 


.fixed-timepicker .form-control.dp { width: 145px; }
.fixed-timepicker span {
	padding: 2px 6px;
	width: 30px;
}

.fixed-timepicker.small { width: 115px ; }
.fixed-timepicker.small .form-control.dp { width: 65px;}

.fixed-timepicker.semi-medium { width: 150px;  }
.fixed-timepicker.medium .form-control.dp { width: 100px;}

.fixed-timepicker.medium { width: 170px;  }
.fixed-timepicker.medium .form-control.dp { width: 120px;}

.fixed-timepicker.large { width: 230px; }
.fixed-timepicker.large .form-control.dp { width: 180px;} 

.fixed-timepicker.t-medium { width: 250px; }
.fixed-timepicker.large .form-control.dp { width: 200px;} 

.fixed-timepicker.t-large { width: 350px; }
.fixed-timepicker.large .form-control.dp { width: 300px;} 

/* consignee-view-ongoin under storage asignment */
.storage-assign-panel .btn-hover-storage {
	background-color: rgba(0,0,0,0.3);
	opacity: 0;
	position: absolute;
	top: 0px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	transition: opacity .5s;
}
.storage-assign-panel .btn-hover-storage:after {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.storage-assign-panel .btn-hover-storage button  {
	display: inline-block;
	vertical-align: middle
}
.total-amount-storage {
	border-top: 5px solid #29AAE1;
	/*box-shadow: 1px 1px 5px rgba(0,0,0,0.5);*/
	font-weight: 500;
	padding: 5px 15px 15px 15px;
}
.total-amount-storage .first-text {
	float: left;
	font-size: 16px;
}	
.total-amount-storage .second-text {
	float: right;
	font-size: 16px;
	margin-right: 35px;
}

.super-width-100px {
	width: 100px !important;
}