html, body{
	padding: 0 !important;
	font-family: 'Roboto', Arial, sans-serif !important;
	/*height: 100%;*/
	background-color: #efefef;
}

header{
	position: relative;
	z-index: 1;
}

section{
	position: relative;
	min-height: calc(100% - 76px);
	z-index: 0;
	background: #efefef;
}

h1{
	margin: 20px 20px 0 ;
	font-size: 1.4em;
	font-weight: 300;
	text-transform: uppercase;
	color: #A1B289;
}

button{
	cursor: pointer;
	display: inline-block;
	margin: 0 2% 0;
	padding: 6px 30px;
	font-family: inherit;
	font-weight: 400%;
	line-height: 1.42857;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	border: 1px solid;
	outline: none;
}

button:hover,div.btn_login:hover,.active-outline:hover{
	background: #c2f48f;
	-webkit-animation: glow-in .3s linear forwards !important;
	-moz-animation: glow-in .3s linear forwards  !important;
	-ms-animation: glow-in .3s linear forwards !important;
	-o-animation: glow-in .3s linear forwards !important;
	animation: glow-in .3s linear forwards !important;
}

.button-spacing{
	margin-left: 5px;
}

/*forced bootstrap CSS*/

.clear{
	clear: both;
}

.navbar{
	background-color: #FFF !important;
	margin: 0 !important;
	border: none !important;
}

.navbar-nav a{
	padding: 25px 20px !important;
}

.white_bg{
	background-color: #fff !important;
}

.top_green_bg{
	background: #A2DB6A;
}

.green_bg:active, .green_bg:link, .green_bg:focus{
	background: #A2DB6A;
}

.green_bg:hover{
	background: #a9e46f !important;
}

.cyan_bg:active, .cyan_bg:link, .cyan_bg:focus{
	background: #7cd8bf;
}

.cyan_bg:hover{
	background: #83e3c9 !important;
}

.red_bg:active, .red_bg:link, .red_bg:focus{
	background: #e78f8f;
}

.red_bg:hover{
	background: #f29696 !important;
}

.orange_bg:active, .orange_bg:link, .orange_bg:focus{
	background: #f7a283;
}

.orange_bg:hover{
	background: #ffa888 !important;
}

.blue_bg:active, .blue_bg:link, .blue_bg:focus{
	background: #a0daf1;
}

.blue_bg:hover{
	background: #a8e5fd !important;
}

.d_blue_bg:active, .d_blue_bg:link, .d_blue_bg:focus{
	background: #6ea6e0;
}

.d_blue_bg:hover{
	background: #75afea !important;
}

.pink_bg:active, .pink_bg:link, .pink_bg:focus{
	background: #e679a2;
}

.pink_bg:hover{
	background: #f07faa !important;
}

.violet_bg{
	background: #838ff1;
}

.violet_bg:hover{
	background: #8995f9 !important;
}

.white_text{
	color: #fff !important
}

.red_text{
	color: red;
}

.blue_text{
	color: #86a9eb !important;
}

.green_text{
	color: #A1B289 !important;
}

.yellow_text{
	color: #ecb447 !important
}

.cyan_bg:hover, .orange_bg:hover, .blue_bg:hover, .d_blue_bg:hover, .green_bg:hover, .pink_bg:hover, .red_bg:hover, .violet_bg:hover{
	-webkit-animation: glow-in .3s linear forwards;
	-moz-animation: glow-in .3s linear forwards;
	-ms-animation: glow-in .3s linear forwards;
	-o-animation: glow-in .3s linear forwards;
	animation: glow-in .3s linear forwards;
}


/*Login forms*/
.container_center{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}

.container_center > div:first-child{
	height: 100%;
	display: inline-block;
}

.container_center > div{
	vertical-align: middle;
}

.actual_content_center{
	display: inline-block;
}

.login_panel, .quick_punch_panel{
	margin: 0 auto;
	min-height: 250px;
	width: 500px;
	border-radius: 25px;
}

.login_panel > div:first-child, .quick_punch_panel > div:first-child{
	width: 320px;
	margin: 0 auto;
	padding: 20px 0;
	text-align: center;
}

.login_panel div img, .quick_punch_panel div img{
	max-height: 80px;
	max-width: 150px;
}

.login_panel div.clear, .quick_punch_panel div.clear{
	padding: 0;
}

.login_panel div h2{
	font-size: 22px;
	color: #858386;
}

.login_panel div input, .quick_punch_panel div input{
	width: 100%;
	font-size: 14px;
	font-family: 'Roboto', Arial, sans-serif !important;
	border-top: none;
	border-left: none;
	border-right: none;
	border-color: #a9a8a6;
	color: #a9a8a6;
	outline: 0;
}

.login_panel div input:first-child{
	margin: 20px 0;
}

.quick_punch_panel div a.forgot,
.login_panel div a.forgot{
	float: left;
	margin-top: 5px;
	font-size: 12px;
}

.login_panel div.btns{
	margin-top: 15px;
}

.btn_login{
	height: 80px;
	width: 80px;
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	background: #abea68;
	border: none;
	font-size: 25px!important;
	margin: 0 15px;
	color: #636363;
	text-align: center!important;
}

.btn_login.big{
	font-size: 30px!important;
}

.btn_login.blue{
	background: #c0d7ff;
	font-size: 14px!important;
	line-height: 16px;
}

.btn_login.blue:hover{
	background: #d5e4ff;
}

.btn_login span{
	display: block;
}

.quick_punch_panel{
	color: #333;
}

.quick_punch_panel > div:first-child{
	width: 450px;
	padding-bottom: 20px;
}

.quick_punch_panel h2{
	font-size: 55px;
	margin-top: 0;
	margin-bottom: 20px;
	line-height: 50px;
}

.quick_punch_panel h2 span{
	font-size: 50%;
}

p.sys_comment{
	margin: 10px 0 30px;
	font-size: 20px;
	font-weight: 100;
}

p.date{
	margin: 30px 0 0;
	font-size: 18px;
}

.punch_panel{
	margin-bottom: 10px;
}

.punch_panel table tbody tr td{
	text-align: center;
	padding: 5px 2px;
}

.punch_opt{
	width: 65px;
	height: 65px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: #e8e8e8;
	border: 1px solid #cfcfcf;
	margin: 0 auto;
}

.punch_panel .active-outline,
.punch_panel .active{
	margin: 0 auto;
	color: #346401;
	background-color: #abea68;
	border: 1px solid #91cd53;
	width: 65px;
	height: 65px;
	border-radius: 50%;
	cursor: pointer;
}

.punch_panel .active-outline{
	background-color: #fff;
}

.punch_panel .active-outline p,
.punch_panel .active p{
	margin-top: 37%;
	font-size: 12px;
}

.punch_panel .active-outline:hover,
.punch_panel .active:hover{
	background-color: #c2f48f;
}

.punch_opt p{
	margin-top: 37%;
	font-size: 11px;
}

.quick_punch_panel div input{
	width: 48%;
	font-size: 14px;
}

.quick_punch_panel div input:first-child{
	margin-right: 2%;
}

.quick_punch_panel div a.forgot{
	float: right;
}

.quick_punch_panel .btns{
	margin-top: 30px;
}

.btns div{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	cursor: pointer;
}

.btns div p{
	margin-top: 27%;
}

.btn_login.big p,
.btns div p.two_line{
	margin-top: 28%;
}

.btn_login.big p{
	margin-top: 20%;
}

.btns div p a{
	color: #858386;
}

.btns div p a:hover{
	text-decoration: none;
}

.dashboard-btn{
	position: relative;
	display: inline-block;
	margin: 0 20px;
	padding: 20px;
	border-radius: 20px;
}

.dashboard-btn img{
	width: 50px;
}

p.db-text{
	display: inline-block;
	padding: 0;
	margin: 0 20px;
	width: 90px;
	font-size: 10px;
}

@media (max-width: 767px){
	.login_panel{
		width: 316px;

	}

	.login_panel > div:first-child{
		width: 250px;
	}

	.login_panel div img, .quick_punch_panel div img{
		max-height: 80px;
		max-width: 240px;
	}

	.btn_login{
		height: 80px;
		width: 80px;
		border-radius: 40px;
		font-size: 20px!important;
		margin: 0 10px;
	}

	.btn_login.blue{
		font-size: 15px!important;
		line-height: 18px;
	}

	.quick_punch_panel{
		width: 450px;
	}

	.quick_punch_panel > div:first-child{
		width: 400px;
		padding-bottom: 30px;
	}

	.punch_panel table tbody tr td{
		font-size: 12px;
	}

	.punch_panel .active,
	.punch_opt{
		width: 60px;
		height: 60px;
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
		border-radius: 30px;
	}

	.punch_panel .active{
		width: 85px;
		height: 85px;
		-webkit-border-radius: 45px;
		-moz-border-radius: 45px;
		border-radius: 45px;
	}

	.punch_panel .active p{
		margin-top: 37%;
		font-size: 15px;
	}

	.punch_opt p{
		margin-top: 37%;
		font-size: 10px;
	}
}

@media (max-width: 320px){
	.login_panel, .quick_punch_panel{
		border-radius: 0; 
	}

	.login_panel{
		width: 290px;
	}

	.login_panel div{
		padding: 0;
	}

	.login_panel div h2{
		margin-top: 10px; 
	}


	.quick_punch_panel div img,
	.login_panel div img{
		max-height: 50px;
		max-width: 300px;
	}

	.login_panel div input{
		width: 100%;
	}

	.login_panel div input:first-child{
		margin: 20px 0;
	}

	.container_center{
		left: -8px;
		top: 72px;
	}

	#bg_green{
		background: #fff;
	}

	.btn_login{
		height: 70px;
		width: 70px;
		border-radius: 35px;
		font-size: 16px!important;
		margin: 0 5px;
	}

	.btn_login.blue{
		font-size: 13px!important;
		line-height: 15px;
	}

	.quick_punch_panel{
		width: 290px;
		overflow-y: auto; 
	}

	.quick_punch_panel > div:first-child{
		width: 290px;
		height: 390px;
	}

	.punch_panel table tbody tr td{
		font-size: 11px;
	}

	.punch_panel table tbody tr td img{
		width: 10px;
	}

	.punch_panel .active,
	.punch_opt{
		width: 50px;
		height: 50px;
		-webkit-border-radius: 25px;
		-moz-border-radius: 25px;
		border-radius: 25px;
	}

	.punch_panel .active{
		width: 50px;
		height: 50px;
		-webkit-border-radius: 25px;
		-moz-border-radius: 25px;
		border-radius: 25px;
	}

	.punch_panel .active p{
		margin-top: 37%;
		font-size: 10px;
	}

	.punch_opt p{
		margin-top: 37%;
		font-size: 10px;
	}

	.quick_punch_panel h2{
		font-size: 40px;
		margin-bottom: 20px;
		line-height: 35px;
	}

	.quick_punch_panel h2 span{
		font-size: 50%;
	}

	p.date{
		margin: 15px 0 0;
		font-size: 15px;
	}

	.quick_punch_panel div a.forgot, .login_panel div a.forgot{
		font-size: 11px;
		margin-top: 10px;
	}

	.quick_punch_panel .btn{
		margin-bottom: 20px;
	}
}

.long-dash-line{
	min-width: 18px;
	max-width: 100px;
	height: 2px;
	background: #7b7b7b;
}


/*Pop-up*/
.pop-up{
	position: absolute;
	display: none;
	top: 73px;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: default;
	z-index: 1;
}

@media (min-width: 768px) {
	.pop-up{
		position: fixed;
		width: auto;
		height: auto;
		padding: 0 10px 10px;
	}
}

.pop-up > .arrow{
	position: relative;
	margin-left: 370px;
	
	width: 20px;
	height: 15px;
	background-image: url(../images/ui/arrow_up.svg);
	z-index: 1;
}

.pop-up > .top-container{
	position: relative;
	margin-top: -1px;
	width: 100%;
	background-color: #fff;
	border: solid 1px #aaa;
	z-index: 0;
}

.pop-up > .top-container > img.icon{
	display: inline-block;
	margin: 10px;
	vertical-align: top;
}

.pop-up > .top-container > h2{
	display: inline-block;
	margin: 10px 5px;
	font-size: 20px !important;
	color: #7B7B7B;
	vertical-align: top;
}

.pop-up > .top-container > h2 a{
	text-decoration: none;
	color: #7b7b7b;
}

.pop-up > .top-container > h2 a:hover{
	color: #7cd8bf;
}

.pop-up > .container{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	background: #FFF;
	border-style: none solid none;
	border-width: 1px;
	border-color: #aaa;
}

.pop-up > .container a.more{
	display: block;
	text-align: center;
	color: #aaa;
}

/*Announcement*/
@media (min-width: 768px) {
	.pop-up > .container{
		width: 400px;
		height: auto;
		max-height: 500px;
		-webkit-box-shadow: 0 5px 5px rgba(0,0,0,.3);
		-moz-box-shadow: 0 5px 5px rgba(0,0,0,.3);
		box-shadow: 0 5px 5px rgba(0,0,0,.3);
		overflow-y: auto;
		overflow-x: hidden;
	}
}

.pop-up > .container > .content{
	width: 100%;
	height: auto;
	padding: 10px;
	border-style: none none solid;
	border-width: 1px;
	border-color: #eee;	
}

.pop-up > .container > .content:nth-of-type(1){
	border-style: solid none solid;
	border-width: 1px;
	border-color: #eee;	
}

.pop-up > .container > .content:hover{
	background: #f5f5f5;
}

.pop-up > .container > .unread{
	background: #e7ffce;
}

.pop-up > .container > .content > a{
	display: block;
	padding: 0;
	margin: 0;
	text-decoration: none;
}


.pop-up > .container > .content > a > img.profile{
	display: inline-block;
	width: 50px;
	padding: 5px;
	vertical-align: top;
}

.pop-up > .container > .content > a > p{
	display: inline-block;
	margin: 0;
	padding: 10px 0 0; 
	font-size: 12px;
	color: #000;	
	width: 300px;
	vertical-align: top;
	cursor: pointer;
}

.pop-up > .container > .content > a > p.time-of-post{
	display: block;
	margin: 0 0 0 50px;
	padding: 0;
	font-size: 11px;
	color: #7B7B7B;
}

/*Navbar*/
.navbar-header{
	margin: 0 !important;
	width: 100% !important;
	background: #a2db6a; 
}

@media (min-width: 768px) {
	.navbar-header{
		width: 190px !important;
	}
}

.navbar-brand{
	height: 100%;
	margin: 0 !important;
	padding: 21px 10px !important;
}

.navbar-brand img.logo{
	height: 30px;
}

.navbar-toggle{
	margin-top: 20px !important;
}

.arrow-down{
	padding: 26px 10.5px !important;
}

.arrow-down:hover{
	background: #ade972;
	-webkit-animation: glow-in .3s linear forwards;
	-moz-animation: glow-in .3s linear forwards;
	-ms-animation: glow-in .3s linear forwards;
	-o-animation: glow-in .3s linear forwards;
	animation: glow-in .3s linear forwards;
}

.navbar-right{
	margin-right: 0 !important;
}

.navbar-right .announce{
	position: absolute;
	top: 15px;
	left: 32px;
	width: 20px;
	height: 20px;
	background: #fdff7a;
	border-radius: 50%;
	font-size: 10px;
	text-align: center;
	color: #000;
}

.container-fluid{
	padding: 0 !important;
}

.navbar-form-title{
	float: left;
}

.navbar-form-title img{
	width: 33px;
	height: 33px;
	margin-right: 15px;
}

.navbar-collapse{
	margin-left: 190px !important;
}

/*Time keeping*/
.img-profile{
	width: 130px;
}

.profile-info{
	display: inline-block;
	vertical-align: top;
	margin: 30px 0;
	width: auto;
	height: auto;
	text-align: left;
}

.profile-info > div{
	display: inline-block;
	width: auto;
	height: auto;
}

.profile-info > div:first-child{
	margin-right: 15px;
}

.profile-info > div p{
	color: #7B7B7B;
	font-size: .9em;
	line-height: 1em;
}

.time-history{
	width: 100%;
	margin: 30px 0 10px;
}

.time-history-tile{
	margin-left: 20px;
	padding-right: 30px;
}

.time-history .form-group{
	margin: 0 10px 0 0;
	display: inline-block;
	vertical-align: middle;
}

.time-history .form-group p{
	display: inline-block;
	font-size: 12px;
	margin: 0;
}

.time-history .form-input {
	width: 150px;
}

.time-history .form-group .form-text{
	border-radius: 5px;
}

.time-history p:nth-of-type(1n+2){
	margin-left: 10px;
}

.time-history button.default{
	display: inline-block;
	margin: 0 10px;
	padding: 0 10px;
	height: 22px;
	font-size: 12px;
	font-weight: 700;
	background: #b8e986;
	border: solid 1px #7ED321;
	border-radius: 10px;
	outline: 0;
}

.time-history button.btn-primary{
	padding: 10px 20px;
	font-size: 12px;
	font-weight: 500;
	background: #b8e986;
	border: solid 1px #7ED321;
	border-radius: 30px;
	outline: 0;
}

.time-history select{
	min-width: 80px;
	max-width: 120px;
	padding: 7px 0 7px 2px;
	font-size: 12px;
	font-weight: 500;
	border: solid 1px #ccc;
	border-radius: 5px;
	outline: 0;
}

.datetimepicker-widget th.switch{
	font-size: .8em !important;
}

.accordion-toggle{
	cursor: pointer;
}


.accordion-toggle > li{
	line-height: 20px;
}

.accordion-toggle > li a{
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 20px;
	color: #333;
	white-space: nowrap;
}

.accordion_form{
	width: 100%;
	margin-bottom: 10px;
	color: #727272;
}

.accordion_form label{
	width: 36%;
	margin: 0;
	padding-right: 1%;
	font-weight: 300;
	font-size: 12px;
}

.accordion_form input{
	width: 56%;
	border: solid 1px #979797;
	border-radius: 5px;
	padding: 6px 12px;
	font-size: 12px;
	outline: none;
}

.accordion_form input[type="text"].small{
	margin: 0;
	width: 45%;
	border-radius: 0 4px 4px 0;
}

.accordion_form span.chk-w-text{
	padding: 3px 12px 7px;
	border: solid 1px #ccc;
	border-radius: 4px 0 0 4px;
	background-color: #eee;
}

.accordion_form input[type="checkbox"]{
	margin: 0;
	width: 15px;
	height: 15px;
}

.accordion_form select{
	width: 56%;
	border: solid 1px #979797;
	border-radius: 5px;
	padding: 6px 12px;
	font-size: 12px;
	outline: none;
}

.accordion_form .form-group{
	display: inline-block;
	margin: 0 0 0 3px;
	width: 56%;
}

.accordion_form label, .accordion_form input, .accordion_form input[type="checkbox"], .accordion_form select{
	vertical-align: middle;
	display: inline-block;
}

.table-zenhours thead tr:nth-of-type(odd){
	background: #efefef !important;
}

.table-zenhours tr:nth-of-type(odd){
	background: #FFF !important;
}

.table-zenhours tr:nth-of-type(even){
	background: #efefef !important;
}

.table-zenhours th{
	width: 100px !important;
	font-size: 12px;
	color: #7B7B7B;
	text-align: center;
	padding-bottom: 20px !important;
	border-style: solid none none !important;
	border-color: #898989 !important;
	border-width: 5px !important;
}
	
.table-zenhours th:nth-of-type(2n+1){
	color: #393939;
	border-style: solid none none !important;
	border-color: #393939 !important;
	border-width: 5px !important;
}

.table-zenhours td{
	padding: 0 !important;
	max-width: 100px !important;
	border-color: #efefef !important;
	text-align: center !important;
}

.table-zenhours td.table-date > div{
	display: inline-block;
	margin: 10px 0 5px;
	width: 30%;
}

.table-zenhours td.table-line-text{
	padding: 0px !important;
	vertical-align: middle !important;
	font-size: 12px;
}

.table-zenhours td.table-date > div:first-child p{
	display: block;
	width: 50%;
	margin: 0 0 0 50% !important;
	font-size: 10px;
	line-height: 10px;
	color: #000;
	text-align: center;
}

.table-zenhours td.table-date > div:last-child p{
	display: block;
	margin: 0 0 0 5px;
	font-size: 25px;
	line-height: 30px;
	text-align: left;
	color: #000;
}

.table-zenhours td.table-date-time > div:first-child{
	display: inline-block;
	margin-top: 10px;	
	width: 80%
}

.table-zenhours td.table-date-time > div:first-child > p:first-child{
	display: block;
	margin: 5px 0 2px;
	font-size: 10px;
	line-height: 10px;
	color: #7B7B7B;
	text-align: center;
}

.table-zenhours td.table-date-time > div:first-child > p:last-child{
	display: block;
	margin: 0;
	font-size: 12px;
	color: #000;
	text-align: center;
}

.table-zenhours td.table-date-time > div:last-child{
	display: inline-block;
	width: 20%;
}

.table-zenhours td.table-date-time > div:last-child > img{
	vertical-align: top;
}

.table-zenhours td.table-double-digit{
	padding: 10px 0 10px !important;
}

.table-zenhours td.table-double-digit img{
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
	width: 40px;
}

.table-zenhours td.table-double-digit div{
	display: inline-block;
}

.table-zenhours td.table-double-digit > div p{
	margin: 0;
}

.table-zenhours td.table-double-digit > div p:last-child{
	color: #aaa;
}

.table-zenhours td > div.punch-button{
	padding-top: 22px !important;
	width: 55px !important;
	height: 55px !important;
	font-size: 10px !important;
	background: #b8e986 !important;
	border-radius: 50% !important;
	margin: 2px auto !important;
	text-align: center;
	cursor: pointer;
}

.table-zenhours td > div.punch-button:hover{
	background: #c2f48f !important;
	-webkit-animation: glow-in .3s linear forwards;
	-moz-animation: glow-in .3s linear forwards;
	-ms-animation: glow-in .3s linear forwards;
	-o-animation: glow-in .3s linear forwards;
	animation: glow-in .3s linear forwards;
}

.table-zenhours td > p.whole-number,
.table-zenhours td > p.over-number{
	margin: 8px 0;
	font-size: 30px;
}

.table-zenhours td > p.over-number{
	color: #86a9eb;
}

.table-hover{
	display: none;
	position: absolute;
	background: rgba(0,0,0,.5);
	text-align: center;
	z-index: 999;
}

.table-hover .middler{
	width: 0;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

.table-hover .button-container{
	position: relative;
	display: inline-block;
	margin: 0 auto;
	width: 100%;
	vertical-align: middle;
}

.table-hover .button-container p{
	display: inline-block;
	font-size: 20px;
	font-weight: 700;
	color: #fff;
}

.table-hover .button-container .button{
	display: inline-block;
	margin: 0 20px;
	padding: 10px 20px;
	font-size: 12px;
	border: solid 1px #7ED321;
	border-radius: 30px;
	background: #b8e986;
	cursor: pointer;
}

.table-hover .button-container .button:hover{
	-webkit-animation: glow-out .8s infinite alternate;
	-moz-animation: glow-out .8s infinite alternate;
	-ms-animation: glow-out .8s infinite alternate;
	-o-animation: glow-out .8s infinite alternate;
	animation: glow-out .8s infinite alternate;
}

.table-hover .button-container .button a{
	text-decoration: none;
}

.table-loadmore{
	bottom: 20px;
	margin: 20px auto 50px;
	padding: 5px 0;
	background: #FFF;
	font-size: 11px;
	color: #7B7B7B;
	text-align: center;
	cursor: pointer;
}

.table-loadmore:hover{
	background: #c2f48f;
	-webkit-animation: glow-in .3s linear forwards;
	-moz-animation: glow-in .3s linear forwards;
	-ms-animation: glow-in .3s linear forwards;
	-o-animation: glow-in .3s linear forwards;
	animation: glow-in .3s linear forwards;
}

.modal-container .modal-body .modal-content .image .camera:hover{
	opacity: 0.7;	
}
.modal-container .modal-content .edit-user:hover{
	opacity: 0.7;
}

.modal-container .modal-body .modal-content .show-password:hover{
	opacity: 0.7;
}

.bg-upload-image{
	background: url(../assets/images/profile/clarke.jpg);
	height: 130px;
	width: 130px;
	
}

p.status{
	margin-top: 20px;
	font-size: 12px;
}

a.text_link{
	color: #7ac4eb;
	text-decoration: underline;
	font-size: 14px;
}


.content h2,.content-tile h2{
	font-size: 20px !important;
	color: #7b7b7b;
	font-weight: 400;
}

.content-tile h2{
	margin-left:25px;
}

.content h2.left-most{
	margin-left:0;
}

.content > p{
	margin: -10px 0 20px;
	color: #7b7b7b;
	font-size: 12px;
	font-weight: 700;
}

.f_left{
	float: left !important;
}

.f_right{
	float: right !important;
}

.display_inline{
	display: inline-block;
}

.display_none{
	display: none;
}

.hor_divider{
	width: 90%;
	height: 1px;
	background-color: #c9c9c9;
	margin: 3% 0;
}

.clear{
	display: block;
	width: 0;
	height: 0;
	clear: both;
}

/*Width Tags*/

.width_15{
	width: 15%;
}

.width_18{
	width: 18%;
}

.width_20{
	width: 20%;
}

.width_40{
	width: 40%;
}

.width_50{
	width: 50%;
}

.width_80{
	width: 80%;
}

.width_85{
	width: 85%;
}

.margin_left{
	margin-left: 10%;
}

.margin_bottom_1{
	margin-bottom: 1%;
}

.margin_bottom_10{
	margin-bottom: 10%;
}

/*Setting Forms*/

.setting_form label{
	color: #686868;
	font-weight: 400;
	font-size: 12px;
}

.setting_form p{
	color: #686868;
}

.setting_form input{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #979797;
	font-size: 12px;
	padding: 2px;
	width: 65%;
}

/*Modal*/

.modal-dialog{
	margin: 0 auto !important;
	height: 100%;
}

.modal-dialog-small {
	margin: 0 auto;
	width: 600px;
	height: 100%;
}

.modal-dialog-large{
	margin: 0 auto;
	width: 900px;
	height: 100%;
}

.modal-dialog-large .modal-content,
.modal-dialog-large > div:last-child,
.modal-dialog .modal-content,
.modal-dialog > div:last-child{
	width: 100%;
    display: inline-block;
    vertical-align: middle;
}

.modal-dialog-large > div:last-child,
.modal-dialog > div:last-child{
	width: 0;
	height: 100%;
}

.modal-header{
	max-height: 53px;
	padding: 0;
	border-bottom: none;
}

.modal-title{
	line-height: 3;
	margin-left: 15px;
}

h4.modal-title{
	font-family: 'Roboto', 'Lato', Arial, sans-serif;
	color: #686868;
}

.modal-header .close{
	margin: 0;
}

button.close{
	background: #e4ae44;
	opacity: 1;
	margin: 0;
	padding: 15px;
}

.modal-sub-header{
	padding: 5px 0 10px;
	width: 100%;
	background: #686868;
}

.modal-sub-header p{
	margin: 0 40px;
	padding: 0;
	color: #fff;
	font-size: 30px;
	line-height: 30px;
	vertical-align: top;
}

.modal-sub-header p.sub{
	font-size: 14px;
	font-weight: 700;
	line-height: 12px;
}

.modal-content{
	border-radius: 0;
	border: none;
	box-shadow: none;
}

.modal-body{
	background: #f4f4f4;
}

.modal-body p{
	margin: 5px 10px 15px;
	font-size: 12px;
	line-height: 12px
}

.modal-body .fa{
	vertical-align: middle;
}

.modal-body .form-input{
	width: 150px;
}

.modal-body input[type="text"]{
	padding : 6px 10px;
	margin: 0 0 0 0px;
	width: 120px;
	font-size: 12px;
	border-radius: 4px;
	border: solid 1px #aaa;
}

.modal-body input.import{
	width: 60%;
	height: 25px;
	font-size: 12px;
}

.modal-body button{
	padding: 5px 10px;
	font-size: 12px;
	border-color: #4ea7e3;
	border-radius: 30px;
	background-color: #4ea7e3;
	color: #000;
	cursor: pointer;
}

.modal-body input[type="checkbox"],
.modal-body input[type="radio"]{
	margin: 0 5px;
	height: 15px;
	width: 15px;
	vertical-align: top;
}

.modal-body textarea{
	border: solid 1px #979797;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 100%;
	resize: none;
	height: 100px;
}

.modal-body .date-picker{
	margin: 0 5px;
	height: 15px;
	line-height: 1px;
}


.modal-body .dropdown-lg{
	width: 300px;
}

.modal-body .dropdown-md{
	width: 150px;
}


.modal-body .dropdown-sm{
	width: 100px;
}

.modal-body .dropdown-xs{
	width: 50px !important;
}

.modal-body table{
	padding: 0;
	margin: 10px 0;
}

.modal-body th.small,
.modal-body td.small{
	width: 50px !important;
	padding: 5px;
}

.modal-body td{
	width: 200px;
	min-width: 80px;
	padding: 5px;
}

.modal-body td.center{
	text-align: center;
}

.modal-body td input,.modal-body td i{
	vertical-align: middle;
}

.modal-body p.emp-name{
	margin: 10px 0 0;
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
}

.modal-body p.emp-pos{
	margin: 0;
	font-size: 12px;
	font-weight: 500;
	line-height: 12px;
}

.modal-body table.table-form tbody tr td:first-child{
	width: 100px;
}

/*Announcement*/
.modal_announcement_content{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.announce_poster{
 margin: 10px;
}

.seen_zone div,
.announce_poster div{
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	line-height: 15px;
}

.announce_poster div:first-child{
	width: 12%;
	margin-right: 2%;
}

.announce_poster div:last-child{
	width: 80%;
}

.announce_poster div h3{
	font-size: 18px;
	margin: 3px 0;
}

.announce_poster div p{
	margin: 3px 0;
}

.seen_zone div span,
.announce_poster div span{
	font-weight: 700;
}

.modal_announcement_content p.announce_view{
	max-height: 420px;
	background: url('../images/ui/notepad.png')repeat repeat;
	resize: none;
	border: none;
	width: 96%;
	font-size: 12px;
	padding: 2px 2px 2px 10px;
	line-height: 20px;
	margin-bottom: 30px;
}

.seen_zone div{
	vertical-align: bottom!important;
}

.seen_zone div:first-child{
	width: 65%;
	margin-right: 12%;
	margin-left: 10px;
}

.seen_zone div:last-child{
	width: 20%;
}

/*BTN TYPES*/
.btn:focus,.btn:active{
	box-shadow: none !important;
}

.btn-primary{
	background-color: #4ea7e3;
	border-radius: 30px;
	border-color: #4ea7e3;
	color: #000;
	background-image: none !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{
	background-color: #4ea7e3;
	border-color: #4ea7e3;
	color: #000;
}

.btn-default{
	border: none;
	color: #D91E18 !important;
	background-color: transparent !important;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	padding: 6px 15px;
	background-image: none !important;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default{
	color: #1d44a1;
	background-color: transparent;
}

.retract{
	margin: 0 15% 0 40% !important;
}

.btn-small{
	display: inline-block;
	margin: 0 10px;
	padding: 0 10px;
	height: 22px;
	font-size: 12px;
	font-weight: 400;
	background: #b8e986;
	border: solid 1px #7ED321;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	outline: 0;
	background-image: none !important;
}

.btn-small:hover, .btn-small:focus, .btn-small:active, .btn-small.active, .open .dropdown-toggle.btn-small{
	background: #c2f48f;
}

/*DROPDOWN*/

.dropdown {
	position: relative;
    padding: 2px 0;
   	margin: 2px 5px 0;
    min-width: 50px;
	background-color: #fff;
	border: solid 1px #979797;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: 12px;
	cursor: pointer;
}

.dropdown .handle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 5px;
}
.dropdown .handle:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 45%;
    margin-top: -3px;
    border: 0.5em solid transparent;
    border-top-color: #000;
}

.dropdown .list {
    position: absolute;
    top: 23px;
    background: white;
    border: 1px solid #cacfd2;
    width: 100%;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 300px;
    display: none;
}

.dropdown.active .list {
    display: block;
}

.option{
	margin-left: 5px;
}

.dropdown_small_input{
	width: 65%;
}

.payslip_view{
	display: inline-block;
	vertical-align: top;
	margin: 10px;
	width: 390px;
	background: #fff;
	border: 2px solid #d9d9d9;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	position: relative;
}

.payslip_inner{
	width: 320px;
	margin: 20px 35px;
	font-size: 10px;
}

.payslip_inner div{
	margin-bottom: 10px;
}

.payslip_inner div.clear{
	margin-bottom: 0;
}

p.p_margin_top{
	margin-top: 5px;
}

.center_text{
	text-align: center;
}

.right_text{
	text-align: right;
}

p.p_emp_no{
	font-size: 25px;
	color: #3599ef;
	line-height: 20px;
}

p.text_gray{
	color: #727272;
}

.p_list p.emphasized,
p.p_emp_name{
	font-size: 20px;
	line-height: 20px;
	font-weight: 500;
}

.p_list p,
p.p_released_date,
p.p_payroll_period{
	font-size: 12px;
	line-height: 15px;
}

p.p_label{
	margin-top: -6px;
}

p.p_released_date{
	color: #3599ef;
}

p.title{
	font-size: 16px;
	line-height: 15px;
	margin: 5px 0;
}

p.p_net_pay{
	text-align: center;
	font-size: 20px;
	line-height: 20px;
	margin: 20px 0;
	font-weight: 500;
}

table.tbl_payslip tbody tr{
	border: 1px solid #b3b3b3;
	background: #f4f4f4;
	font-size: 12px;
	line-height: 15px;
}

table.tbl_payslip tbody tr td{
	padding: 4px;
}

table.tbl_payslip tbody tr td:last-child{
	text-align: right;
}

.deduction{
	margin: 20px 0;
}

.leave_balances{
	min-height: 30px;
	background: #f4f4f4;
	border: 1px solid #b3b3b3;
	font-size: 12px;
	width: 100%;
	position: relative;
	cursor: pointer;
	margin-bottom: 0;
}

.leave_balances p{
	margin: 5px 0;
}

.arrow_down{
	position: absolute;
	right: 15px;
	background: url('../images/ui/arrow_down.svg')no-repeat;
	height: 15px;
	width: 15px;
	margin-top: -17px;
}

.leave_balances_view{
	display: none;
	width: 100%;
}

table.tbl_ytd{
	width: 80%;
	margin: 20px auto 0;
}

table.tbl_ytd tbody tr{
	border: none;
	background: #fff;
	font-size: 12px;
	line-height: 15px;
}

table.tbl_ytd tbody tr td{
	padding: 4px;
	text-align: left;
}

.filter_default{
	height: auto;
}

.filter_default .dropdown{
	width: 125px;
}

/*Tiles*/

.tile-fixer{
	margin: 10px 0;
}

.tile-fixer .col-sm-2,.tile-fixer .col-sm-3,.tile-fixer .col-sm-4,.tile-fixer .col-sm-6{
	padding: 0 5px!important 
}

.p_list{
	width: 100%;
	min-width: 295px;
	background: #fff;
	height: auto;
	border: 2px solid #d9d9d9;
	border-top-width: 4px; 
	border-bottom-left-radius: 4px;
	-webkit-border-left-radius: 4px;
	-moz-border-left-radius: 4px;
	border-bottom-right-radius: 4px;
	-webkit-border-right-radius: 4px;
	-moz-border-right-radius: 4px;
	padding: 10px;
	margin-bottom: 15px;
}

.p_list .info{
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.p_list .more-info,.p_list .more-info-side{
	display: none;
	margin: 0;
	padding: 0;
}

.p_list.pending{
	border-top-color: #3599ef;
}

.p_list.approved{
	border-top-color: #efe700;
}

.p_list.reject{
	border-top-color: #bb0011;
}

.p_list.pending .info p.status{
	color: #3599ef;
}

.p_list.approved .info p.status{
	color: #efe700;
}

.p_list.reject .info p.status{
	color: #bb0011;
}

.p_list .info .profile_img,
.p_list .info .profile{
	display: inline-block;
	vertical-align: top;
}

.p_list .info .profile{
	width: 70%;
}

.p_list .info .profile_img{
	width: 25%;
	border-radius: 50%;
	overflow: hidden;
}


.p_list .info p{
	margin: 0;
}

.p_list .info p.margin{
	margin-bottom: 15px;
}

.p_list .info p.emphasized{
	line-height: 25px;
}

.p_list .info .btn_options{
	margin-top: 20px;
}

.p_list .info .btn-default{
	margin-left: 20%;
	color: #b1051d;
}

.p_list .info .btn-default:hover, .p_list .info .btn-default:focus, .p_list .info .btn-default:active, .p_list .info .btn-default.active, .open .dropdown-toggle.p_list .info .btn-default{
	color: #db1530;
}

.btn-red{
	background-color: #b1051d;
	border-color: #730a18;
	border-radius: 30px;
	color: #fff;
}

.btn-red:hover, .btn-red:focus, .btn-red:active, .btn-red.active, .open .dropdown-toggle.btn-red{
	background-color: #c10e27;
	border-color: #730a18;
	color: #fff;
}

.p_list .info .notes{
	border-top: 2px dashed #d9d9d9;
	width: 100%;
	padding-top: 10px;
}

.p_list .info .alter{
	width: 45%;
	margin-right: 3%;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 20px;
	text-align: left;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus{
	outline: none;
	outline-offset: 0;
}

.main_margin{
	margin-top: 100px!important;
}

.p_list .info .bubble-arrow{
	margin: 5px 40px 0;
	width: 0;
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #d6e6ff;
}

.p_list .info p.bubble{
	display: block;
	margin: 0 auto;
	padding: 10px;
	width: 95%;
	background: #d6e6ff;
	border-radius: 10px;
	color: #7B7B7B;
}

.p_list .info p.message-date{
	padding: 0 20px;
	font-size: 10px;
	font-style: italic;
	color: #7B7B7B;
	text-align: right;
}

.p_list .info table{
	width: 100%;
	margin-top: 5px;
}


.p_list .info table td{
	padding: 5px;
	font-size: 12px;
	text-align: left;
}

.p_list .info .dash-line{
	margin: 10px 0;
	width: 100%;
	height: 1px;
	background: url("../images/ui/dash.svg") repeat-x;
}

.p_list .info .more-info-icon{
	width: 20px;
	height: 20px;
}

.p_list .info .info-hidden{
	display: none;
}

.modal-bg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	opacity: 0;
	z-index: 200;
	overflow-x: hidden;
	overflow-y: auto;

	-webkit-animation: fade-in .2s linear forwards;
	-moz-animation: fade-in .2s linear forwards;
	-ms-animation: fade-in .2s linear forwards;
	-o-animation: fade-in .2s linear forwards;
	animation: fade-in .2s linear forwards;
}

.modal-bg-hide{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	z-index: 200;

	-webkit-animation: fade-out .2s .5s linear forwards;
	-moz-animation: fade-out .2s .5s linear forwards;
	-ms-animation: fade-out .2s .5s linear forwards;
	-o-animation: fade-out .2s .5s linear forwards;
	animation: fade-out .2s .5s linear forwards;
}

.modal-flip-clone{
	position: absolute;
	z-index: 300;
}


.modal-enlarge{
	-webkit-animation: enlarge .8s linear forwards;
	-moz-animation: enlarge .8s linear forwards;
	-ms-animation: enlarge .8s linear forwards;
	-0-animation: enlarge .8s linear forwards;
	animation: enlarge .8s linear forwards;
}

.modal-unlarge{
	-webkit-animation: unlarge .8s linear forwards;
	-moz-animation: unlarge .8s linear forwards;
	-ms-animation: unlarge .8s linear forwards;
	-0-animation: unlarge .8s linear forwards;
	animation: unlarge .8s linear forwards;
}

.modal-flip-clone > .modal-content{
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 1;
}

.more-info-content{
	position: absolute;
	top: 0;
	left: 0;
	width: 143%;
	height: 143%;
	color: #000;
	z-index: 2;

	-webkit-transform: translate(-7.5%,-15%) scale(.7,.7);
	-moz-transform: translate(-7.5%,-15%) scale(.7,.7);
	-ms-transform: translate(-7.5%,-15%) scale(.7,.7);
	-o-transform: translate(-7.5%,-15%) scale(.7,.7);
	transform: translate(-7.5%,-15%) scale(.7,.7);
}

.more-info-content > .info .more-info-icon{
	display: none;
}

.more-info-content > .info .info-hidden{
	display: block;
}

.more-info-content p{
	font-size: 18px !important;
	line-height: 18px !important;
}

.more-info-content p.bubble{
	color: #555 !important;
	font-weight: 100;
}

.more-info-content p.message-date{
	margin-top: 5px;
	font-size: 14px !important;
	line-height: 14px !important;
	color: #555 !important;
}

.more-info-content button{
	margin-top: 10px;
}

.more-info-content button.btn-default{
	margin-left: 130px !important;
}

.more-info-right-container{
	position: absolute;
	left: 60.5%;
	width: 100%;
	height: 100%;
	z-index: 0;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg); 
	-ms-transform: rotateY(180deg); 
	-o-transform: rotateY(180deg); 
	transform: rotateY(180deg); 

	-webkit-animation: show-side-info .7s .3s ease-in forwards;
	-moz-animation: show-side-info .7s .3s ease-in forwards;
	-ms-animation: show-side-info .7s .3s ease-in forwards;
	-o-animation: show-side-info .7s .3s ease-in forwards;
	animation: show-side-info .7s .3s ease-in forwards;
}

.more-info-right-container-hide{
	position: absolute;
	left: 60.5%;
	width: 100%;
	height: 100%;
	z-index: 0;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg); 
	-ms-transform: rotateY(0deg); 
	-o-transform: rotateY(0deg); 
	transform: rotateY(0deg); 

	-webkit-animation: hide-side-info .3s .2s ease-in forwards;
	-moz-animation: hide-side-info .3s .2s ease-in forwards;
	-ms-animation: hide-side-info .3s .2s ease-in forwards;
	-o-animation: hide-side-info .3s .2s ease-in forwards;
	animation: hide-side-info .3s .2s ease-in forwards;
}

.more-info-right-content{
	position: relative;
	margin-left: 50%;
	width: 60%;
	height: 100%;

	-webkit-animation: right-content-bg-change .7s .3s ease-in forwards;
	-moz-animation: right-content-bg-change .7s .3s ease-in forwards;
	-ms-animation: right-content-bg-change .7s .3s ease-in forwards;
	-o-animation: right-content-bg-change .7s .3s ease-in forwards;
	animation: right-content-bg-change .7s .3s ease-in forwards;
}

.more-info-right-content-return{
	position: relative;
	margin-left: 50%;
	width: 60%;
	height: 100%;
	background:#fff;

	-webkit-animation: right-content-bg-return .2s ease-in forwards;
	-moz-animation: right-content-bg-return .2s ease-in forwards;
	-ms-animation: right-content-bg-return .2s ease-in forwards;
	-o-animation: right-content-bg-return .2s ease-in forwards;
	animation: right-content-bg-return .2s ease-in forwards;
}

.more-info-right-content-return > .box-content,
.more-info-right-content > .box-content{
	width: 100%;
	height: 100%;
	background: #efefef;
}

.more-info-right-content-return > .box-content > .top-content,
.more-info-right-content > .box-content > .top-content{
	width: 100%;
	font-size: 12px;
	background: #fff;
}

.more-info-right-content-return > .box-content > .top-content p,
.more-info-right-content > .box-content > .top-content p{
	padding: 10px 0 10px 5px;
	margin: 0;
	font-size: 12px;
}

.more-info-right-content-return > .box-content > .top-content > .modal-close,
.more-info-right-content > .box-content > .top-content > .modal-close{
	width: 37px;
	height: 37px;
	background: #e4ae44 url("../images/ui/modal_close_btn.png") 50% 50% no-repeat;
	cursor: pointer;
}

.more-info-right-content-return > .box-content > .top-content > .modal-close:hover,
.more-info-right-content > .box-content > .top-content > .modal-close:hover{
	background: #edb548 url("../images/ui/modal_close_btn.png") 50% 50% no-repeat;
}

.more-info-right-content-return > .box-content > .content,
.more-info-right-content > .box-content > .content{
	margin: 0;
	padding: 0 0 20px;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: #efefef;
	overflow-y: auto;
}

.more-info-right-content-return > .box-content > .content > p,
.more-info-right-content > .box-content > .content > p{
	margin: 10px 0 5px;
	font-size: 10px;
	font-weight: 700;
	color: #4a4a4a;
}

.more-info-right-content-return > .box-content > .content > p.text_field,
.more-info-right-content > .box-content > .content > p.text_field{
	margin: 10px 0 0 5px;
	font-size: 12px;
	font-weight: 500;
	line-height: 12px;
	text-align: left;
	color: #727272;
}

.more-info-right-content-return > .box-content > .content > p.text_entity,
.more-info-right-content > .box-content > .content > p.text_entity{
	margin: 0 0 0 5px;
	font-size: 12px;
	font-weight: 500;
	line-height: 12px;
	text-align: left;
	color: #000;
}

.more-info-right-content-return > .box-content > .content .cicle-back,
.more-info-right-content > .box-content > .content .cicle-back{
	position: relative;
	display: inline-block;
	width: 45px;
	height: 45px;
	background-color: #fff;
	border: solid 1px #4a4a4a;
	border-radius: 50%;
	z-index: 0;
}

.more-info-right-content-return > .box-content > .content .cicle-full-back,
.more-info-right-content > .box-content > .content .cicle-full-back{
	position: relative;
	display: inline-block;
	margin: 0 -10px;
	width: 45px;
	height: 45px;
	background-color: #b5bfcb;
	border-radius: 50%;
	z-index: 1;
	
}

.more-info-right-content-return > .box-content > .content .cicle-full-back p:first-child,
.more-info-right-content-return > .box-content > .content .cicle-back p:first-child,
.more-info-right-content > .box-content > .content .cicle-full-back p:first-child,
.more-info-right-content > .box-content > .content .cicle-back p:first-child{
	margin: 10px 0 0;
	font-size: 8px;
	line-height: 8px;
	color: #4a4a4a;
}

.more-info-right-content-return > .box-content > .content .cicle-full-back p:last-child,
.more-info-right-content-return > .box-content > .content .cicle-back p:last-child,
.more-info-right-content > .box-content > .content .cicle-full-back p:last-child,
.more-info-right-content > .box-content > .content .cicle-back p:last-child{
	margin: 2px 0 0;
	font-size: 20px !important;
	line-height: 20px !important;
	color: #4a4a4a;
}

.more-info-right-content-return > .box-content > .content > table,
.more-info-right-content > .box-content > .content > table{
	margin-top: 5px;
}


.more-info-right-content-return > .box-content > .content > table td,
.more-info-right-content > .box-content > .content > table td{
	padding: 5px;
	font-size: 8px;
	text-align: left;
}

.breadcrumbs_panel{
	margin-bottom: 20px;
}

.breadcrumbs_panel ul{
	padding: 0;
}

.breadcrumbs_panel ul li{
	display: inline-block;
	vertical-align: top;
	padding: 0 10px;
	color: #727272;
}

.breadcrumbs_panel ul li:first-child{
	padding-left: 0;
}

.breadcrumbs_panel ul li:last-child{
	font-weight: 700;
}

.breadcrumbs_panel ul li a{
	color: #727272;
}

.breadcrumbs_panel ul li:last-child span{
	padding-right: 20px;
	font-weight: bold;
	font-size: 24px;
	line-height: 0;
}

.breadcrumbs_panel ul li span{
	padding-right: 20px;
	font-size: 24px;
	line-height: 0;
}

.panel-body{
	border: none!important;
}

.accordion_view,
.accordion_custom{
	background-color: #fff;
	border-top: 5px solid;
	margin-bottom: 20px;
	position: relative;
}

.panel-collapse{
	height: 0;
}

.panel-heading a:hover, .panel-heading a:focus{
	text-decoration: none;
	outline: none;
	outline-offset: 0;
}

.panel-title{
	color: #727272;
	font-weight: 300;
}

.panel-title{
	margin-right: 10px;
	/*width: 15px;*/
	display: inline-block;
	position: relative;
	font-size: 22px;
	line-height: 0;
	font-weight: 700;
}

.panel-title span{
	font-size: 18px;
	font-weight: 300;
}

.panel-title:before{
	content: "+";
}

.panel-title.active:before{
	content: "-";
	font-size: 26px;
	line-height: 0;
}

.panel-title a{
	font-size: 18px;
	font-weight: 300;
	line-height: 18px;
}

.border_top.cyan{
	border-color: #7cd8bf;
}

.border_top.orange{
	border-color: #f7a283;
}

.border_top.pink{
	border-color: #e679a2;
}

.border_top.green{
	border-color: #a2db6a;
}

.border_top.maroon{
	border-color: #6e1823;
}

.thumb_view{
	width: 140px;
	margin: 0 22px 20px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	position: relative;
}

.thumb_view img{
	width: 130px;
	border: 5px solid transparent;
	border-radius: 65px;
	-webkit-border-radius: 65px;
	-moz-border-radius: 65px;
}


.thumb_hover:hover img{
	border-radius: 65px;
	-webkit-border-radius: 65px;
	-moz-border-radius: 65px;
	border: 5px solid #7cd8bf;
}

.thumb_view > p{
	line-height: 15px;
	margin-bottom: 0;
	font-size: 13px;
}

.filter_emp{
	margin: 5px 0 20px 0;
}

.filter_emp input{
	border: 1px solid #979797;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	font-size: 12px;
	padding: 2px;
}

p.profile_name{
	font-weight: 700;
}

.btn-filter{
	margin-right: 5px;
	height: 22px;
	width: 25px;
	text-align: center;
}

.btn-filter.active,
.btn-filter:hover{
	background-color: #ffffff;
}

.btn-filter img{
	cursor: pointer;
}

.navbar-collapse{
	height: 72px!important;
}

.tbody_padding tbody tr td{
	padding: 15px 5px!important;
	font-size: 12px;
}

.accordion_view{
	padding: 10px 15px;
}

.accordion_view .heading_panel{
	height: auto;
	padding-bottom: 20px;
}

.accordion_view .heading_panel h4{
	font-size: 18px;
	font-weight: 300;
	line-height: 18px;
	margin: 0;
}

.profile_view{
	position: relative;
	width: 150px;
	height: 150px;
	margin: 0 auto 40px;
}

.profile_view > div:first-child{
	width: 150px;
	margin: 0 auto 10px;
}

.profile_view > p.profile_name{
	font-size: 20px;
	margin-top: 10px;
}

.no_profile_img,
.browse_img{
	height: 150px;
	width: 150px;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.7);
	z-index: 9;
	color: #fff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	text-align: center;
	cursor: pointer;
	display: none;
}

.no_profile_img{
	display: block;
}


.no_profile_img img,
.browse_img img{
	width: 50px;
	margin: 25px auto 10px;
}

.no_profile_img p,
.browse_img p{
	margin-bottom: 2px;
	font-size: 18px;
	font-weight: 300;
	line-height: 14px;
}

.profile_view > div:first-child:hover .browse_img{
	display: block;
}

.profile_table{
	margin: -30px auto 0;
}

.profile_table tbody tr td input{
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border: 1px solid #979797;
	font-size: 12px;
	padding: 2px;
}

.profile_table tbody tr td:first-child{
	text-align: right;
	padding: 6px;
	font-size: 12px;
}

.profile_table tbody tr td:nth-child(2){
	text-align: left;
}

.profile_table .dropdown{
	width: 155px;
}

.btn-delete{
	position: absolute;
	top: 1px;
	right: 2px;
	width: 15px;
	display: none;
}

.btn-delete img{
	width: 12px;
	border-radius: 0;
	border: none;
	cursor: pointer;
}

.btn-delete img:hover{
	width: 15px;
}

.thumb_hover:hover .btn-delete{
	display: block;
}

.thumb_hover:hover .btn-delete img{
	border-radius: 0;
	border: none;
}

.table-zenhours thead tr th i{
	display: inline-block;
	margin-left: 10px!important;
	cursor: pointer;
}

.manage-timelog a{
	color: #686868;
}

.profile-info.no_shift{
	margin: 45px 0;
}

.popover{
	text-align: center;
}

p.p_12{
	font-size: 12px;
}

.modal-sub-header sub{
	bottom: 0;
}

.table-hover .button-container.center.edit{
	margin-left: 39%;
}

/*THUMB LIST*/

.thumb_list_view{
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
}

.thumb_list_inner{
	padding: 10px 0 10px 10px;
}

.thumb_list_inner .profile p{
	margin-bottom: 0;
}

.thumb_list_inner, .thumb_list_inner img, .thumb_list_inner .profile, .thumb_list_view .check{
	display: inline-block;
	vertical-align: middle;
}

.thumb_list_view .check{
	height: 100%;
	background: #B8E986;
	text-align: center;
	display: none;
}

.thumb_list_inner img{
	margin-right: 10px;
}

.thumb_list_view.marked .check{
	display: inline-block;
	vertical-align: middle;
}

.thumb_list_view:hover, .thumb_list_view.marked{
	background: #efefef;
}

/**********************/

.thumb_list_view.large{
	height: 100px;
	width: 300px;
	margin: 5px;
}

.thumb_list_view.large .thumb_list_inner{
	width: 253px;
}

.thumb_list_view.large .thumb_list_inner .profile{
	width: 140px;
}

.thumb_list_view.large .thumb_list_inner .profile p{
	font-size: 12px;
}

.thumb_list_view.large .check{
	width: 43px;
}

.thumb_list_view.large .check img{
	width: 25px;
	margin: 37px auto;
}

.thumb_list_view.large .thumb_list_inner img{
	height: 80px;
}

/************************/

.thumb_list_view.small{
	height: 70px;
	width: 275px;
	margin: 5px 0;
}

.thumb_list_view.small .thumb_list_inner{
	width: 241px;
}

.thumb_list_view.small .thumb_list_inner .profile{
	width: 157px;
}

.thumb_list_view.small .thumb_list_inner .profile p{
	font-size: 11px;
}

.thumb_list_view.small .check{
	width: 30px;
}

.thumb_list_view.small .check img{
	width: 18px;
	margin: 28px auto;
}

.thumb_list_view.small .thumb_list_inner img{
	height: 50px;
}


/*THUMB LIST*/

.person_box_pop_up{
	position: absolute;
	height: auto;
	padding: 0 10px 10px;
	width: auto;
	display: none;
	right: 0;
	top: 150px;
	z-index: 10;
}

.person_box{
	width: 650px;
	height: 500px;
}

.person_box_pop_up > .container{
	position: relative;
	margin-top:-1px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
	height: auto;
	width: 100%;
	background: #fff;
	padding: 10px;
	border: solid 1px #aaa;
	z-index: 0;
}

.person_box_pop_up > .arrow{
	position: relative;
	margin-left: 555px;
	width: 20px;
	height: 15px;
	background-image: url(../images/ui/arrow_up.svg);
	z-index: 1;
}

.popup_person_list{
	margin-top: 10px;
	width: 100%;
	height: 300px;
	overflow-y: auto; 
}

.popup_person_list_div{
	width: 49%;
	padding: 0 1%;
	display: inline-block;
	vertical-align: top;
	height: auto;
	/*background: #000;*/
}

.popup_person_list_div:first-child{
	border-right: 2px solid #e5e5e5;

}

/*CSS ADDED 20140523*/

.notepad{
	width: 100%;
	margin-top: 10px;
	background: #fff;
	height: 600px;
	box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.3);
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}

.notepad_inner{
	width: 95%;
	margin-left: 5%;
	padding: 20px 10px 20px 0; 
	height: 100%;
	border-left: 4px solid #e5e5e5; 
	color: #686868;
}

input.announce_title{
	font-size: 22px;
	padding: 2px 2px 2px 10px;
	border: none;
	width: 100%;
}

.text_editor{
	margin: 10px;
}

.text_deco{
	display: inline-block;
	vertical-align: middle;
	padding: 3px 0 0;
	height: 25px;
	width: 25px;
	cursor: pointer;
	text-align: center;
}

.text_deco i{
	font-size: 14px;
}

.text_deco.active,
.text_deco:hover{
	background: #efefef;
}

.notepad_inner textarea{
	height: 420px;
	background: url('../images/ui/notepad.png')repeat repeat;
	resize: none;
	border: none;
	width: 100%;
	font-size: 12px;
	padding: 2px 2px 2px 10px;
	line-height: 20px;
	margin-bottom: 30px;
	outline: none;
}

.div_announce{
	width: 48%;
	display: inline-block;
	vertical-align: top;
	padding-right: 1%;
}

.div_announce:first-child{
	padding-right: 2%;
}

.div_announce_list{
	width: 100%;
	background: #fff;
	height: auto;
	padding: 10px;
	border-top: 4px solid #7cd8bf;
	color: #686868;
	font-size: 12px;
	margin-bottom: 10px;
}

.div_announce_list h3{
	font-size: 18px;
	margin-top: 0;
}

.div_announce_list .posted{
	border-top: 2px dashed #d9d9d9;
	width: 100%;
	padding-top: 10px;
}

.posted img{
	display: inline-block;
	vertical-align: super;
	width: 50px;
	padding-right: 5px;
}

.posted .poster{
	font-size: 11px;
	display: inline-block;
	vertical-align: center;
}

.posted .poster p{
	margin-bottom: 0;
}

.text_black{
	color: #000;
}

.more_info{
	margin-top: 5px;
	cursor: pointer;
}

ul.pagination_table{
	width: auto;
	margin: 0 auto;
}

ul.pagination_table li{
	list-style: none;
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	font-weight: bold;
}

ul.pagination_table li a{
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	color: #7b7b7b;
	margin-right: 5px;
	padding: 5px 10px;
	background-color: #d4d4d4;
}

ul.pagination_table li a.active{
	background-color: #B8E986;
}

/*ANIMATIONS*/

/*buttom glow-out*/
@-webkit-keyframes glow-out {to {-webkit-box-shadow: 0 0 10px rgba(255,255,255,.7);}}
@-moz-keyframes glow-out {to {-moz-box-shadow: 0 0 10px rgba(255,255,255,.7);}}
@-ms-keyframes glow-out {to {box-shadow: 0 0 10px rgba(255,255,255,.7);}}
@-o-keyframes glow-out {to {box-shadow: 0 0 10px rgba(255,255,255,.7);}}
@keyframes glow-out {to {box-shadow: 0 0 10px rgba(255,255,255,.7);}}

/*buttom shadow*/
@-webkit-keyframes glow-in {to {-webkit-box-shadow:  0 5px 10px rgba(0,0,0,.5);}}
@-moz-keyframes glow-in {to {-moz-box-shadow:  0 5px 10px rgba(0,0,0,.5);}}
@-ms-keyframes glow-in {to {box-shadow:  0 5px 10px rgba(0,0,0,.5);}}
@-o-keyframes glow-in {to {box-shadow:  0 5px 10px rgba(0,0,0,.5);}}
@keyframes glow-in {to {box-shadow:  0 5px 10px rgba(0,0,0,.5);}}

/*elem fade-in (modal tile bg)*/
@-webkit-keyframes fade-in {to {opacity: 1}}
@-moz-keyframes fade-in {to {opacity: 1}}
@-ms-keyframes fade-in {to {opacity: 1}}
@-o-keyframes fade-in {to {opacity: 1}}
@keyframes fade-in {to {opacity: 1}}

/*elem fade-out (modal tile bg)*/
@-webkit-keyframes fade-out {to {opacity: 0}}
@-moz-keyframes fade-out {to {opacity: 0}}
@-ms-keyframes fade-out {to {opacity: 0}}
@-o-keyframes fade-out {to {opacity: 0}}
@keyframes fade-out {to {opacity: 0}}

/*SHOW MODAL FORM - MODAL TILE*/

@-webkit-keyframes enlarge {from{-webkit-transform: scale(1,1);}to{-webkit-transform: scale(1.5,1.5);}}
@-moz-keyframes enlarge {from{-moz-transform: scale(1,1);}to{-moz-transform: scale(1.5,1.5);}}
@-ms-keyframes enlarge {from{-ms-transform: scale(1,1);}to{-ms-transform: scale(1.5,1.5);}}
@-o-keyframes enlarge {from{-o-transform: scale(1,1);}to{-o-transform: scale(1.5,1.5);}}=
@keyframes enlarge {from{transform: scale(1,1);}to{transform: scale(1.5,1.5);}}

/*show side info (modal tile)*/
@-webkit-keyframes show-side-info{0%{-webkit-transform: rotateY(180deg); }100%{-webkit-transform: rotateY(0deg);}}
@-moz-keyframes show-side-info{0%{-moz-transform: rotateY(180deg); }100%{-moz-transform: rotateY(0deg);}}
@-ms-keyframes show-side-info{0%{-ms-transform: rotateY(180deg); }100%{-ms-transform: rotateY(0deg);}}
@-o-keyframes show-side-info{0%{-o-transform: rotateY(180deg); }100%{-o-transform: rotateY(0deg);}}
@keyframes show-side-info{0%{transform: rotateY(180deg); }100%{transform: rotateY(0deg);}}

/*change side info bg-color (modal tile)*/
@-webkit-keyframes right-content-bg-change{66%{background:#ddd}100%{background:#fff}}
@-moz-keyframes right-content-bg-change{66%{background:#ddd}100%{background:#fff}}
@-ms-keyframes right-content-bg-change{66%{background:#ddd}100%{background:#fff}}
@-o-keyframes right-content-bg-change{66%{background:#ddd}100%{background:#fff}}
@keyframes right-content-bg-change{66%{background:#ddd}100%{background:#fff}}

/*HIDE MODAL FORM - MODAL TILE*/

@-webkit-keyframes unlarge {from{-webkit-transform: scale(1.5,1.5);}to{-webkit-transform: scale(1,1);}}
@-moz-keyframes unlarge {from{-moz-transform: scale(1.5,1.5);}to{-moz-transform: scale(1,1);}}
@-ms-keyframes unlarge {from{-ms-transform: scale(1.5,1.5);}to{-ms-transform: scale(1,1);}}
@-o-keyframes unlarge {from{-o-transform: scale(1.5,1.5);}to{-o-transform: scale(1,1);}}
@keyframes unlarge {from{transform: scale(1.5,1.5);}to{transform: scale(1,1);}}

/*hide side info (modal tile)*/
@-webkit-keyframes hide-side-info{0%{-webkit-transform: rotateY(0deg); }100%{-webkit-transform: rotateY(180deg);}}
@-moz-keyframes hide-side-info{0%{-moz-transform: rotateY(0deg); }100%{-moz-transform: rotateY(180deg);}}
@-ms-keyframes hide-side-info{0%{-ms-transform: rotateY(0deg); }100%{-ms-transform: rotateY(180deg);}}
@-o-keyframes hide-side-info{0%{-o-transform: rotateY(0deg); }100%{-o-transform: rotateY(180deg);}}
@keyframes hide-side-info{0%{transform: rotateY(0deg); }100%{transform: rotateY(180deg);}}

/*change side info bg-color (modal tile)*/
@-webkit-keyframes right-content-bg-return {66%{background:#fff}100%{background:#ddd}}
@-moz-keyframes right-content-bg-return {66%{background:#fff}100%{background:#ddd}}
@-ms-keyframes right-content-bg-return {66%{background:#fff}100%{background:#ddd}}
@-o-keyframes right-content-bg-return {66%{background:#fff}100%{background:#ddd}}
@keyframes right-content-bg-return {66%{background:#fff}100%{background:#ddd}}

/*JV*/
input.check_margin{
	margin-bottom: 8px;
}

.width_60{
	width: 60% !important;
}

.company-title{
	color: #727272;
	font-weight: 300;
}

.company-title{
	margin-right: 10px;
	/*width: 15px;*/
	display: inline-block;
	position: relative;
	font-size: 22px;
	line-height: 0;
	font-weight: 700;
}

.company-title span{
	font-size: 18px;
	font-weight: 300;
	color: #00adef;
}

.border_top.blue{
	border-color: #00adef;
}

hr.company_info_divider{
	color: #7b7b7b;
	width:95%;
}

p.description{
	font-size: 12px;
	color: #727272;
}

tr.bg_color{
	background-color: #c2c2c2;
}

.tile_max_height{
	padding-bottom: 143px;
 }

 td.table_config_first_child{
 	width: 20%;
 	text-align: left !important
 }

 td.table_content_left_align{
 	text-align: left !important;
 	width: 40%;
 }

 table.thick_borders{
 	border-top: 2px solid #7b7b7b;
 	border-bottom: 2px solid #7b7b7b; 
 	vertical-align: middle;
 }

 .padding_10{
 	padding: 10px;
 }

 .margin-top{
 	margin-top: 20px;
 }

 .margin_right_15{
 	margin-right: 15px;
 }

 .margin_bottom_5{
 	margin-bottom: 5px; 
 }

label.chkbox {
	display: inline-block;
}

td.table_small{
	background-color: #efefef;
}

input.chk{
	width: 6%;
}

label.chk{
	width:55%;
}

.dropdown_small{
	width: 65%;
	margin: 0 auto;
}

.configure{
	text-align: center;
}

.placeholder_no_margin{
	margin-bottom: 0 !important;
}

.parent_container{
	width: 100%;
	margin: 0 auto;
	min-height: 100%;
	height: 100%;
	background-color: red;
	position: relative;
}

.custom_container,
.custom_container_big{
	background-color: #fff;
	border-top: 5px solid #00adef;
	width: 48.8%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.custom_container_big{
	width: 100%;
	border-top: 0px solid #00adef;
}

.custom_panel_heading{
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.custom_company_title{
	margin-right: 10px;
	display: inline-block;
	position: relative;
	font-size: 22px;
	line-height: 0;
	font-weight: 700;
}

.custom_company_title span{
	font-size: 18px;
	font-weight: 300;
	color: #00adef;
}

.margin_container{
	margin: 5px;
}

.custom_panel_body{
	border: none!important;
}

th.checkbox_width_small{
	width: 10px !important;
}

.dropdown_big{
	width: 330px !important;
}

.container_header{
	width:100%;
}

p.p_header{
	font-size: 20px;
	color: #7b7b7b !important;
	font-weight: 100;
}

a.link_gray{
	color: #7b7b7b;
	margin-right: 5px;
}

.spacing_bottom{
	margin-bottom: 40px;
}

input.small_datepicker{
	width: 150px;
}

label.small_label{
	width: 10%;
}

input.radio_margin{
	margin-bottom: 11px;
}

.modal_50{
	width: 50em;
}

.modal_custom_big{
	width: 57.2em !important;
	margin-top: 100px;
}

.rad_width{
	width: 30% !important;
}

input.rad_width{
	width: 3% !important;
}

.margin_small_bottom{
	margin-bottom: 15px;
}

input.rad_width_3{
	width: 2%;
}

h2.title{
	margin-right: 10px;
	/*width: 15px;*/
	display: inline-block;
	position: relative;
	font-size: 22px;
	line-height: 0;
	font-weight: 300;
	color: #7b7b7b;
}

.margin_bottom_15{
	margin-bottom: 15px;
}

label.label_15{
	width: 15% ;
}

input.input_30{
	width: 30%;
}

label.label_12{
	width: 12%;
}

label.label_10{
	width: 10%;
}

label.label_8{
	width: 8%;
}

label.label_9{
	width: 9%;
}

.dropdown_width_15{
	width: 15% !important;
	margin-right: 5px;
}

.dropdown_width_8{
	width: 8% !important;
	margin-right: 5px;
}

.dropdown_middle{
	margin-bottom: 3px;
}

.margin_bottom_20{
	margin-bottom: 20px;
}

.margin_bottom_5{
	margin-bottom: 5px;
}

.margin_bottom_15{
	margin-bottom: 8px;
}

th.width_table_irregular_small{
	width: 10% !important;
}

.margin_bottom_8{
	margin-bottom: 8%;
}

label.width_55{
	width: 55%;
}

.custom_height{
	height: 100% !important;
}

.main_container{
	width: 100%;
	background-color: #fff;
}

.border_blue{
	border-top: 5px solid #00adef;
	width: 103.6%;
	display: inline-block;
}

.sub_container{
	width:49%;
	display: inline-block;
	height: 100%;
	vertical-align: top;
	background-color: #fff;
}

a.margin_button_right{
	margin-right:15px;
}

.right-side_spacing{
	border-right: 17px solid #fff;
}

.left_side_spacing{
	border-left: 17px solid #efefef;
}

input.rad_width_custom{
	width: 20%;
}

input.radio_margin_custom{
	margin-bottom: 6px;
}

label.label_13{
	width: 13%;
}

input.margin_spacing_rad{
	margin-bottom: 5px;
	margin-left: 10px;
	display: inline-block;
}

label.label_80{
	width: 80% !important;
}

input.rad_width_9{
	width: 9%;
}

label.label_13_5{
	width: 13.5%;
}

.margin_left_3{
	margin-left: 3px;
}

.margin_right_3{
	margin-right: 3px !important;
}

/*THUMB LIST*/

.break_hours_box_pop_up{
	padding: 0 10px 10px;
	width: auto;
	position: absolute;
	/* right: 0; */
	top: 218px;
	z-index: 1;
}

.break_hours_box_0,
.break_hours_box_1,
.break_hours_box_2,
.break_hours_box_3,
.break_hours_box_4,
.break_hours_box_5,
.break_hours_box_6{
	width: 700px;
	height: 200px;
	overflow: hidden;
	display: none;
}

.break_hours_box_pop_up > .arrow2{
	position: relative;
 	margin-left: 610px; 
 	width: 20px;
 	height: 15px;
 	background-image: url(../images/ui/arrow_up2.svg);
 	z-index: 1;
}

.break_hours_box_pop_up > .container2{
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
	height: 165px;
	width: auto;
	z-index: 0;
	background-color: #F6F6F6;
	border: solid 1px #979797;
	padding: 15px;
	margin-top: -1px;
}

label.margin_left_20{
	margin-left: 20px;
}

.cancel_spacing{
	width: 100%;
	margin-right: 38px;
	margin-top: 10px;
}

.width_130{
	width:130px;
}

a.gear{
	font-size: 17px;
}

a.gear_disable{
	font-size: 17px;
	color: #7b7b7b;
}

.restricted_parent_container{
	padding: 10px 0;
	background-color: #B8E986;
	border: solid 1px #7a7a7a;
	width:95%;
	margin: 0 auto;
}

label.label_15{
	width: 15% !important;
}

input.input_30{
	width: 30% !important;
}

label.label_12{
	width: 12% !important;
}

label.label_10{
	width: 10% !important;
}

label.label_8{
	width: 8% !important;
}

label.label_9{
	width: 9% !important;
}

.custom_template{
	height: 0;
	overflow: hidden;
}

.custom_template > .custom_template_contents{
	margin-top: -20px;
	height: 250px;
	overflow: auto;
}

/*time and attendance 2014-06-11*/
.table-panel{
	position: relative;
	width: 100%;
	height: auto;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #fff;
	border-top: solid 4px #3599ef;
	overflow: hidden;
}

.table-total{
	margin-top: 20px;
	width: 100%;
	text-align: right;
}


.table-panel img{
	display: inline-block;
	max-width: 60px;
}

.table-panel .profile-wrapper{
	position: relative;
	display: inline-block;	
}

.table-panel .name-panel{
	display: inline-block;
	width: 200px; 
	margin: 0 20px;
	vertical-align: middle;
}

.table-panel .name-panel > p:first-child{
	margin: 0;
	font-size: 15px;
	font-weight: 700;
}

.table-panel .name-panel > p:last-child{
	margin: 0;
	font-size: 11px;
	font-weight: 500;
}

.table-panel .info-wrapper{
	position: absolute;
	display: inline-block;
	overflow: hidden;
}

.table-panel .info{
	width: 1500px;
	height: 70px;
	margin-top: 10px;
}

.table-panel .info > .time-panel{
	display: inline-block;
	margin: 0 20px;
	vertical-align: middle;
}


.table-panel .info > .time-panel > p{
	margin: 0 0 15px;
	font-size: 10px;
	font-weight: 700;
	line-height: 0px;
}

.table-panel .info > .time-panel > .digits,
.table-total > .digits{
	display: inline-block;
	margin-right: 10px;
}

.table-panel .info > .time-panel > .digits > p:first-child,
.table-total > .digits > p:first-child{
	margin: 0;
	font-size: 10px;
	font-weight: 500;
	line-height: 5px;
}

.table-panel .info > .time-panel > .digits > p:last-child,
.table-total > .digits > p:last-child{
	margin: 0;
	font-size: 22px;
	text-align: right;
	line-height: 34px;
}

.table-scroll-bg{
	position: fixed;
	width: 100%;
	height: 50px;
	bottom: 0;
	z-index: 8888;
	background-color: #efefef;
}

.table-scroll{
	position: fixed;
	bottom: 10px;
	right: 60px;
	height: 20px;
	background-color: #A1B289;
	z-index: 9999;
}

.table-scroll > .scroll-tab{
	position: absolute;
	width: 100px;
	min-width: 100px;
	height: 100%;
	background-color: #b6c99c;
	cursor: e-resize;
}

/*Added 2014-06-12*/

.table-scroll > .scroll-btn-arrow{
	width: 20px;
	height: 20px;

}

.top-profile-wrapper{
	margin-top : 5px;
	height : 60px;
}

.top-profile-wrapper .profile-pic{
	margin : 0 5px;
	display : inline-block;
	vertical-align: middle;
	width: 50px;
}

.top-profile-wrapper .profile-name{
	margin : 0 5px;
	display : inline-block;
	vertical-align: middle;
}

.top-profile-wrapper .profile-name p{
	font-size: 12px
}

.top-profile-wrapper .middler{
	display : inline-block;
	vertical-align: middle;
	width: 0;
	height: 100%;
}

td.align-left{
	text-align: left !important;
}

td.profile-box{
	width: 200px;
}

.loan-info{
	width: 100%;
}

.loan-info > div{
	display: inline-block;
	vertical-align: top;
	width: 25%;
}

.push-to-bottom{
	position: relative;
	margin-top: 100%;
}

.inside-btn-primary{
	padding: 4px 10px !important;
}

.status-generated{
	color: #f5a623 !important;
}

.status-released{
	color: #417506 !important;
}

.table-loadmore2{
	margin-bottom: 0 !important;
}

.h2_subtitle{
	color: #7b7b7b !important;
	margin-left: 25px;
	font-size: 12px !important;
}

.h2_with_subtitle{
	margin-bottom: 0 !important;
}

.accordion_like{
	color: #00adef;
	font-size: 18px;
	margin: 10px 0px 20px 0 !important;
	font-weight: normal;
	float: left;
}

.width_50_per{
	width: 50% !important;
}

.width_58_per{
	width: 50.7% !important;
}

.border_blue2{
	width: 100%;
	display: inline-block;
	border-top: 5px solid #00adef;
}

.a_margin_rollback{
	margin: 0 !important;
}

.tbody_padding tbody tr td:first-child {
	text-align: left !important;
	padding-left: 10px !important;
}

.tbody_last_child tbody tr td:last-child {
	text-align: left !important;
	padding-left: 10px !important;
}

.margin_bottom_push{
	margin-bottom: 12px !important;
}

.magrin_top_add{
	margin-top: 20px !important;
}


/*June 6.16.2014*/
.modal-body .form-input{
	width: 150px;
}

.center-alignment{
	width: 660px;
	margin: 0 auto
}

.modal-body .center{
	text-align: center;
}

.modal-body .grp-box{
	display: inline-block;
	margin: 10px;
	padding: 10px;
	color: #686868;
	border: solid 1px #ddd;
	text-align: left;
}

.modal-body .lg-box{
	text-align: center;
	width: 635px;
}

.modal-body .md-box{
	text-align: center;
	width: 490px;
}

.modal-body .grp-box p{
	text-align: left;
	font-size: 14px;
	margin: 0 10px 2px;	
}

.modal-body .grp-box .input-box{
	display: inline-block;
}

.modal-body .grp-box .input-box p{
	font-size: 14px;
	margin: 0 10px 2px;
}

.modal-body p.fix-num{
	display: block;
	font-size: 40px;
	margin: 5px 10px;
	line-height: 40px;
	width: 100%;
}

.modal-body .grp-box .input-box p small{
	font-size: 10px;
	margin: 10px 0 5px;
}

.modal-body .grp-box .input-box input[type="text"]{
	margin: 0 10px;
}

.table-zenhours tr.high-light{
	background: #daffa5 !important;
}

/*06.17.2014*/
.punch_panel .active{
	width: 80px;
	height: 80px;
	-webkit-animation:  glow-out-green 2s infinite alternate;
	-moz-animation:  glow-out-green 2s infinite alternate;
	-ms-animation:  glow-out-green 2s infinite alternate;
	-o-animation:  glow-out-green 2s infinite alternate;
	animation:  glow-out-green 2s infinite alternate;
}

@-webkit-keyframes glow-out-green {to {box-shadow:  0 0 30px 5px #fff;}}
@-moz-keyframes glow-out-green {to {box-shadow:  0 0 30px 5px #fff;}}
@-ms-keyframes glow-out-green {to {box-shadow:  0 0 30px 5px #fff;}}
@-0-keyframes glow-out-green {to {box-shadow:  0 0 30px 5px #fff;}}
@keyframes glow-out-green {to {box-shadow:  0 0 30px 5px #fff;}}

.blur-all-text .quick_punch_panel,
.blur-all-text .btn,
.blur-all-text .active{
	color: transparent !important;
	text-shadow: 0 0 10px #fff;
}

.blur-all-text .green_bg, .blur-all-text .cyan_bg, .blur-all-text .red_bg, .blur-all-text .orange_bg, .blur-all-text .blue_bg, .blur-all-text .d_blue_bg, .blur-all-text .pink_bg, .blur-all-text .violet_bg{
	background-color: transparent;
}

.blur-all-text .green_bg{
	/*background: #A2DB6A;*/
	background-color: rgba(162,219,106,.5);
	box-shadow:  0 0 20px #A2DB6A;
}

.blur-all-text .cyan_bg{
	/*background: #7cd8bf !important;*/
	background-color: rgba(124,216,191,.5);
	box-shadow:  0 0 20px #7cd8bf;
}

.blur-all-text .red_bg{
	background-color: rgba(231,143,143,.5);
	box-shadow: 0 0 20px #e78f8f;
}

.blur-all-text .orange_bg{
	background-color: rgba(247,162,131,.5);
	box-shadow: 0 0 20px #f7a283;
}

.blur-all-text .blue_bg{
	background-color: rgba(160,218,241,.5);
	box-shadow: 0 0 20px #a0daf1;
}

.blur-all-text .d_blue_bg{
	background-color: rgba(110,166,224,.5);
	box-shadow: 0 0 20px #6ea6e0;
}

.blur-all-text .pink_bg{
	background-color: rgba(230,121,162,.5);
	box-shadow: 0 0 20px #e679a2;
}

.blur-all-text .violet_bg{
	background-color: rgba(131,143,241,.5);
	box-shadow: 0 0 20px #838ff1;
}

.blur-all-text img{
	opacity: .5;
}

.blur-all-text .punch_opt{
	background-color: rgba(232,232,232,.5);
	border-color: rgba(207,207,207,0);
	box-shadow: 0 0 20px #e8e8e8;
}

.blur-all-text .active{
	background-color: rgba(171,234,104,.5);
	border-color: rgba(145,205,83,0);
	box-shadow: 0 0 20px #abea68;
}

.blur-all-text .long-dash-line{
	background: rgba(123,123,123,.3);
	box-shadow: 0 0 8px #7b7b7b;
}

.green-blur-bg{
	background: url(../images/green-bg.jpg) 50% 50% fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.log-in-box-shdw{
	box-shadow: 0 0 100px rgba(0,0,0,.5);
}

section.fixed{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: rgba(255,255,255,.3);
}

.top_nav_bg{
	background: rgba(255,255,255,.3) !important;
}

footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 80px;
	text-align: center;
	z-index: 11;
}

footer p{
	font-size: 12px;
	line-height: 14px;
	margin: 0;
	color: #fff;
}

footer p a{
	color: #d1ffb5;
}

footer p a:hover{
	text-decoration: none;
	color: #fff;
}


.bubble-lg-1{
	position: fixed;
	left: 80%;
	top: 30%;
	width: 500px;
	height: 500px;
	background-color: rgba(255,255,255,.2);
	border-radius: 50%;
	box-shadow: 0 0 100px rgba(255,255,255,.5);
	z-index: -1;

	-webkit-animation: move-lg-bubbles 8s infinite alternate;
	-moz-animation: move-lg-bubbles 8s infinite alternate;
	-ms-animation: move-lg-bubbles 8s infinite alternate;
	-o-animation: move-lg-bubbles 8s infinite alternate;
	animation: move-lg-bubbles 8s infinite alternate;
}

.bubble-lg-2{
	position: fixed;
	left: 40%;
	top: 50%;
	width: 500px;
	height: 500px;
	background-color: rgba(255,255,255,.4);
	border-radius: 50%;
	box-shadow: 0 0 100px rgba(255,255,255,.6);
	z-index: -1;

	-webkit-animation: move-lg-bubbles 5s infinite alternate;
	-moz-animation: move-lg-bubbles 5s infinite alternate;
	-ms-animation: move-lg-bubbles 5s infinite alternate;
	-o-animation: move-lg-bubbles 5s infinite alternate;
	animation: move-lg-bubbles 5s infinite alternate;
}

.bubble-lg-3{
	position: fixed;
	left: -10%;
	top: 30%;
	width: 500px;
	height: 500px;
	background-color: rgba(255,255,255,.2);
	border-radius: 50%;
	box-shadow: 0 0 100px rgba(255,255,255,.5);
	z-index: -1;

	-webkit-animation: move-lg-bubbles 9s infinite alternate;
	-moz-animation: move-lg-bubbles 9s infinite alternate;
	-ms-animation: move-lg-bubbles 9s infinite alternate;
	-o-animation: move-lg-bubbles 9s infinite alternate;
	animation: move-lg-bubbles 9s infinite alternate;
}

.bubble-md-1{
	position: fixed;
	left: 70%;
	top: 50%;
	width: 300px;
	height: 300px;
	background-color: rgba(255,255,255,.2);
	border-radius: 50%;
	box-shadow: 0 0 100px rgba(255,255,255,.6);
	z-index: -1;

	-webkit-animation:  move-md-bubbles 5s infinite alternate;
	-moz-animation:  move-md-bubbles 5s infinite alternate;
	-ms-animation:  move-md-bubbles 5s infinite alternate;
	-o-animation:  move-md-bubbles 5s infinite alternate;
	animation:  move-md-bubbles 5s infinite alternate;
}

.bubble-md-2{
	position: fixed;
	left: 40%;
	top: 30%;
	width: 300px;
	height: 300px;
	background-color: rgba(255,255,255,.2);
	border-radius: 50%;
	box-shadow: 0 0 100px rgba(255,255,255,.8);
	z-index: -1;

	-webkit-animation:  move-md-bubbles 9s infinite alternate;
	-moz-animation:  move-md-bubbles 9s infinite alternate;
	-ms-animation:  move-md-bubbles 9s infinite alternate;
	-o-animation:  move-md-bubbles 9s infinite alternate;
	animation:  move-md-bubbles 9s infinite alternate;
}

.bubble-md-3{
	position: fixed;
	left: 10%;
	top: 60%;
	width: 300px;
	height: 300px;
	background-color: rgba(255,255,255,.2);
	border-radius: 50%;
	box-shadow: 0 0 100px rgba(255,255,255,.6);
	z-index: -1;

	-webkit-animation:  move-md-bubbles 7s infinite alternate;
	-moz-animation:  move-md-bubbles 7s infinite alternate;
	-ms-animation:  move-md-bubbles 7s infinite alternate;
	-o-animation:  move-md-bubbles 7s infinite alternate;
	animation:  move-md-bubbles 7s infinite alternate;
}


.bubble-sm-1{
	position: fixed;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	background-color: rgba(255,255,255,.5);
	border-radius: 50%;
	box-shadow: 0 0 100px rgba(255,255,255,.8);
	z-index: -1;

	-webkit-animation:  move-sm-bubbles 8s infinite alternate;
	-moz-animation:  move-sm-bubbles 8s infinite alternate;
	-ms-animation:  move-sm-bubbles 8s infinite alternate;
	-o-animation:  move-sm-bubbles 8s infinite alternate;
	animation:  move-sm-bubbles 8s infinite alternate;
}

.bubble-sm-2{
	position: fixed;
	left: 20%;
	top: 30%;
	width: 150px;
	height: 150px;
	background-color: rgba(255,255,255,.2);
	border-radius: 50%;
	box-shadow: 0 0 100px rgba(255,255,255,.8);
	z-index: -1;

	-webkit-animation:  move-sm-bubbles 5s infinite alternate;
	-moz-animation:  move-sm-bubbles 5s infinite alternate;
	-ms-animation:  move-sm-bubbles 5s infinite alternate;
	-o-animation:  move-sm-bubbles 5s infinite alternate;
	animation:  move-sm-bubbles 5s infinite alternate;
}

.bubble-sm-3{
	position: fixed;
	left: 0%;
	top: 60%;
	width: 150px;
	height: 150px;
	background-color: rgba(255,255,255,.1);
	border-radius: 50%;
	box-shadow: 0 0 100px rgba(255,255,255,.5);
	z-index: -1;

	-webkit-animation:  move-sm-bubbles 7s infinite alternate;
	-moz-animation:  move-sm-bubbles 7s infinite alternate;
	-ms-animation:  move-sm-bubbles 7s infinite alternate;
	-o-animation:  move-sm-bubbles 7s infinite alternate;
	animation:  move-sm-bubbles 7s infinite alternate;
}


@-webkit-keyframes move-lg-bubbles {from{margin-top: 0;opacity: 0;}to{margin-top: -5%;opacity: .5;}}
@-moz-keyframes move-lg-bubbles {from{margin-top: 0;opacity: 0;}to{margin-top: -5%;opacity: .5;}}
@-ms-keyframes move-lg-bubbles {from{margin-top: 0;opacity: 0;}to{margin-top: -5%;opacity: .5;}}
@-o-keyframes move-lg-bubbles {from{margin-top: 0;opacity: 0;}to{margin-top: -5%;opacity: .5;}}
@keyframes move-lg-bubbles {from{margin-top: 0;opacity: 0;}to{margin-top: -5%;opacity: .5;}}

@-webkit-keyframes move-md-bubbles {from{margin-left: 0;opacity: .5;}to{margin-left: -5%;opacity: .3;}}
@-moz-keyframes move-md-bubbles {from{margin-left: 0;opacity: .5;}to{margin-left: -5%;opacity: .3;}}
@-ms-keyframes move-md-bubbles {from{margin-left: 0;opacity: .5;}to{margin-left: -5%;opacity: .3;}}
@-o-keyframes move-md-bubbles {from{margin-left: 0;opacity: .5;}to{margin-left: -5%;opacity: .3;}}
@keyframes move-md-bubbles {from{margin-left: 0;opacity: .5;}to{margin-left: -5%;opacity: .3;}}

@-webkit-keyframes move-sm-bubbles {from{margin-left: 0;opacity: .3;}to{margin-left: 5%;opacity: .5;}}
@-moz-keyframes move-sm-bubbles {from{margin-left: 0;opacity: .3;}to{margin-left: 5%;opacity: .5;}}
@-ms-keyframes move-sm-bubbles {from{margin-left: 0;opacity: .3;}to{margin-left: 5%;opacity: .5;}}
@-o-keyframes move-sm-bubbles {from{margin-left: 0;opacity: .3;}to{margin-left: 5%;opacity: .5;}}
@keyframes move-sm-bubbles {from{margin-left: 0;opacity: .3;}to{margin-left: 5%;opacity: .5;}}


.scroll-btn{
	position: fixed;
	bottom: 10px;
	right: 40px;
	width: 20px;
	height: 20px;
	background: #A1B289;
	color: #333;
	text-align: center;
	z-index: 9999;
	cursor: pointer;
}

.scroll-btn:hover{
	background: #acbe93;
}

/*6.19-2014*/
.slide-down-nav{
	-webkit-animation: show-nav .5s linear forwards;
	-moz-animation: show-nav .5s linear forwards;
	-ms-animation: show-nav .5s linear forwards;
	-o-animation: show-nav .5s linear forwards;
	animation: show-nav .5s linear forwards;
}

@-webkit-keyframes show-nav {from{margin-top: -72px; opacity: 0}to{margin-top: 0; opacity: 1}}
@-moz-keyframes show-nav {from{margin-top: -72px; opacity: 0}to{margin-top: 0; opacity: 1}}
@-ms-keyframes show-nav {from{margin-top: -72px; opacity: 0}to{margin-top: 0; opacity: 1}}
@-o-keyframes show-nav {from{margin-top: -72px; opacity: 0}to{margin-top: 0; opacity: 1}}
@keyframes show-nav {from{margin-top: -72px; opacity: 0}to{margin-top: 0; opacity: 1}}

/*June 30 2014*/

.top-profile-wrapper{
	margin-top : 5px;
	height : 60px;
}

.top-profile-wrapper .profile-pic{
	margin : 0 5px;
	display : inline-block;
	vertical-align: middle;
	width: 50px;
}

.top-profile-wrapper .profile-name{
	margin : 0 5px;
	display : inline-block;
	vertical-align: middle;
}

.top-profile-wrapper .profile-name p{
	font-size: 12px
}

.top-profile-wrapper .middler{
	display : inline-block;
	vertical-align: middle;
	width: 0;
	height: 100%;
}

td.align-left{
	text-align: left !important;
}

td.profile-box{
	width: 200px;
}

.loan-info{
	width: 100%;
}

.loan-info > div{
	display: inline-block;
	vertical-align: top;
	width: 25%;
}

.push-to-bottom{
	position: relative;
	margin-top: 100%;
}

.inside-btn-primary{
 padding: 4px 10px !important;
}

.status-generated{
 color: #f5a623 !important;
}

.status-released{
 color: #417506 !important;
}

.table-loadmore2{
 margin-bottom: 0 !important;
}

.h2_subtitle{
 color: #7b7b7b !important;
 margin-left: 25px;
 font-size: 12px !important;
}

.h2_with_subtitle{
 margin-bottom: 0 !important;
}

.accordion_like{
 color: #00adef;
 font-size: 18px;
 margin: 10px 0px 20px 0 !important;
 font-weight: normal;
 float: left;
}

.width_50_per{
 width: 50% !important;
}

.width_58_per{
 width: 50.7% !important;
}

.border_blue2{
 width: 100%;
 display: inline-block;
 border-top: 5px solid #00adef;
}

.a_margin_rollback{
 margin: 0 !important;
}

.tbody_padding tbody tr td:first-child {
 text-align: left !important;
 padding-left: 10px !important;
}

.tbody_last_child tbody tr td:last-child {
 text-align: left !important;
 padding-left: 10px !important;
}

.margin_bottom_push{
 margin-bottom: 12px !important;
}

.magrin_top_add{
 margin-top: 20px !important;
}

/*CSS ADDED 20140613*/

table .fa-exclamation-triangle{
	font-size: 20px;
	padding-left: 5px;
}

.text_bold{
	font-weight: bold;
}

.warning{
	margin-top: 40px;
	margin-bottom: 20px;
}

.warning div p{
	margin: 0;
}

.warning div i{
	font-size: 40px;
}

.warning div{
	display: inline-block;
	vertical-align: middle;
	padding-right: 20px;
}

table.table-payroll-register tbody tr td{
	font-size: 12px;
}

.table-w-info{
	text-align: left;
}

.table-w-info > div{
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
}

.table-w-info div > div{
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	padding: 5px;
}

.table-w-info div > div:first-child{
	width: 70px;
	height: 69px;
	padding-right: 10px;
}

.table-w-info p{
	margin: 0;
}

.table-w-info div > div p.sub{
	font-size: 10px;
}

.payroll-register-table{
	display: inline-block;
	vertical-align: top;
}

.table-no-panel{
	background: transparent;
	border-top: none;
	padding: 0;
}

.table-no-panel img{
	max-width: 70px;
	padding-right: 10px;
}

.table-payroll-register thead tr th{
	min-width: 150px; 
}

.nofirst_td table thead tr > th:first-child,
.nofirst_td table tbody tr > td:first-child{
	min-width: 1px!important;
	max-width: 1px!important;
	padding: 0px;
	margin: 0px;
}

.payroll-register-table.width_20.profile-wrapper{
	min-width: 250px;
	z-index: 1;
}

.payroll-register-table.width_80.nofirst_td.info-wrapper .info{
	height: auto;
	margin-top: 0px;
	width: 6500px;
}

.payroll-register-table.width_80.nofirst_td.info-wrapper{
	margin-left: -1px;
	z-index: 0;
}

.table-payroll-register thead tr th{
	height: 65px;
}

.table-payroll-register tbody tr td{
	height: 70px;
	vertical-align: middle;
}

.table-payroll-register p{
	font-size: 12px;
	margin: 0;
}

.filter_emp h2{
	margin-left: 0;
}

.col-sm-2.filter_emp{
	padding: 0px;
}

.table-zenhours th.no-val{
	width: 1px !important;
}

.side-border > div{
	border-right: solid 1px #aaa;
}

.width_250{
	width: 250px;
}

/*Add - View Employee*/

.tabs_on_top{
	margin: 20px 0;
	position: relative;
	width: 100%;
	height: auto;
}

.tabs_on_top .tab{
	width: 20%;
	height: 50px;
	padding: 10px 0;
	cursor: pointer;
}

.tabs_on_top .tab-active{
	background-color: #005075;
}

.tabs_on_top .tab-inactive{
	background-color: #d7d7d7;
}

.tabs_on_top .tab p{
	margin: 0 8px;
	color: #fff;
	font-size: 11px;
}

.tabs_on_top .tab .steps{
	display: inline-block;
	margin-right: 5px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #fff;
	text-align: center;
	font-size: 11px;
	font-weight: 900;
	color:#000;
}

.tabs_on_top .arrows{
	width: 5%;
	max-width: 20px;
	height: 50px;
}

.tabs_on_top .arrow_active{
	background-image: url("../images/ui/emp-arrow-active.jpg");
}

.tabs_on_top .arrow_inactive{
	background-image: url("../images/ui/emp-arrow-inactive.jpg");
}

.tabs_on_top .arrow_active_last{
	background-image: url("../images/ui/emp-arrow-last-active.jpg");
}

.tabs_on_top .arrow_inactive_last{
	background-image: url("../images/ui/emp-arrow-last-inactive.jpg");
}

.profile_view{
	position: relative;
	margin: 0 10px;
	width: 150px;
	height: 150px;
}

.profile_view > div:first-child{
	width: 150px;
	margin: 0 auto 10px;
}

.profile_view > p.profile_name{
	font-size: 20px;
	margin-top: 10px;
}

.profile_view > div:first-child:hover .browse_img{
	display: block;
}

.setting_form label{
	color: #686868;
	font-weight: 400;
	font-size: 12px;
}

.setting_form p{
	color: #686868;
}

.setting_form input{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #979797;
	font-size: 12px;
	padding: 2px;
	width: 65%;
}

label.emp_info{
	width: 115px;
}

/*Payslip 2014-07-22*/

.payslip-container{
	margin: 100px auto;
	padding: 10px 0;
	width: 100%;
	max-width: 1200px;
	height: auto;
	background-color: #fff;
	border: solid 1px #aaa;
	border-radius: 5px;
}

.payslip-container .c_logo{
	padding-right: 0;
}

.payslip-container img{
	width: 100%;
	max-width: 80px;
}

.payslip-container p.name{
	margin: 5px 0 10px;
	font-size: 20px;
	font-weight: 900;
	line-height: 1;
}

.payslip-container p.netpay{
	width: 20%;
	font-size: 20px;
	font-weight: 900;
	line-height: 1;
}

.payslip-container p small{
	font-size: 10px;
	font-weight: 900;
}

.payslip-container p{
	font-size: 12px;
	margin-bottom: 5px;
	line-height: 1;
}

.payslip-container p.emp-no{
	font-size: 25px;
	font-weight: 900;
	line-height: 1;
}

.payslip-container .align-right{
	text-align: right;
}

.payslip-container .panels{
	margin-top: 20px;
}

.payslip-container .total{
	border-top: solid 1px #aaa;
	margin-top: 5px;
}

.payslip-container .panels .form{
	border-top: solid 1px #aaa;
}

.payslip-container .panels form{
	padding: 5px;
	border-left: solid 1px #aaa;
	border-right: solid 1px #aaa;
	border-bottom: solid 1px #aaa;
	background-color: #eee;
}

.payslip-container .panels form input[type='text']{
	width: 85%;
}

.payslip-container .panels form div{
	width: 48%;
}

.payslip-container .panels button{
	margin-top: 5px;
}

.payslip-container .panels table{
	margin-bottom: 0;
}

.payslip-container .panels table td{
	font-size: 12px;
	border-top: none;
}


