
/*Global add-ons*/

.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}


/*Sidebar*/

/* Hide for mobile, show later */
/*.sidebar {
	display: none;
}
@media (min-width: 768px) {*/
	.sidebar {
		position: fixed;
		top: 70px;
		bottom: 0;
		left: 0;
		width: 190px;
		z-index: 1000;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
		background-color: #575757;
	}
/*}*/

/* Sidebar navigation */
.nav-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
	margin-left: -20px;
}

.nav-sidebar > li{
	position: relative;
	overflow: hidden;
}

.nav-sidebar > li > a {
	font-size: 10px;
	text-transform: uppercase;
	padding: 17px 20px;
	color: #fff;
}

.nav-sidebar > li > a:active,
.nav-sidebar > li > a:focus,
.nav-sidebar > li > a:hover{
	background-color: #636262;
}

.nav-sidebar > .active-nav > a {
	color: #fff;
	background-color: #636262;
}

.nav-sidebar > li > a > img{
	margin-right: 10px;
}

.nav-sidebar > li > .sub-menu,
.nav-sidebar > li > .sub-menu > li > .sub-menu-child{
	margin: 0;
	padding: 0;
	background-color: #636262;
	list-style: none;
	overflow: hidden;
}

.nav-sidebar > li > .sub-menu > li,
.nav-sidebar > li > .sub-menu > li > .sub-menu-child > li{
	position: relative;
	height: auto;
}

.nav-sidebar > li > .sub-menu > li > a,
.nav-sidebar > li > .sub-menu > li > .sub-menu-child > li > a{
	display: block;
	font-size: 10px;
	text-transform: uppercase;
	padding: 12px 20px 12px 40px;
	color: #fff;
}

.nav-sidebar > li > .sub-menu > li > a:hover{ 
	color: #fff;
	background-color: #8e8e8e;
	text-decoration: none;
}

.nav-sidebar > li > .sub-menu > li > .sub-menu-child{ 
	background-color: #8e8e8e;
}

.nav-sidebar > li > .sub-menu > li > .sub-menu-child > li > a:hover{ 
	color: #575757;
	background-color: #efefef;
	text-decoration: none;
}

.nav-sidebar > li > .sub-menu > li > .sub-menu-child > li.active-nav > a{ 
	color: #575757;
	background-color: #efefef;
}

.nav-sidebar > li > .sub-menu > .active-nav > a{
	color: #fff;
	background-color: #8e8e8e;
}


.notification{
	position: absolute;
	display: block;
	right: 10px;
	width: 20px;
	height: 20px;
	font-size: 10px;
	line-height: 20px;
	text-align: center;
	background-image: url(../images/ui/shine-sprite.jpg);
	border-radius: 50%;
	color: #575757;

	-webkit-animation: shine 1.5s infinite forwards;
	-moz-animation: shine 1.5s infinite forwards;
	-ms-animation: shine 1.5s infinite forwards;
	-o-animation: shine 1.5s infinite forwards;
	animation: shine 1.5s infinite forwards;
}

.menu-hide > ul{
	max-height: 0;
	-webkit-transition: max-height .5s;
	-moz-transition: max-height .5s;
	-ms-transition: max-height .5s;
	-o-transition: max-height .5s;
	transition: max-height .5s;
}

.menu-hide > .notification{
	top: 30%;
	opacity: 1;
	-webkit-transition: opacity 3s;
	-moz-transition: opacity 3s;
	-ms-transition: opacity 3s;
	-o-transition: opacity 3s;
	transition: opacity 3s;
}

.menu-hide > ul > li > .notification{
	opacity: 0;
	top: 0;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-ms-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
	-webkit-transition: top 1s;
	-moz-transition: top 1s;
	-ms-transition: top 1s;
	-o-transition: top 1s;
	transition: top 1s;
}

.menu-show > ul{
	max-height: 600px;
	-webkit-transition: max-height 1.5s;
	-moz-transition: max-height 1.5s;
	-ms-transition: max-height 1.5s;
	-o-transition: max-height 1.5s;
	transition: max-height 1.5s;
}

.menu-show > .notification{
	top: 30%;
	opacity: 0;
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-ms-transition: opacity .5s;
	-o-transition: opacity .5s;
	transition: opacity .5s;
}

.menu-show > ul > li > .notification{
	opacity: 1;
	top: 30%;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

/*Main content*/

.main {
	margin: 76px 10px 0;
}

/*@media (min-width: 768px) {*/
	.main {
		position: relative;
		margin: 76px 0 50px;
		width: auto;
	}

	.clock_bg{
		background-image: url("../images/large_clock.svg");
		background-size: 800px 800px;
		background-position: bottom -300px right -300px;
		background-repeat: no-repeat;
	}

	.content{
		position: relative;
		max-width: 1024px;
		margin: 0 auto;
	}

	.content-tile{
		width: 100%;
	}

/*}*/

.main .page-header {
	margin-top: 0;
}

.main .clear{
	clear: both;
}


/* Placeholder dashboard ideas*/

.placeholders {
	margin-bottom: 30px;
	text-align: center;
	vertical-align: middle;
}
.placeholders h4 {
	margin-bottom: 0;
}
.placeholder {
	margin: 15px 0;
}
.placeholder img {
	display: inline-block;
	border-radius: 50%;
}

/*approvals*/
.approve-notification{
	position: absolute;
	display: block;
	top: -10px;
	right: -10px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #fdff7a;
}

.approve-notification:before{
	content: attr(notifify-content);
	display: block;
	padding-top: 7px;
	font-size: 12px;
	color: #000;
}

@-webkit-keyframes shine {from {background-position: 0 0;}to {background-position: 100% 0;}};
@-moz-keyframes shine {from {background-position: 0 0;}to {background-position: 100% 0;}}
@-ms-keyframes shine {from {background-position: 0 0;}to {background-position: 100% 0;}}
@-o-keyframes shine {from {background-position: 0 0;}to {background-position: 100% 0;}}
@keyframes shine {from {background-position: 0 0;}to {background-position: 100% 0;}}