/*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: middle;

}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	font-size: 12px;
	font-family: 'Roboto', Arial, sans-serif !important;
}

ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CUSTOM CSS*/
html, body{
	/*height: 100%;*/
	width: 100%;
	color: #000;
}

body{
	background: #f2f2f2;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-weight: 300;
}

header{
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1000;
}

.width-1200{
	max-width: 1200px;
	margin: 0 auto;
}

.width-800{
	max-width: 800px;
	margin: 0 auto;
}

.width-650{
	max-width: 650px;
	margin: 0 auto;
}

.width-1024{
	max-width: 1024px;
	margin: 0 auto;
}

.width-1200:after{
	clear: both;
}

.text-justify{
	text-align: justify;
}

.text-center{
	text-align: center !important;
}

.text-left{
	text-align: left;
}

.text-right{
	text-align: right;
}

.text-md{
	font-weight: 400;
}

.text-md-bold{
	font-weight: 500;
}

.text-bold{
	font-weight: 700;
}

.f-right{
	float: right;
}

.f-left{
	float: left;
}

.margin-top-xsm{
	margin-top: 5px;
}

.margin-top-xsm-1{
	margin-top: 6px;
}

.margin-top-sm{
	margin-top: 10px;
}

.margin-top-md{
	margin-top: 20px;
}

.margin-top-lg{
	margin-top: 30px;
}

.margin-top-xlg{
	margin-top: 40px;
}

.margin-bottom-sm{
	margin-bottom: 10px;
}

.margin-bottom-md{
	margin-bottom: 20px;
}

.margin-bottom-lg{
	margin-bottom: 30px;
}

.margin-bottom-xlg{
	margin-bottom: 40px;
}

.margin-left-sm{
	margin-left: 10px;
}

.margin-left-md{
	margin-left: 20px;
}

.margin-left-lg{
	margin-left: 30px;
}

.margin-right-sm{
	margin-right: 10px;
}

.margin-right-md{
	margin-right: 20px;
}

.margin-right-lg{
	margin-right: 30px;
}

.clear{
	clear: both;
}

p{
	font-size: 12px;
	line-height: initial;
}

a{
	font-size: 12px;
	cursor: pointer;
}

strong{
	font-weight: 500;
}

a.active{
	color: #2a6496;
	text-decoration: underline;
}

h1, .h1{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #dbcb69;
	text-transform: uppercase;
}

h2, .h2{
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #3d3d3d;
	padding: 0;
	margin: 0;
}

h3, .h3{
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #3d3d3d;
	padding: 0;
	margin: 0;
}

h4, .h4{
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	/*font-weight: 400;*/
	/*color: #3d3d3d;*/
}

h5, .h5{
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #3d3d3d;
}

.display-inline{
	display: inline-block;
}

.display-block{
	display: block !important;
}

.v-middle{
	vertical-align: middle;
}

.v-top{
	vertical-align: top;
}

.triangle {
	border: 10px solid transparent;
}
.triangle.down {
	border-top-color: #000;
}
.triangle.right {
	border-left-color: #000;
}
.triangle.bottom {
	border-right-color: #000;
}
.triangle.up {
	border-bottom-color: #000;
}


/*BACKGROUND*/
.bg-cyan{
	background: #7cd8bf;
}

.bg-orange{
	background: #f7a283;
}

.bg-orange-light{
	background: #f7a623;
}

.bg-pink{
	background: #e679a2;
}

.bg-yellow{
	background: #faef5f;
}

.bg-light-gray{
	background-color: #f2f2f2;
}

.bg-dark-gray{
	background-color: #dfdfdf;
}

.bg-white{
	background-color: #fff;
}

.bg-light-blue{
	background-color: #68dbc0;
}

.bg-green{
	background-color: #b9e986;
}

.bg-cyan:hover, .bg-orange:hover, .bg-pink:hover{
	-webkit-animation: glow-in .3s linear forwards;
	-moz-animation: glow-in .3s linear forwards;
	-ms-animation: glow-in .3s linear forwards;
	-o-animation: glow-in .3s linear forwards;
	animation: glow-in .3s linear forwards;
}

/*NAV TOP*/
.navbar-default {
	background-image: none;
	background-image: none;
	border: none;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	height: 65px;
	width: calc(100% - 250px);
	left: 250px;
	padding-left: 20px;
	z-index: 999;
}

.navbar-form-title h1{
	padding: 20px;
}

.navbar-right .user p,
.navbar-right .user img,
.navbar-right .user,
.navbar-right ul.nav-top{
	display: inline-block;
	vertical-align: middle;
}

.navbar-right ul.nav-top{
	margin-left: 20px;
}

ul.nav-top li{
	list-style: none;
	float: left;
	height: 65px;
}

ul.nav-top li a{
	display: block;
}

ul.nav-top li a img{
	padding: 21px 20px;
}

.navbar-right .user img{
	width: 45px;
	margin-right: 5px;
}

.navbar-right .user p.name{
	color: #989c9d;
	font-size: 12px;
	font-weight: 500;
}

/*SIDE NAVIGATION*/
section.side-nav{
	position: fixed;
	left: 0;
	height: 100%; 
	width: 250px;
	background: #6a6a6a;
	z-index: 999;
}

section.side-nav .logo{
	height: 76px;
	width: 100%;
	text-align: center;
}

section.side-nav .logo a{
	padding: 16px 0 16px 45px;
	width: auto;
	display: block;
}

.side-nav-list{
	padding-top: 10px;
	height: calc(100% - 65px);
	overflow-y: auto; 
}

.side-nav-list .panel {
	margin-bottom: 0;
	border-radius: 0;
	overflow: hidden;
	box-shadow: none;
	border: none;
}

.side-nav-list .panel+.panel {
	margin-top: 0;
}

.side-nav-list .panel .panel-heading{
	color: #fff;
	padding: 0 0 0 10px;
	text-align: left;
	border-radius: 0;
	background-image: -webkit-linear-gradient(top,#6a6a6a 0,#6a6a6a 100%);
	background-image: linear-gradient(to bottom,#6a6a6a 0,#6a6a6a 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6a6a6a', endColorstr='#6a6a6a', GradientType=0);
}

.side-nav-list .panel .panel-heading.active,
.side-nav-list .panel .panel-heading:hover{
	border-radius: 0;
	background-image: -webkit-linear-gradient(top,#838383 0,#838383 100%);
	background-image: linear-gradient(to bottom,#838383 0,#838383 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#838383', endColorstr='#838383', GradientType=0);
}

.side-nav-list .panel-heading+.panel-collapse .panel-body ul li a,
.side-nav-list .panel .panel-heading a{
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	width: 100%;
	padding: 10px 0;
	display: block;
}

.side-nav-list .panel .panel-heading a:hover{
	text-decoration: none;
}

.side-nav-list .panel .panel-heading a img,
.side-nav-list .panel .panel-heading a p{
	display: inline-block;
	vertical-align: middle;
}

.side-nav-list .panel .panel-heading a img{
	margin-right: 15px;
	height: 25px;
	width: 25px;
}

.side-nav-list .panel-heading+.panel-collapse .panel-body {
	 border-top: none; 
	 background-color: #9f9f9f;
	 padding: 0;
	 text-align: left;
}

.side-nav-list .panel-heading+.panel-collapse .panel-body ul li a{
	padding: 15px 20px 15px 43px;
}

.side-nav-list .panel-heading+.panel-collapse .panel-body ul li a.active,
.side-nav-list .panel-heading+.panel-collapse .panel-body ul li a:hover{
	text-decoration: none;
	background-color: #dfdfdf;
	color: #000;
}

.side-nav-list .panel-heading+.panel-collapse .panel-body ul li a span.noti{
	width: 20px;
	height: 20px;
	font-size: 10px;
	line-height: 20px;
	text-align: center;
	background: #f6e61d;
	border-radius: 50%;
	color: #575757;
	display: inline-block;
	margin-left: 10px;
}


/*MAIN*/
.main {
	position: relative;
	margin: 65px auto 0;
	padding-left: 190px;
	width: auto;
	height: calc(100% - 65px);
	z-index: 0;
}

.content {
	max-width: 1024px;
	min-width: 997px;
	margin: 0 auto;
	height: 100%; 
}

.content.full-with-section{
	width: 1024px;
	min-width: 1024px;
	margin: 0 auto;
	height: 100%; 
}

.padding-all-sm{
	padding: 10px;
}

.padding-all-xsm{
	padding: 10px 20px;
}


/*SELECT*/
.select-custom{
	width: 100%;
	overflow: hidden;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid #dcdcdc;
	background: url('../images/ui/dropdown-select.png') #fff no-repeat 98% center;
}

.select-custom select{
	width: 135%;
	font-size: 12px;
	background-color: transparent;
	padding: 3px  15px 3px 3px;
	border: none;
	cursor: pointer;
	color: #aeaeae;
	height: 25px;
}

/*INPUT*/
input{
	border: 1px solid #dcdcdc;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-weight: 300;
}

input.small{
	font-size: 12px;
	color: #aeaeae;
	padding: 4px 3px;
	height: 27px;
}

input.large{
	font-size: 12px;
	color: #aeaeae;
	padding: 4px 3px;
	height: 27px;
}

input.xlarge{
	font-size: 12px;
	color: #aeaeae;
	padding: 4px 3px;
	height: 37px;
}

input[type="checkbox"]{
	border: 1px solid #dcdcdc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 15px;
	margin-top: 5px;
	display: inline-block;
}

input[type="checkbox"].reset-top{
	border: 1px solid #dcdcdc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 15px;
	margin-top: -1px;
	display: inline-block;
}

textarea{
	font-size: 12px;
	color: #aeaeae;
	padding: 4px 5px;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 100px;
	resize: none;
	border: 1px solid #dcdcdc;
}

label{
	display: inline-block;
	margin-top: 20px;
}

.note{
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	color: #b5b5b5;
	margin-left: 5px;
}

/*DIVIDER*/
.divider{
	width: 100%;
	border-bottom: 1px solid #dcdcdc;
}

.divider-dark{
	width: 100%;
	border-bottom: 1px solid #b8b8b8;
}

/*TEXT COLOR*/
.text-red{
	color: #ca0000;
}

.text-dark-gray{
	color: #75787d;
}

.text-green{
	color: #7ecb1d;
}

.text-cyan{
	color: #00aeef;
}

.text-black{
	color: #000;
}

.text-blue{
	color: #259ed3;
}

.text-link{
	color: #428bca;
}

.text-white{
	color: #fff;
}

/*TABLE*/
table tbody tr td{
	padding: 5px 0;
}

/*BOX SHADOW*/
.box-shadow{
	box-shadow:  0 1px 2px rgba(0,0,0,.2);
}

/*BORDERS*/
.border-top-sm-cyan{
	border-top: 4px solid #00adef;
}

.border-left-sm{
	border-left: 12px solid;
}

.border-color-green{
	border-color: #7ed320;  
}

.border-color-red{
	border-color: #d00219;  
}

.border-color-violet{
	border-color: #8e14fd;  
}

/*Reset*/
.reset-padding{
	padding: 0 !important;
}

.reset-padding-left{
	padding-left: 0;
}

.reset-padding-right{
	padding-right: 0 !important;
}

.reset-margin{
	margin: 0 !important;
}

.reset-margin-top{
	margin-top: 0 !important;
}

.reset-margin-left{
	margin-left: 0 !important;
}

.reset-margin-right{
	margin-right: 0 !important;
}

.border-radius-reset{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

/*Image Holder Size*/
.img-circle-md{
	width: 45px;
	height: 45px;
}

.img-icon-resizer {
	width: 23px;
	height: 16px;
}

.img-icon-resizer2 {
	width: 23px;
	height: 18px;
}

/*Button*/

button, .button{
	cursor: pointer;
	display: inline-block;
	margin: 0 2% 0;
	padding: 8px 20px;
	font-family: inherit;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	border: 1px solid #91bc63;
	outline: none;
	background: #c2f48f;
	color: #4a7410;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	font-size: 12px;
}

button:hover,div.btn_login:hover,.active-outline:hover,
.button:hover{
	background: #4ea7e3;
	-webkit-animation: glow-in .3s linear forwards !important;
	-moz-animation: glow-in .3s linear forwards  !important;
	-ms-animation: glow-in .3s linear forwards !important;
	-o-animation: glow-in .3s linear forwards !important;
	animation: glow-in .3s linear forwards !important;
}

a.button{
	text-decoration: none;
	color: #4a7410;
}

.border-radius{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding: 8px 16px;
	margin: 2px 0;
}

/*Modal*/
button.close{
	background: #e4ae44;
	opacity: 1;
	margin: 0;
	padding: 15px;
	position: absolute;
	top: 2px;
	right: 0;
}

.modal-content{
	position: relative;
	text-align: left;
}

.modal-header{
	border: none;
}

.modal-body{
	background-color: #f6f6f6; 
}

.modal-footer{
	border: none;
	margin-top: 0;
}

.modal-body label{
	font-size: 12px;
}

/*-------------------------------------------------*/

/*DEALS*/
.deals-list > div{
	background-color: #fff;
	box-shadow:  0 1px 2px rgba(0,0,0,.2);
	padding: 10px;
}

.deals-list > div .type{
	position: relative;
}


/*TABLE INFO*/
.deals-list > div .type table.info tbody tr td{
	vertical-align: top;
}

.deals-list > div .type table.info tbody tr:first-child td:last-child,
.deals-list > div .type table.info tbody tr:first-child td:first-child{
	font-size: 18px;
	color: #75787d;
	width: 60%;
	text-align: left;
	font-weight: 500;
}

.deals-list > div .type table.info tbody tr:first-child td:nth-child(2){
	text-transform: uppercase;
	width: 15%;
	text-align: left;
}

.deals-list > div .type table.info tbody tr:first-child td:last-child{
	width: 25%;
	text-align: right;
}

.deals-list > div .type table.info tbody tr:last-child td{
	text-align: left;
}

.deals-list > div .type table.info tbody tr:last-child td *{
	display: inline-block;
	vertical-align: middle;
}

.deals-list > div .type table.info tbody tr:last-child td img{
	max-height: 30px;
	max-width: 30px;
	margin-right: 5px; 
}

.deals-list > div .type table.info tbody tr:last-child td p.client-name{
	font-size: 14px;
	font-weight: 500;
}


/*TABLE ASSIGNED*/
.deals-list > div .type table.assigned thead tr th{
	font-weight: 500;
	font-size: 12px;
	text-align: center;
}

.deals-list > div .type table.assigned tbody tr td{
	font-size: 12px;
	text-align: center;
}

.deals-list > div .type table.assigned{
 margin-bottom: 10px;
}

.deals-list > div .type table.assigned:last-child{
 margin-bottom: 0;
}

.deals-list > div .type table.assigned tbody tr td:first-child,
.deals-list > div .type table.assigned thead tr th:first-child{
	width: 60%;
	text-align: left;
}

.deals-list > div .type table.assigned thead tr th:last-child,
.deals-list > div .type table.assigned thead tr th:nth-child(2){
	width: 20%;
}


.deals-list > div .type .arrow-right{
	height: 85px;
	width: 19px;
	background: url('../images/deals-arrow-right.png');
	position: absolute;
	top: 50%;
	right: 0;
	margin-right: -29px;
	margin-top: -42px;
	display: none;
}

.deals-list > div .type .arrow-right.active{
	display: block;
}

.deals-list > div .divider{
	margin-left: -10px;
	width: 106.5%;
}

.deals-list > div .provider{
	position: relative;
}

.deals-list > div .provider .color{
	position: absolute;
	width: 10px;
	height: calc(100% + 20px);
	right: 0;
	top: 0;
	margin-top: -10px;
	margin-right: -10px;
}

.deals-list > div .provider .color.green{
	background-color: #7ed222;
}

.deals-list > div .provider > div{
	display: inline-block;
	vertical-align: middle;
}

.deals-list > div .provider .provider-logo{
	width: 50px;
	margin-right: 10px 
}

.deals-list > div .provider .provider-logo img{
	max-height: 50px;
	max-width: 50px;
	margin-right: 10px;
}

.deals-list > div .provider .provider-details{
	width: calc(100% - 65px);
	text-align: left;
	font-size: 14px;
}

.deals-list > div .provider .provider-details p.name{
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 5px;
}

/*Filter*/
ul.filter-list{
	float: right;
}

ul.filter-list li{
	float: left;
	font-size: 12px;
	padding: 10px 2px;
}

ul.filter-list li a.active{
	
}

/*added 08082104*/
.padding-top-bottom-xsm{
	padding: 5px 0;
}

.padding-top-xsm{
	padding: 5px 0 0 0;
}


.padding-top-bottom-xsm{
	padding: 10px 0;
}

.padding-bottom-md{
	padding-bottom: 20px;
}

.padding-bottom-sm{
	padding-bottom: 10px;
}

.padding-right-sm{
	padding-right: 10px;
}

.padding-left-sm{
	padding-left: 10px;
}

.img-circle-lg{
	width: 125px;
	height: 125px;
}

.deals-list-box-min-300{
	width: 305px;
	display: inline-block;
}

.deals-list-box-min-250{
	width: 250px;
	display: inline-block;
}

.delayed{
	color: #ca0000;
}

.bg-color-f2f2f2{
	background-color: #f2f2f2;
}

.img-company{
	width: 66px;
	/*height: 45px;*/
}

.text-font-14{
	font-size: 12px !important;
}

.text-font-18{
	font-size: 18px !important;
}

.border-right-4{
	border-right: 4px solid;
}

.border-top-4{
	border-top: 4px solid;
}

.border-top-color-blue{
	border-top-color: #4790df;
}

.border-right-color-blue{
	border-right-color: #4790df;
}

.border-right-color-orange{
	border-right-color: #f6a522;
}

.border-right-color-green{
	border-right-color: #7ed222;
}

.border-right-color-violet{
	border-right-color: #bb0fdf;
}

.border-right-color-neon-green{
	border-right-color: #51e2c1;
}

.indicator, .indicator2{
	height: 15px;
	width: 15px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 8px;
	margin-top: 5px;
}

.indicator2{
	margin-top: -6px;
}

.indicator2.minus{
	margin-top: -2px;
}

.indicator.minus,
.indicator2.minus{
	background: url('../images/ui/icon-minus.png') no-repeat center	center;
}

.indicator.plus,
.indicator2.plus{
	background: url('../images/ui/icon-plus.png') no-repeat center center;
}

a.btn-cancel{
	color: #ff0000 !important;
}

.number_panelbox p{
	font-size: 20px;
	font-weight: 500;
	color: #fff;
	min-width: 20px;
	text-align: center;
}

/*Order List*/
ol.list-input-panel{
	font-weight: 500;
}

/*ol.list-input-panel li{
	font-weight: 300;	
}*/

/*Drag*/
.move { 
	cursor: move; 
}

.horizontal-scroller{
	/*max-height: 350px;*/
	overflow: auto;
}

/*Scroller*/

.custom-scroller{
	position: relative;
	height: calc(100% - 40px);
}

.content-custom{
	height: 380px;
	overflow: auto;
}

/*horizontal scrollbar*/
/*class="text-left padding-all-sm"*/
.scrollbar-horizontal{
	position: absolute;
	height: calc(100% - 65px);
}

/*COMPANY DETAILS*/
.company-details-form > form,
.company-details-form > div{
	/*display: inline-block;*/
	vertical-align: top;
	margin-top: 10px;
}



.company-details-form > form{
	padding-left: 10px;
}

.company-details-form > div .company-logo{
	width: 100%;
	height: 250px;
	background-color: #d8d8d8;
}

.company-details-form > form > div{
	margin-bottom: 10px;
}

.company-details-form > form > div * {
	display: inline-block;
	vertical-align: middle;
}

.company-details-form > form > div label{
	width: 120px;
	margin-right: 10px;
	font-size: 14px;
	margin-top: initial;
}

.company-details-form > form > div textarea,
.company-details-form > form > div input{
	width: calc(100% - 130px);
}

.company-details-form > form > div textarea{
	height: 80px;
	resize:	none;
}

.company-details-form > form > div label.lbl-textarea{
	vertical-align: top;
	margin-top: 5px;
}

.file-name{
	margin-top: 6px;
}

.file-name:before{
	content: "|";
	margin-right: 10px;
}

.company-details-form > div .contact-person{
	width: 150px;
	height: 150px;
	background-color: #d8d8d8;
	border-radius: 50%;
}

.profile_view
.profile_view2{
	position: relative;
	margin: 0 10px;
	width: 150px;
	height: 150px;
}

.profile_view2{
	width: 100%;
}

.profile_view > div:first-child,
.profile_view2 > div:first-child{
	width: 150px;
	margin: 0 auto 10px;
}

.profile_view2 > div:first-child{
	width: 86%;
	margin-top: 17px;
}

.profile_view > p.profile_name,
.profile_view2 > p.profile_name{
	font-size: 20px;
	margin-top: 10px;
}

.no_profile_img,
.browse_img, .browse_img2{
	height: 150px;
	width: 150px;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.7);
	z-index: 9;
	color: #fff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	text-align: center;
	cursor: pointer;
}

.browse_img2{
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	height: 125px;
	width: 86%;
}

.no_profile_img{
	display: block;
}


.no_profile_img img,
.browse_img img,
.browse_img2 img{
	width: 50px;
	margin: 25px auto 10px;
}

.no_profile_img p,
.browse_img p,
.browse_img2 p{
	margin-bottom: 2px;
	font-size: 14px;
	font-weight: 300;
	line-height: 14px;
}

.profile_view > div:first-child:hover .browse_img{
	display: block;
}



/*** 8-5-15   image logo.css ***/

header .navbar-header  {
	width: 250px !important;
	background-color: #f9ed5d !important;
}

header .navbar-header img {
	margin-left: 50px;
}
/*.content_6.mCustomScrollbar._mCS_6 {
	position: relative;
	height: 100%;
	overflow: auto;
}
*/

/*ANIMATION*/
/*buttom shadow*/
@-webkit-keyframes glow-in {to {-webkit-box-shadow:  0 5px 10px rgba(0,0,0,.5);}}
@-moz-keyframes glow-in {to {-moz-box-shadow:  0 5px 10px rgba(0,0,0,.5);}}
@-ms-keyframes glow-in {to {box-shadow:  0 5px 10px rgba(0,0,0,.5);}}
@-o-keyframes glow-in {to {box-shadow:  0 5px 10px rgba(0,0,0,.5);}}
@keyframes glow-in {to {box-shadow:  0 5px 10px rgba(0,0,0,.5);}}