* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto' sans-serif;
}

body.login {
	/*background: #014a7e url("../images/login-bg.jpg");*/
	/*height: 100vh;*/
	/*width: 100vw;*/
}

body .bg-img {
	background: url("../images/login-bg.jpg");	
	background-size: cover;
	height: 100%;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 0;

	-webkit-filter: blur(10px);
	filter: blur(10px);
}
.login-parent {
	height: 100vh;
	width: 100vw;
	text-align: center;
	overflow-y: auto;
}

.login-form{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin-top: 20vh;
	z-index: 1;
}

.login-form p{
	font-size: 12px;
	font-weight: 700px;
	color: #fff;
}

.login-form form{
	display: block;
	background-color: #fff;
	border-radius: 30px;	
	width: 500px;
	padding: 20px 0;
	vertical-align: middle;
	box-shadow: 0 0 100px rgba(0,0,0,.5);
	behavior: url(/../pie/PIE.htc);
}

.login-form form {
	padding-left: 90px;
	padding-right: 90px;
}

.login-form form h2{
	color: #858386;
	font-size:22px;
	margin: 5px auto 10px;
}

.login-form .form-group input {
	border: none;
	border-bottom: solid 2px #aaa;
	width: 100%;
	font-size: 14px;
	outline: none;
}

.login-form .form-group{
	margin-top: 20px;
	margin-bottom: 5px;
}

.image-content {
	height: 76px; 
	text-align: center;
	width: 60%;
	margin: 0 auto;
	margin-bottom: 100px;
}
.login-form .image-content img {
	display: block;
	padding-top: 20px;
	width: 100%;
}

.login-form form p {
	font-family: 'Roboto' sans-serif;
	letter-spacing: 1px;
	text-align: left;
}

.login-form .forgot {
	margin-bottom: 30px;
	font-size: 12px;
}

.login-form  form button {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 20px;
	outline: none;	
}
	
.main-logo{
	display: block;
	margin: 20px auto 0;
	bottom: 20px;
	width: 200px;
}

	
	

