.item-list-no-hover:hover{
	background-color: #C3C3C3 !important;
	/*border: 1px solid #B0B0B0;*/
}

.composite-product .item-container .items img{
	overflow: hidden;
	width: 25px;
	height: auto;
}

.product-list-image{
	height: 180px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.item-image-receiving-view
{
	height: 148px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.left-prod-image{
	width: 80px;
	height: 65px;
	margin-left: 0px !important;
}

.composite-product .item-container .items{
	background-color: #fff !important;
}

.back-arrow:hover{
	cursor: pointer;
}

/*.text-no-hover:hover{
	border-top: 1px solid #ADADAD;
	border-bottom: 1px solid #ADADAD;
};*/

#storageHIerarchyListDisplay {
	/*background-color: rgba(255,255,255,1);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(232, 232, 232, 1)), color-stop(.5, transparent), to(transparent));
	background-image: -moz-linear-gradient(rgba(232, 232, 232, 1) 50%, transparent 50%, transparent);
	background-image: -o-linear-gradient(rgba(232, 232, 232, 1) 50%, transparent 50%, transparent);
	background-image: linear-gradient(rgba(232, 232, 232, 1) 50%, transparent 50%, transparent);
	-webkit-background-size: 50px 50px;
	-moz-background-size: 50px 50px;
	background-size: 100% 28.91%;*/
	border: 1px solid #bbb;
}

.tbl-like:nth-child(odd) {
	background-color: #D0D0D0;
}

.tbl-like:nth-child(even) {
	background-color: #FFFFFF;
}

.btn-hover-storage
{
	display: none;
}

.assignment-display .storage-assign-panel:hover .btn-hover-storage
{
	 display: block !important;
}

div[item-list-id]{
	min-height: 280px !important;
}

.total-amount-storage .second-text{
	text-align: center;
	width: 200px;
	margin-right: 0px !important;
}

.select.disabled{
	pointer-events : none;
}

.select.disabled .dd-txt,
.select.disabled .frm-custom-dropdown-txt,
.select.disabled .frm-custom-icon{
	background-color: #E3E3E3;
	color: #AFAFAF;
}