/*useraccount*/
.user-account-pht-holder{
	position: relative;
}

.user-account-pht{
	 left: 56px;
    overflow: hidden;
    position: absolute;
    width: 55%;
    height: 150px;
    position: absolute;
    text-align: center;
    top: -10px;
    width: 150px;
}

.edit-user-pht{
	top: 20px;
}

.pht-circle {
    border-radius: 50%;
}

.user-bread{
	color: #797981;
}

.user-edit{
	color: #578fc0;
	font-size: 14px;
}

.user-password{
	color: #578fc0;
	font-size: 12px;
	margin: 0 5px;
}

.help-btn{
	font-size: 14px;
}

.magrin-bottom-10{
	margin-bottom: 10px;
}

.magrin-bottom-50{
	margin-bottom: 50px;
}

.margin-bottom-input{
	margin-bottom: 8px;
}

.padding-left-0{
	padding-left: 0;
}

.padding-right-5{
	padding-right: 5px;
}

.user-panel h3{
	
}

.user-panel p{
	font-size: 14px;
}

.border-bottom{
	border-bottom: #c4c4c4 1px solid;

}

.user-select{
	width: 25%;
}

.user-select1{
	width: 33%;
}

.user span{
	padding-left: 0;
	margin-left: 0;
}

.help-tip{
	padding-left: 0;
	margin-left: 0;
}



/*ADD A DEAL*/

button.xlg{
	width: 100%
}

.add-new-deal{
	border: #979797 3px dashed;
	height: 150px;
	width: 265px;
	margin: 10px 10px;
}

.add-new-deal img{
	width: 80px;
	height: 80px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 10px;
}

.add-new-deal a{
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #999999;
	padding: 0;
}

.paddingt{
	padding: 2px 5px; 
}

.adddr{
	margin-top: 0 !important;
}

.addtxt{
	width: 50%;
}

.margin-right-15{
	margin-left: 15px;
}

.padding-side{
	padding: 0 10px;
}

.f-width-34{
	width: 34%;
	float: right;
}

.edit-x{
	margin-left: 65px;
}

.f-width-2{
	width: 6% !important;
	top: 5px;
}


/*for modal*/
.bg-modal{
	background-color: #efefef;
}

.bg-modal-header{
	background-color: #ffffff;
}

.bg-modal-body{
	background-color: #f6f6f6 !important;
}

.x-modal{
	background-color: #f1ba60;
	height: 45px;
	width: 45px;
	z-index: -1;
}

