.acc-dark-color { background-color: #f2f2f2; }
.acc-light-color { background-color: #ffffff; }


/*Start of Vessel List CSS*/
.main .semi-main .first-container .vessel-container  .vessel-hide{
	background-color: rgba(0,0,0,0.3);
   	opacity: 0;
    height: 80px;
    padding: 25px 0;
    position: absolute;
    top: 0px;
    width: 100%;
    margin: 0 auto;
    text-align: center;

    transition: opacity .5s;

}

.main .semi-main .first-container .vessel-container:hover .vessel-hide{
	opacity: 1;

	transition: all .3s;
}

.width-125px{
	width: 125px !important;
}

.upload-image-square {
	font-size: 0;
	border: dashed 4px #6C7A89;
	border-radius: 5px;
	height: 130px;
	width: 130px;
	text-align: center;
	margin:5px;
}

.edit-upload-image-square {
	font-size: 0;
	border-radius: 0px;
	height: 130px;
	width: 130px;
	text-align: center;
	margin:5px;
	overflow: hidden;
}

.bg-upload-bg{
	background-color: #ffffff;
}

.height-100per{
	height: 100% !important;
}
.padding-left-3{
	padding-left: 3px !important; 
}

.padding-top-6{
	padding-top: 6px !important; 
}

.apolo-white-bg{
	background-color: #292929;

}

.header-6a-color{
	background-color: #6a6a6a !important;
}

.camera-hide{
	background-color: rgba(0,0,0,0.5);
 	width: 100%;
    opacity: 0;
    position: absolute;
    top: 0px;
 	height: 100% !important;

    transition: opacity .5s;
}

.overflow-hide{
	overflow: hidden;
}

.modal-container .modal-body .modal-content .image:hover .camera-hide{
	opacity: 1;

	transition: opacity .5s;
}

/*END OF VESSEL LIST CSS*/


/*Start of Transfer List CSS*/
.width-75px{
	width: 75px !important;

}
.width-260px{
	width: 260px !important;
}
.width-660px{
	width: 660px !important;
}
.width-0per{
	width: 0% !important;
}

.width-12-5percent{
	width: 12.5% !important;
}

/*End of Transfer List CSS*/

/*Start Product Location Management CSS*/
.width-320px{
	width: 320px !important;
}
.width-315px{
	width: 315px !important;
}
.display-flex{
	display: inline-flex;
}

.storage-location-hide{
	background-color: rgba(0,0,0,0.5);
    opacity: 0;
    height: 50px;
    padding: 10px 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.width-145px{
	width: 145px !important;
}
.width-125px{
	width: 125px !important;
}

.main .semi-main .tbl-like:nth-child(even){
	/*background-color: #f2f2f2 !important;*/
	background-color: #D0D0D0;
}

.background-change:nth-child(odd){
	background-color: #D0D0D0;
}
.width-110px{
	width: 110px !important
}
.width-231px{
	width: 231px !important;
}
.width-191px {
	width: 191px !important;
}
.width-195px {
	width: 195px !important;
}
.width-235px{
	width: 235px !important;
}
.width-230px{
	width: 230px !important
}

.width-240px{
	width: 240px !important
}
.width-380px{
	width: 380px !important;
}
.width-390px{
	width: 390px !important;
}
.width-270px{
	width: 270px !important;
}

.height-110px{
	height: 110px !important;
}

.width-40percent{
	width: 40% !important;
}
.width-55percent{
	width: 55% !important
}
.width-60percent{
	width: 60% !important;
}
.width-65percent{
	width: 65% !important;
}
.width-90percent{
	width: 90% !important;
}

.width-60px{
	width: 60px !important;
}

.width-22px{
	width: 22px !important;
}

.width-27percent{
	width: 27% !important;
}
.width-23percent{
	width: 23% !important;
}



.vertical-align-baseline{
	vertical-align: baseline;
}

.vertical-align-middle{
	vertical-align: middle !important;
}



/*End Product Location Management CSS*/


/*Start of Transfer Page CSS*/
.width-425px{
	width: 425px !important;
}

.padding-right-130{
	padding-right: 130px !important;
}

.width-180px{
	width: 180px !important;
}
.width-10percent{
	width: 10% !important;
}
.width-14percent {
	width: 14% !important;
}
.width-15percent{
	width: 15% !important;
}

.width-40percent{
	width: 40% !important;
}

.list-style-square{
	list-style: square;
}

.text-indent-20{
	text-indent: 20px !important; 
}
.width-330px{
	width: 330px !important;
}

.width-25percent{
	width: 25% !important;
}
.height-100percent{
	height: 100% !important;
}
.width-30percent{
	width: 30% !important;
}
.width-32percent{
	width: 32% !important;
}


.width-33percent{
	width: 33% !important;
}

.width-70percent{
	width: 70% !important;
}

.height-80percent{
	height: 80% !important;
}

.height-65percent{
	height: 65% !important;
}

.height-190px{
	height: 190px !important;
}
.margin-top-3{
	margin-top: 3px !important;
}
.margin-right-7{
	margin-right: 7px !important;
}

.width-25percent{
	width: 25% !important;
}

.margin-left-13{
	margin-left: 13px;
}

.margin-left-18{
	margin-left: 18px !important;
}
.margin-top-135{
	margin-top: 135px !important;
}
.width-340{
	width: 340px !important;
}

.main .semi-main .table-content .content-hide{
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    height: 50px;
    padding: 10px 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: center;


    transition: opacity .5s;
}

.main .semi-main .table-content:hover .content-hide{
	opacity: 1;
	cursor: pointer;

	transition: opacity .5s;
}

.color-light-gray{
	color: #727272;
}

.width-70px{
	width: 70px !important;
}

.bg-light-gray{
	background-color: #f2f2f2;
}

.bggray-7cace5{
	background-color: #7cace5 !important;
}
.width-26percent{
	width: 26% !important;
}

.width-93per{
    width: calc(93% - 10px) !important;
}
.width-15px{
	width: 15px !important;
}

.width-0{
	width: 0 !important;
}

.location-address-check{
	position: absolute;
	left: 0;
}

.location-address{
	position: absolute;
	left: 0;
}

.display-block{
	display: block;
}

.display-none{
	display: none;
}

.overflow-y-auto{
	overflow-y: auto;
}

.height-26{
	height: 26px !important;
}
.line-height-25{
	line-height: 25px !important;
}
.line-height-20{
	line-height: 20px !important;
}
.line-height-30{
	line-height: 30px !important;
}

.width-48percent{
	width: 49.5% !important;
}
.width-26-6percent{
	width: 26.6% !important
}
.width-23-4percent{
	width: 23.4% !important;
}

.edit-hide{
	background-color: rgba(0,0,0,0.3);
	opacity: 0;
	height: 100%;
	padding: 20px 0;
	position: absolute;
	top: 0px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	transition: opacity .5s;
}

.create-edit-hide:after{
	height: 100%;
	content: '';
	display: inline-block;
	vertical-align: middle;
}


.main .semi-main .product-location:hover .edit-hide{
	opacity: 1;

	transition: all .5s;
}

.ongoing-edit-hide{
	background-color: rgba(0,0,0,0.3);
    opacity: 0;
    height: auto;
    position: absolute;
    top: 0px;
    width: 100%;
    margin: 0 auto;
    text-align: center;

    transition: opacity .5s;
}

.ongoing-edit-hide:after{
	height: 100%;
	content: '';
	display: inline-block;
	vertical-align: middle;
}


.main .semi-main .transfer-prod-location:hover .ongoing-edit-hide{
	opacity: 1;

	transition: all .5s;
}



.main .semi-main .transfer-prod-location:hover .ongoing-edit-hide{
	opacity: 1;

	transition: all .5s;
}


/*End of Transfer Page CSS*/

/*Withdrawal CSS */
.after-mid:after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
}

.vertical-baseline{
	vertical-align: baseline;
}

.font-green{
	color: #7ed321;
}

.width-initial{
	width: initial !important;
}

.border-top-medium{
    border-top: 1px solid rgba(0,0,0,1);
}
/*Withdrawal CSS */

.border-tab{
	border-bottom: 5px solid #f2f2f2;
}
.top-9px{
	top: 9px !important;
	left: 15px !important;
}

.max-width-200px{
	max-width: 200px !important;

}
.max-width-300px{
	max-width: 300px !important;
}

.transform-scale{
	transform: scale(1.5);
}

.min-height-50px{
	min-height: 50px !important;
}

.width-70px{
	width: 70px !important;
}

.color-light-gray{
	background-color: #c8c7c5 !important;
}

.color-lighter-gray{
	background-color: #e4e4e5 !important;
}

.width-105px{
	width: 105px;
}

.min-height-61px{
	min-height: 61px;
}

.border-bottom-1px{
	border-bottom: 1px solid #333;
}

/*End of Transfer Page CSS*/

.button-close:after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
}

.position-abs{
	position: absolute;
	top: 10px;
    right: 0;
}

.button-right-side{
	position: absolute;
}

.right-110px{
	right: 110px;
}

.right-0{
	right: 0px;
}

.caution {
	margin-top: 4px;
}

.caution img{
	height: 20px;
	width: 20px;
}








