/*tab arrow*/
ul.tab-arrow{
	font-size: 0;
	padding: 0;
	margin: 0 0 10px;
	border-bottom: solid 1px #333;
}

ul.tab-arrow.dual li,
ul.tab-arrow.penta li{
	position: relative;
	display: inline-block;
	width: calc(50% - 20px);
	padding: 20px 10px 20px;
}

ul.tab-arrow.penta li{
	width: 20%;
}

ul.tab-arrow li a{
	text-decoration: none;
	color: #333;
}

ul.tab-arrow li.active a{
	font-weight: 700;
}

ul.tab-arrow li.active:after{
	content: "";
	position: absolute;
	display: block;
	bottom: 0;
	width: 10px;
	height: 10px;
	margin-left: calc(50% - 15px);
	background: url(../../images/ui/arrow-tab.svg);
	background-size: 100%;
}

/*select*/
select.transform-dd{
	display: none;
}

.select{
	display: inline-block;
	vertical-align: middle;
}

.select,
.select .frm-custom-dropdown .frm-custom-dropdown-option{
	width: 170px;
}



.select.small,
.select.small .frm-custom-dropdown .frm-custom-dropdown-option{
	width: 115px;
}

.select.semi-medium,
.select.semi-medium .frm-custom-dropdown .frm-custom-dropdown-option{
	width: 150px;
}

.select.medium,
.select.medium .frm-custom-dropdown .frm-custom-dropdown-option{
	width: 170px;
}

.select.large,
.select.large .frm-custom-dropdown .frm-custom-dropdown-option{
	width: 230px;
	max-height: 300px;
	overflow-y: auto;
}

.select.xlarge,
.select.xlarge .frm-custom-dropdown .frm-custom-dropdown-option{
	width: 355px;
}

.select.auto,
.select.auto .frm-custom-dropdown .frm-custom-dropdown-option{
	width: auto;
}

.select .frm-custom-dropdown{
	width: 100%;
}

.select .frm-custom-dropdown .frm-custom-dropdown-txt{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 30px);
	border-style: solid none solid solid;
	border-radius: 3px 0px 0px 3px;
	border-width: 1px;
	border-color: #A8A8A8;
	overflow: hidden;
	background: #fff;
	transition: border-color .5s;
}

.select .frm-custom-dropdown .frm-custom-dropdown-txt input[type='text']{
	padding: 6px 0 6px 10px;
	width: 100%;
	height: 29px;
	border: none;
	font-size: 12px;
	outline: none;
}

.select .frm-custom-dropdown .frm-custom-icon{
	display: inline-block;
	vertical-align: middle;
	right: 0;
	width: 30px;
	height: 31px;
	border-style: solid solid solid none;
	border-radius: 0px 3px 3px 0px;
	border-width: 1px;
	border-color: #A8A8A8;
	background: #fff url(../../images/ui/select-arrow.png) no-repeat;
	background-size: 10px 6px;
	background-position: center;
	cursor: pointer;

	transition: border-color .5s;
}

.select:hover .frm-custom-dropdown .frm-custom-dropdown-txt,
.select:hover .frm-custom-dropdown .frm-custom-icon{
	border-color: #009cff;

	transition: border-color .5s;
}

.select .frm-custom-dropdown .frm-custom-dropdown-option{
	position: absolute;
	display: none;
	height: auto;
	max-height: 300px;
	border: solid 1px #A8A8A8;
	border-radius: 3px;
	overflow-y: auto;
	box-shadow: 0 2px 10px rgba(0,0,0,.3);
	cursor: pointer;
	z-index: 999;	
	width: 250px;
	

}

.select .frm-custom-dropdown .frm-custom-dropdown-option .option{
	padding: 5px 10px;
	margin: 0;
	font-size: 12px;
	background-color: #fff;
	color: #333;
	text-align: left;
	width: 100%;

	transition: background-color .2s, color .2s;
}

.select .frm-custom-dropdown .frm-custom-dropdown-option .option:hover{
	background-color: #7ed222;
	color: #fff;
	
	transition: color .2s, background-color .2s;
}

.select .frm-custom-dropdown .frm-custom-dropdown-option .option table tr:nth-of-type(odd){
	background-color: #f2f2f2;

	transition: all .2s;
}

.select .frm-custom-dropdown .frm-custom-dropdown-option .option table tr:nth-of-type(even){
	background-color: #fff;

	transition: all .2s;
}

.select .frm-custom-dropdown .frm-custom-dropdown-option .option table tr td{
	padding: 5px;
	font-weight: 700;
}

.select .frm-custom-dropdown .frm-custom-dropdown-option .option:hover table tr:nth-of-type(odd){
	background-color: #76c420;

	transition: all .2s;
}

.select .frm-custom-dropdown .frm-custom-dropdown-option .option:hover table tr:nth-of-type(even){
	background-color: #7ed222;

	transition: all .2s;
}


/*modified dropdown */
/*
.mod-select .select {
	width: 203px;
}
*/
.mod-select .select .frm-custom-dropdown-txt {	
	border: none !important;
}
.mod-select .select .frm-custom-icon {
	border: none !important;
	background-color: transparent !important;
}
.turn-gray .frm-custom-dropdown .frm-custom-dropdown-txt input[type='text'] {
	background-color: #C3C3C3 !important; 
}
.mod-select .select .frm-custom-dropdown .frm-custom-dropdown-txt input[type='text'], 
.mod-select .select .frm-custom-dropdown .frm-custom-dropdown-text input[type="text"]{
	padding: 6px 0;
	width: 100%;
	height: 40px;
	border: none;
	font-size: 20px;
	outline: none;
	font-weight: 500;
	/*color: #5199d4;*/
	color: #333;
	background-color: #efefef ;
}

/* dropdown change color */

.mod-select .select .frm-custom-dropdown .frm-custom-icon{
	background: #fff url(../../images/ui/select-arrow-black.png) no-repeat;
	background-size: 16px 10px;
	margin-top: 20px;
}
.mod-select .select .frm-custom-dropdown-option {
	width: 330px;
}

.unique-drop .frm-custom-dropdown .frm-custom-dropdown-option {
	width: 310px;
}

/*div on hover button*/
.panel-withhover{
	position: relative;	
	background-color: #fff;
	padding: 15px 15px;
	margin-bottom: 5px	;
}

.panel-withhover .brand-name {
	float: left;
	font-weight: 400;
	font-size: 18px;
	margin-top: 7px;
}
.panel-withhover .optype {
	float: right;
	font-size: 20px;
	font-weight: 400;
	margin-top: 6px;
}
.panel-withhover .line {
	float: right;
	font-size: 40px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 3px;
}
.panel-withhover img {
	float: right;
	width: 100px;
}
.panel-withhover .panel-hoverbutton {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.panel-withhover:hover .panel-hoverbutton {
	background-color: rgba(0,0,0,0.5);
	opacity: 1;
	transition: 1s all;
}



/****  annoucement - triangle *****/

.notif{
	text-align: right;
	position: fixed;
	top: 80px;
	right: 10px;
	z-index: 1;
	overflow: hidden;
}

.notif.hide{
	height: 0;
}

.notif.show{
	height: 500px;
}

.notif.showing{
	animation: notif-show .2s linear forwards;
}

@keyframes notif-show{
	from{ opacity: 0; height:0;}
	to{ opacity: 1; height:500px;}
}

.notif.hidding{
	animation: notif-hide .2s linear forwards;
}

@keyframes notif-hide{
	from{ opacity: 1; height:500px;}
	to{  opacity: 0; height:0;}
}

.notif .notif-inside {
	width: 400px;
	height: 100%;
	margin-left: 100px;
}

.notif .notif-inside .notif-content{
	height: calc(100% - 53px);
	overflow-y:auto;
	overflow-x:hidden;
	border: solid 1px #aaa;
}

.top-container {
	position: relative;
	margin-top: -1px;
	width: 100%;
	background-color: #fff;
	border: solid 1px #aaa;
	z-index: 0;
}

.arrow{
	position: relative;
	margin-left: 370px;

	width: 20px;
	height: 15px;
	background-image: url(../../images/ui/arrow_up.svg);
	z-index: 999;
}

.announce-cont.unread {
	background-color: #e7ffce !important;
}

.announce-cont.unread:hover,
.announce-cont:hover {
	background-color: #eee !important;
	
}

/*accordion*/
.panel-collapse.collapse{
	display: block;
	overflow: hidden;
	max-height: 0px;
	transition: max-height .5s;
}

.panel-collapse.in{
	height: auto;
	max-height: 3000px;
	transition: max-height .8s;
}

.panel-collapse .panel-heading.arrow-right:after{
	content: "";
	position: absolute;
	display: block;
	left: -15px;
	top: 25px;
	width: 15px;
	height: 15px;
	background: url(../../images/ui/right-arrow-deals.png) no-repeat;
	background-size: 15px;
}

.panel-collapse .panel-heading,
.dashboard-icon{
	position: relative;
}

.panel-collapse .panel-heading .side-icon,
.dashboard-icon .side-icon{
	position: absolute;
	border-radius: 50px;
	padding-top: 8px;
	top: 20px;
	left: -50px;
	width: 30px;
	height: 30px;
	color: #fff;
	text-align: center;
}

.dashboard-icon .side-icon{
	top: 5px;
    left: 15px;
}

.side-border,
.dashboard-icon .side-border{
	position: relative;
}

.side-border:after,
.dashboard-icon .side-border:after{
	content: "";
	position: absolute;
	top: 55px;
	left: -36px;
	height: calc(100% - 10px);
	width: 2px;
	background-color: #aaa;
}

.dashboard-icon .side-border:after{
	top: 0px;
	left: -31px;
	height: calc(100% + 20px);
}

.dashboard-icon .side-border:after{
	background-color: #4a90e2;
}

.side-border.longer:after{
	height: calc(100% + 30px);
}

.email-icon{
	color: #aaa;
	text-decoration: none;
}

.email-icon:hover{
	text-decoration: none;
	color: #555;
}

.edit-interact{
	display: none;
}

/*new-box-dashed*/
.new-box-dashed{
	position: relative;
	display: block;
	margin: 20px auto;
	padding: 10px;
	width: 280px;
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,.3);
	cursor: pointer;
}

.new-box-dashed:after{
	content: "";
	position: absolute;
	display: block;
	left: 280px;
	top: 120px;
	width: 20px;
	height: 50px;
	background: url(../../images/ui/left-box-arrow.png) no-repeat;
}

.new-box-dashed .box-content{
	position: relative;
	border: dashed 2px #ddd;
	width: 260px;
	height: 260px;
	opacity: 1;

	transition: opacity .3s;
}

.new-box-dashed .box-content:hover{
	opacity: .5;

	transition: opacity .3s;
}

.new-box-dashed .box-content img{
	margin-top: 50px;
	width: 100px;
	
}

.new-box-dashed .box-content p{
	margin-top: 20px;
	font-size: 20px;
	font-weight: 700;
	color: #aaa;
}

/*tags*/
span.tag{
	display: inline-block;
	margin: 2px;
	padding: 5px;
	background-color: #ffa888;
	color: #fff;
}

/*progress*/
.progress-container{
	width: 100%;
	height: auto;
	border: solid 1px #aaa;
	border-radius: 5px;
	background-color: #fff;
}

.progress-container .loading-bar{
	position: relative;
	height: 20px;
	background-color: #3dafff;
}


.progress-container .loading-bar:after{
	content: "";
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-image: linear-gradient(
		-45deg,rgba(255, 255, 255, .2) 25%, 
		transparent 25%, 
		transparent 50%, 
		rgba(255, 255, 255, .2) 50%, 
		rgba(255, 255, 255, .2) 75%, 
		transparent 75%, 
		transparent
	);
	z-index: 1;
	background-size: 50px 50px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	overflow: hidden;

}

.scale{
	font-size: 0;
	width: 100%;
}

.scale .point{
	display: inline-block;
	vertical-align: top;
	width: 24.9%;
	height: 10px;
	font-size: 14px;
	border-left: solid 2px #aaa;
}
.scale .pointx{
	display: inline-block;
	vertical-align: top;
	width: 0.1%;
	height: 10px;
	font-size: 14px;
	border-left: solid 2px #aaa;
}

.scale .point:last-child{
	border-right: solid 2px #aaa;
}

/*deals*/
.template{
	display: none;
}

.content-overflow100-y {
	max-height: 100vh;
	overflow-y: auto;
	z-index: 1;
}
.content-overflow-y {
	overflow-y: auto !important;
}

.dash-team-div{
	width: calc(50% - 22px);
	margin: 0 10px;
}

.line-height-1-2{
	line-height: 1.2
}



/*search*/
.search-button-display, 
.search-button-display1,
.container-show,
.container-show1 {
	overflow: hidden;
	padding: 0 10px;
    height: 0px;
    transition: height .5s, padding .5s;
}

.search-button-display.show
{
    padding: 10px;
    transition: all .5s;
}
	.search-button-display.show { height: auto; }
	.search-button-display1.show {height: auto; }
	.container-show.show { height: 600px; }
	.container-show1.show { height: 600px; }

/*content manager container*/
.container-content {
	background-color: #fff;
	cursor: pointer;
	padding: 15px;
	position: relative;
	width: 32.5%;	
}
	.container-content table { width: 100%; }
	.container-content:hover > .icon-popup { display: block; }

/*icon popup inside content manager*/
.icon-popup {
	display: none;
	position: absolute;
	right: 10px;
	top: 10px;
}

	.icon-popup .fa-trash {	 padding-right: 7px; }
	.icon-popup .fa { cursor: pointer; }
	.icon-popup .fa:hover { color: #aaa; }


/*product add text inside inputbox*/
.input-withtext {
	position: relative;
}
	.input-withtext p {
		color: gray;
		position: absolute;
		top: 0;
		right: 10px;
		margin-top: 4px;
	}

/*modal with hover icon*/
.view-team {
	display: none;
	position: absolute;
	top: 0px;
	right: 70px;
	cursor: pointer;
}
.view-team:hover {
	color: #aaa;
}

.text-center:hover > .view-team {
	display: block;
}


/*rounded accordion*/
.panel-group { display: block; }
.rounded-acc {
	display: block;	
	margin-bottom: 30px;
	position: relative;	
}
.rounded-acc .panel-heading {
	display: inline-block;
}

.rounded-acc .panel-heading a p{	
	border-radius: 50%;		
	background-size: 300px; 
	height: 200px;
	width: 200px;		
	overflow: hidden;
	background-color: #fff;
	transition: box-shadow .3s;			
	font-size: 0 !important;
}
.rounded-acc .panel-heading a p img {
	width: 100%;	
	display: inline-block;
	vertical-align: middle;
}
.rounded-acc .panel-heading a p:after {
	content: '';
	height: 100%;
	width: 0px;
	display: inline-block;
	vertical-align: middle;
}

.rounded-acc .panel-heading a p:hover {	box-shadow: 0px 5px 9px rgba(0,0,0,0.5); }

/*browse by icons */
.browse-by .bullet {
	color: gray;
	cursor: pointer;
	font-size: 18px;
}
.browse-by .list {
	font-size: 20px;
	cursor: pointer;
}

/*dropdown button for transfer list*/
.drop-button .frm-custom-dropdown-txt,
.drop-button-withdraw .frm-custom-dropdown-txt,
.drop-receiving .frm-custom-dropdown-txt {
	border-top-left-radius: 30px !important;
	border-bottom-left-radius: 30px !important;
	border: 1px solid ;
}
.drop-button input,
.drop-button-withdraw input,
.drop-receiving input {
	background-color: #b8e986;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}
.drop-button .frm-custom-icon,
.drop-button-withdraw .frm-custom-icon,
.drop-receiving .frm-custom-icon {
	border-top-right-radius: 30px !important;
	border-bottom-right-radius: 30px !important;
	background-color: #b8e986 !important;
}

/*dropdown button for receiving list*/



/*rounded link with times*/
.error-link .fa{
	border: 3px solid #9c1303;
	border-radius: 50%;
	width: 23px;
	height: 23px;
	font-size: 18px;
	line-height: 17.5px;
	text-align: center;
}

/*divider for transfer page*/
.divider {
	width: 1px;
	border: 1px solid rgba(0,0,0,0.5);
}

/*modified dropdown for transfer-product*/
.mod-dropdown .frm-custom-dropdown-option {
	width: 350px !important;
}

/*input text with MT inside */
.inputMT {
	margin: 0;
	padding: 0;
	display: block;	
}
	.inputMT input,
	.inputMT p {
		margin: 0;
		padding: 0;
	}
	.inputMT p {
		position: absolute;
		left: 170px;
		top: 5px;	
		background-color: #fff;
		width: 20px;
	}
/*input text with MT inside */
.inputKL {
	margin: 0;
	padding: 0;
	display: block;	
}
	.inputKL input,
	.inputKL p {
		margin: 0;
		padding: 0;
	}
	.inputKL p {
		position: absolute;
		left: 130px;
		top: 5px;	
		background-color: #fff;
		width: 20px;
	}


/*dropdown margin left removed*/
.drop-left input {
	margin-left: 0px !important;
}

/* consignee page */

	/* left panel */
.content-consignee {
	float: left;
	width: 300px;
	background-color: #C3C3C3;
	/*height: calc(100vh - 76px);*/
	height: 100vh;
	min-height: 100%;
	padding: 15px 0;
	
}

/*modified margin */
.mod-margin {
	margin: 72px 0 0px !important; 
}
.content-item {
	float: left;
	width: calc(100% - 300px);
	margin: 0 auto;

}
	.tbl-consignee td {
		padding: 10px;
	}

.hover-item:hover {
	background-color: #efefef;
	cursor: pointer;
}

/* modified accordion for product inventory */
.mod-accordion .accordion_custom {
	background-color: #e6e6e6;
}
.mod-accordion .panel-title:before {
	content: '';
}
.mod-accordion .panel-title.active:before {
	content: '';
}


.with-hover {
	position: relative;
	transition: background-color 1s;
	-webkit-transition: background-color1s;
	-moz-transition: background-color 1s;
	-o-transition: background-color 1s;
}
.with-hover:hover > .with-button {
	background-color: rgba(0,0,0,0.5);
	transition: background-color 1s;
	-webkit-transition: background-color 1s;
	-moz-transition: background-color 1s;
	-o-transition: background-color 1s;
	
}

.with-button {
	width: 100%;	
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0);	
	z-index: 0;	
	transition: background-color 1s;
}
.with-button button {
	margin: 90px auto;
	display: block;
}

/* receiving record */
.new-price {
	position: relative;
}
.new-price p {
	position: absolute;
	top: 3px;
	right: 0px;
}

.close-on-tbl {
	position: relative;
}
.close-on-tbl a {
	position: absolute;
	bottom: 10px;
	left: 9px;
}

/*modified kilogram for receiving truck*/
.mod-kilo {
	position: relative;
}
.mod-kilo p {
	position: absolute;
	top: 5px;
	right: 140px;
}

.other-doc-js {
	color: #428bca;
	font-size: 15px;
	font-weight: normal;
	transition: color .5s;
	cursor: pointer;
}
.other-doc-js:hover {
	color: #428bca;
}
.other-receiving-js {
	color: #428bca;
	font-size: 15px;
	font-weight: normal;
	transition: color .5s;
	cursor: pointer;
}
.other-receiving-js:hover {
	color: #4793D4;
}
.other-stock-js {
	color: #428bca;
	font-size: 15px;
	font-weight: normal;
	transition: color .5s;
	cursor: pointer;
}
.other-stock-js:hover {
	color: #4793D4;
}

.with-link {
	color: #428bca;
	font-size: 15px;
	font-weight: normal;
	transition: color .5s;
	cursor: pointer;
}
.with-link:hover {
	color: #428bca;
}


.red-border {
	border: 2px solid #EA1C04 ;
}

.transfer-check {
	width: 200px;
}
@media (max-width : 1366px) {
	.transfer-check {
		width: 150px;
	}	
}


.cover-batch {
	border: 2px solid gray;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 25px;
	font-size: 20px;
	color: #fff !important;
	background-color: gray;
}
.fix-image {
	width: 270px;
	height: 200px;
}
.fix-image img {
	height: 200px;
}

/*hover profile */
.hover-edit-img {
	background-color: rgba(0,0,0,0.5);
	border-radius: 50%;
	height: 130px;
	opacity: 0;
	position: absolute;
	top: 0px;	
	width: 130px;

	transition: all .5s;
}
.hover-edit-img:hover {
	opacity: 1;
}

/*dropdown search result */
.dropdown-search {
	background-color: #DADFE1;
	display: none;
	padding: 10px;	
	position: relative;
	margin-top: 30px;
}
.dropdown-search table {
	display: block;
}
.dropdown-search table tr td:first-child {
	font-weight: bold;
	padding-left: 10px;
	text-align: left;
	width: 100px;
}
.dropdown-search table td {
	padding: 5px;
}
.dropdown-search table tr:first-child td:last-child input {
	width: 100% !important;
}
.dropdown-search table .search-action .f-left select {
	width: 100px !important;
}

.dropdown-search .triangle {
	color: #DADFE1;
	position: absolute;
	right: 35px;
	top: -55px;
	z-index: -1;
}
.dropdown-search .new-triangle {
	z-index: 1;
}
.dropdown-search .triangle i {
	font-size: 70px;
}

/*hover effect on table in product management */

.table table .cover-hover {
	background-color: rgba(0,0,0,0.4);
	height: 54px;
	left: 21%;
	padding: 0px;
	position: absolute;
	width: 72%;

}
.table table td {
	padding: 20px 10px;
}

.tbl-like {
	position: relative;
}
.tbl-like:nth-child(even) {
	/*background-color: #f2f2f2;*/
	background-color: #D0D0D0;
}
.tbl-like .first-tbl {
	height: 50px;
	padding: 20px 0px;
}
.tbl-like .first-tbl p,
.tbl-like .first-tbl a {
	float: left;	
}  

.tbl-like .first-tbl p:nth-child(1) {
	width: 220px;
}
.tbl-like .first-tbl p:nth-child(2) {
	width: 200px;
}
.tbl-like .first-tbl p:nth-child(3) {
	width: 230px;
}
.tbl-like .first-tbl p:nth-child(4) {
	width: 220px;
}
.tbl-like .first-tbl a {
	text-transform: uppercase;
	width: 100px;
}
.tbl-like .hover-tbl {
	background-color: rgba(0,0,0,0.5);
	display: none;
	height: 50px;
	padding: 10px 0px;
	position: absolute;	
	top: 0px;
	width: 100%;

	transition: all .5s;
}
.tbl-like:hover .hover-tbl {
	display: block;

	transition: all .5s;
}
.tbl-like .hover-tbl a {
	display: inline-block;
	vertical-align: middle
}
.tbl-like .hover-tbl:after {
	content: '';	
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

/*text inside input */
.text-inside-item {
	position: relative;	

}
.text-inside-item input {
	padding-right: 50px;
	position: absolute;
	top: 10px;
	width: 200px !important;

}
.text-inside-item p {
	position: absolute;
	top: 15px;
	right: 5px;
}

/*items in composite product */
.composite-product .item-container {
	border: 1px solid rgba(0,0,0,0.5);	
}
.composite-product .item-container .search-item {
	border-bottom: 1px solid rgba(0,0,0,0.5);
	height: 80px;
	padding: 15px 10px;
}
.composite-product .item-container .search-item input {
	height: 50px;
	width: 100%;
}
.composite-product .item-container .item-list {
	max-height: 400px;
	overflow-y: scroll;
}
.composite-product .item-drag.item-container .item-list {
	height: 480px;
	max-height: 480px;
	overflow-y: scroll;
}

.composite-product .item-container  .items{
	border-bottom: 1px solid rgba(0,0,0,0.5);
	height: 80px;
	padding: 10px;
	text-align: left;
}
.composite-product .item-container  .items img,
.composite-product .item-container  .items div {
	display: inline-block;
	margin-left: 20px;
	vertical-align: middle;
}
.composite-product .item-container .items img {
	margin-left: 20px;
	width: 60px;
}
.composite-product .item-container .items div {
	margin-left: 20px;
}
.composite-product .item-container .items div p:first-child {
	font-weight: 700;
}
/*end */

.with-modal .frm-custom-dropdown-option .option:last-child {
	border-top: 1px solid rgba(0,0,0,0.5);
	color: blue;
	font-style: italic;
}

/*customized button */
/*            customize widget       */

.button-activated {
	margin-right: 150px;
}

.toggleSwitch .switch {
	display: none;
}

input.switch:empty ~ label
{
	position: relative;	
	line-height: 2.5em;	
	margin: 0 0;
	float: left;
	cursor: pointer;
}

/* the container of the buttons */
input.switch:empty ~ label:before, 
input.switch:empty ~ label:after
{
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 150px;
	background-color: #f7dfdc;
	border-radius: 0.3em;
	
  	transition: all 100ms ease-in;
}

input.switch:empty ~ label:before {
	background-color: #e37d7d;
	border-radius: 15px;
	content: 'Deactivated';
	color: #fff;
	font-size: 15px;
	font-weight: 500;	
	padding-right: 0px;
	padding-left: 30px;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	
}

input.switch:checked ~ label:before {
	background-color: #bbe68a;	
	content: 'Activated';
	color: #fff;
	font-size: 15px;
	font-weight: 500;
	padding-left: 0px;
	padding-right: 30px;
}


input.switch:empty ~ label:after
{
	background-color: #fff;
	width: 3.1em;
	top: 0.1em;
	bottom: 0.1em;
	margin-left: 0.1em;
	border-radius: 15px;
	box-shadow: 1px 1px 1px rgba(0,0,0,1);
}

input.switch:checked ~ label:after {
	background-color: #fff;
	border-radius: 15px;
	margin-left: 113px;	
}


/*Cotegory Management settings css*/

.main .semi-main .upper-content .product-categories .product-table .table-content .content-hide{
	background-color: rgba(0,0,0,0.5);
   	opacity: 0;
    height: 50px;
    padding: 10px 0px;
    position: absolute;
    top: 0px;
    width: 100%;

    transition: all .3s;

}

.main .semi-main .upper-content .hierarchy-categories .hierarchy-table .table-content .content-hide{
	background-color: rgba(0,0,0,0.5);
   	opacity: 0;
    height: 50px;
    padding: 10px 0px;
    position: absolute;
    top: 0px;
    width: 100%;

    transition: all .3s;

}

.main .semi-main .lower-content .loading-areas-categories .loading-areas-table .table-content .content-hide{
	background-color: rgba(0,0,0,0.5);
    opacity: 0;
    height: 50px;
    padding: 10px 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.main .semi-main .lower-content .loading-type-categories .loading-type-table .table-content .content-hide{
	background-color: rgba(0,0,0,0.5);
   	opacity: 0;
    height: 50px;
    padding: 10px 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}


.main .semi-main .table-content:nth-child(even){
	background-color: #f2f2f2;

}

.main .semi-main .upper-content .hierarchy-categories .table-content:hover .content-hide{
	opacity: 1;
	background-color: rgba(0,0,0,0.5);

	transition: all .3s;
}

.main .semi-main .upper-content .product-categories .table-content:hover .content-hide{
	opacity: 1;
	background-color: rgba(0,0,0,0.5);

	transition: all .3s;
}

.main .semi-main .lower-content .loading-areas-categories .table-content:hover .content-hide{
	opacity: 1;
	background-color: rgba(0,0,0,0.5);

	transition: all .3s;
}	

.main .semi-main .lower-content .loading-type-categories .table-content:hover .content-hide{
	opacity: 1;
	background-color: rgba(0,0,0,0.5);

	transition: all .3s;
}

/*end of Cotegory Management settings css*/





/*yes no switch */
.yes-no input.switch:empty ~ label:before {
	content: 'No';
}
.yes-no input.switch:checked ~ label:before {
	content: 'Yes';
}


.main .semi-main .table-content:nth-child(even){
	background-color: #f2f2f2;

}

/*superuser width 200px*/
.end-width-200px {
	width: 200px !important;
}


.drag-list {
	text-align: center;
}
.drag-item {
	display: inline-block;
	vertical-align: middle;
}
.drag-list:after {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

/* image container in product */
.image-content-product {

	height: 150px;
	text-align: center;
	width: 200px;
}
.image-content-product img {
	max-width: 100%;
	max-height: 100%;
}

/* placeholder image under edit product */
.placeholder-img img {
	margin-left: 0px !important;	
	width: 80px !important;
}

/*rounded border in hover image*/
.team-img-cover {	
	border-radius: 50%;
	cursor: pointer;
	height: 130px;
	position: absolute;
	top: 0px;
	width: 130px;	

	transition: box-shadow .2s;
}
.team-img-cover:hover {
	/*border: 5px solid #154c73;*/
	box-shadow: -2px 5px 6px rgba(0,0,0,0.5);	
}

.team-mngt-cover {
	border-radius: 50%;
	cursor: pointer;
	height: 130px;
	left: 0px;
	position: absolute;
	top: -55px;	
	width: 130px;

	transition: box-shadow .2s;
}
.team-mngt-cover:hover {
	/*border: 5px solid #154c73;*/
	box-shadow: -2px 5px 6px rgba(0,0,0,0.5);	
}

.line-height-20px  {
	line-height: 20px !important;
}

/* left brand item */
.left-brand-item .item-list {
	cursor: pointer;
	height: 95px;
	transition: all .5s;
}
.left-brand-item .item-list.active {
	background-color: #EFEFEF;	
}
.left-brand-item .item-list.active .text {
	border-top: 0px !important;
	border-bottom: 0px !important;
}
.left-brand-item .item-list .image {
	height: 70%;
	margin-left: 10px;
	margin-right: 10px;
	width: 100px;
}
.left-brand-item .item-list:hover {
	background-color: #EFEFEF;		
}
.left-brand-item .item-list:hover .text {
	border-top: 0px !important;
	border-bottom: 0px !important;	
}
.left-brand-item .item-list .image img {
	height: 100%;
	width: 100%;
}
.left-brand-item .item-list .text {
	
	border-bottom: 1px solid rgba(0,0,0,0.1);
	height: 100%;
	width: 170px;
}
.left-brand-item .item-list:first-child .text {
	border-top: 1px solid rgba(0,0,0,0.1);
}
.left-brand-item .item-list .text p {
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	text-align: left;
	vertical-align: middle;
	width: 165px;
}
.left-brand-item .item-list .text:after  {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

/* image inside consignee information */
.consignee-information-box {
	padding: 20px;
}
.consignee-information-box .image-here {
	border: 1px solid rgba(0,0,0,0.3);
	display: inline-block;
	height: 150px;
	overflow: hidden;
	vertical-align: middle;
	width: 150px;
}
.consignee-information-box .image-here img {
	display: inline-block;
	vertical-align: middle;
	width: 95%;
}
.consignee-information-box .image-here:after {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.consignee-information-box .text-here {
	padding-left: 30px;
	text-align: left;
	width: 80%;
}
.consignee-information-box .text-here .image-name {
	border-bottom: 1px solid rgba(0,0,0,0.2);
	padding-bottom: 15px;
	width: 100%;
}
.consignee-information-box .text-here .image-name p:first-child {
	color: #333;
	font-size: 15px;
	font-weight: 500;
}
.consignee-information-box .text-here .image-name p:last-child {
	font-weight: 400;
	font-style: italic;
}
.consignee-information-box .text-here .billing-mode {
	padding-top: 10px;
} 
.consignee-information-box .text-here .billing-mode table {
	width:  100%;
}
.consignee-information-box .text-here .billing-mode tr td:first-child {
	font-size: 14px;
	font-weight: 500;
	color: #333;
}
.consignee-information-box .text-here .billing-mode tr td:last-child {
	font-size: 14px;
	font-weight: 400;
}

/*contact person center text */
.contact-person {
	padding-top: 20px;
	padding-bottom: 20px;
}
.contact-person .contact-name {
	display: inline-block;
	vertical-align: middle
}
.box-contact-person .parent-contact-name {
	border-bottom: 1px solid rgba(0,0,0,0.2);
	display: inline-block;
	height: 75px;
	margin-left: 30px;
	text-align: left;
	vertical-align: middle;
	width: 67%;
}
.contact-person .parent-contact-name:after  {
	content : '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.limit-container-box {
	max-height: 400px;
	min-height: 270px;
	overflow-y: auto;
}

/*button positioning inside the table */
.table-content .content-hide button {
	display: inline-block;
	vertical-align: middle
}
.table-content .content-hide:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

/* product management table  */
.mngt-tbl-content {
	text-align: left;
}
.mngt-tbl-content:after {
	content: '';
	display: inline-block;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}
.mngt-tbl-content div {	
	text-align: center;
}
.mngt-tbl-content div:nth-of-type(2) {
	width: 200px;
}
.mngt-tbl-content div:nth-of-type(5) {
	width: 96px;
}

/* aligning table in transfer page */
.transfer-tbl:after {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.top-content-btn {
	/*height: 100px;*/
	transition: height .5s;
}

/*add consignee form */
.add-consignee-information {
	border-bottom: 1px solid rgba(0,0,0,0.2);	
	padding-bottom: 20px;
}
.add-consignee-information .left-information { width: 30%; }
.add-consignee-information .image-here {
	border: 1px solid rgba(0,0,0,0.2);
	height: 150px;
	margin: 20px auto;
	text-align: center;
	width: 150px;
}
.add-consignee-information .image-here {
	background-color: #d8d8d8;
	cursor: pointer;
	position: relative;
	text-align: center;
}
.add-consignee-information .image-here img {
	display: inline-block;
	margin-left: 4px;
	width: 95%;
	vertical-align: middle
}
.add-consignee-information .image-here:after {	
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	width: 0px;
}
.add-consignee-information .image-here div {
	display: inline-block;
	vertical-align: middle;
}

.add-consignee-information .image-here .hover-image {
	background-color: rgba(0,0,0,0.5);
	height: 150px;
	left: 0px;
	padding-top: 40px;
	position: absolute;
	top: 0px;
	width: 150px;
}
.add-consignee-information .right-information { width: 69%; }
.add-consignee-information .right-information div:nth-of-type(1) table { width: 100%; }
.add-consignee-information .right-information table tr td:first-child { width: 150px; }
.add-consignee-information .right-information div:nth-of-type(2) table tr td:last-child { width: 73%; }
.add-consignee-information .right-information div:nth-of-type(1) table input {	 width: 100% !important; }
.consignee-second-information {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid rgba(0,0,0,0.2);
}

.notes-under-consignee {
	border-top: 1px solid rgba(0,0,0,0.2);
	padding-top: 30px;
}

/* add-consignee new consignee */
.new-consignee-parent {
	padding: 15px;
}
.new-consignee {
	border: 1px dashed rgba(0,0,0,0.5);
	color: #fff;
	font-size: 30px;
	height: 100%;

}
.new-consignee p {
	color: gray;
	font-size: 20px;
	margin-left: 20px;
}
.new-consignee:after {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}


.head-contact-person .image-here,
.head-contact-person .text-here {
	display: inline-block;
	vertical-align: middle
}
.head-contact-person .image-here {
	background-color: #d8d8d8;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 50%;
	cursor: pointer;
	height: 130px;
	text-align: center;
	width: 130px;	
}
.head-contact-person .image-here i {
	color: rgba(0,0,0,0.5);
	font-size: 30px;
	margin-top: 35px;
}
.head-contact-person .image-here p {
	color: 	#a4a4a4 !important;
	font-weight: 400;
}
.head-contact-person .text-here { margin-left: 30px; }
.head-contact-person .text-here table tr td:first-child { width: 120px; }
.head-contact-person .text-here table tr td:last-child { width: 250px; }
.head-contact-person .text-here input { width: 100% !important; }
.body-contact-person { border-top: 1px solid rgba(0,0,0,0.2); }

/* vessel-list add vessel upload photo modal */
.modal-container .add-vessel .image {	
    background-color: #d8d8d8;
    border: 1px solid rgba(0,0,0,0.2);    
    height: 130px;
    width: 130px;
    text-align: center;
    margin: 5px;
}
.modal-container .add-vessel .image i {
	color: rgba(0,0,0,0.5);
	font-size: 35px;
	margin-top: 40px;
}

/* border top under consignee view ongoing vessel */
.border-top-light {
	border-top: 1px solid rgba(0,0,0,0.2);
}

/* icon list */
.icon-item {
	border-radius: 10px;	
	cursor: pointer;
	display: inline-block;
	height: 100px;
	padding: 30px;
	margin-right: 20px;
	width: 100px;
}
.icon-item img {
	width: 50px;
}
.icon-item.light { background-color: #a2ded0; }
.icon-item.purple { background-color: #be90d4; }
.icon-item.orange { background-color: #f2a47f; }
.icon-item.yellow { background-color: #f5a623; }
.icon-item.blue { background-color: #4a90e2; }

/* chart for dashboard */

.rounded-chart .rounded {
	display: inline-block;
	vertical-align: middle
}
.rounded-chart .rounded .round-graph {
	height: 200px;
	width: 200px;
}
.rounded-chart .rounded .round-percentage,
.rounded-chart .rounded .round-percentage1 {
	height: 200px;
	width: 200px;
}
.rounded-chart .rounded .round-graph svg { height: 270px; }
.rounded-chart .rounded .round-graph.green svg circle.circle { stroke: #b8e986; }
.rounded-chart .rounded .round-graph.blue svg circle.circle { stroke: #63b7bb; }
.rounded-chart .rounded .round-graph.violet svg circle.circle { stroke: #a473b0; }


.rounded-chart .round-percentage svg,
.rounded-chart .round-percentage1 svg {
	height: 270px;
}

.rounded .round-percentage.design-text text.timer {
	font-weight: 700;
	fill: #333;
}
.rounded .round-percentage1.design-text text.timer {
	font-weight: 700;
	fill: #333;
}
.rounded .round-graph svg text:nth-of-type(1) {
	font-size: 12px !important;
} 
.rounded .round-graph svg text:nth-of-type(2) {
	fill: #333;
	font-size: 15px !important;
	font-family: 'arial', sans-serif;
	font-weight: 500;
} 
.rounded .round-graph svg text:nth-of-type(3) { font-size: 18px !important; } 

/* slider report */
.slider-report {
	background-color: #f9f9f9;
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
	height: 300px;
	margin-top: 80px;
	padding: 10px;
}

.slider-report .title-report p {
	color: #4a4a4a;
	font-size: 20px;
	font-weight: 600;
}

.slider-report .slide {
	padding: 5px;
}
.slider-report .slide .title-slide p:nth-of-type(1), 
.slider-report .slide .title-slide p:nth-of-type(2) {
	color: #353535;
	font-size: 20px;
	font-weight: 600;
	
}

.slider-report .title-report p:nth-of-type(1) {
	float: left;
}
.slider-report .title-report p:nth-of-type(2) {
	float: right;
}
.slider-report .bx-wrapper {
	/*box-shadow: none;*/
}
.slider-report .bx-wrapper, 
.slider-report .bx-viewport {
	background: transparent !important; 
	border: 0px;
	box-shadow: none !important;
	height: 250px !important;
}
.slider-report .slider-container .slide {
	background-color: #fff;
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
	height: 220px;	
	margin: 10px;	
	width: 431px !important;
}
.slider-report .slider-container .slide.withdrawal {
	border-left: 10px solid #9013fe;
}
.slider-report .slider-container .slide.receiving {
	border-left: 10px solid #63b7bb;
}
.slider-report .slider-container .title-slide {
	padding: 0px 10px;
}
.slider-report .slider-container .slide .table-slide {
	font-weight: 500;
	margin: 5px 0px 0px 15px;
	width: 100%;
}
.slider-report .slider-container .slide .table-slide td { padding: 7px 0px; }
.slider-report .slider-container .slide .table-slide .status { font-size: 18px; }
.slider-report .slider-container .slide .table-slide .status.green {
	color: green;
}
.slider-report .slider-container .slide .table-slide .status.violet {
	color: #9013fe;
}
.slider-report .slider-container .slide .table-slide .quantity {
	color: rgb(52, 152, 219);
	font-size: 18px;
}
.slider-report .slider-container .slide .table-slide .unit {
	margin-left: 5px;
}


/* graph */

.bar-chart {
	box-shadow:  0 1px 2px 0 rgba(0, 0, 0, 0.5);
	font-size: 0px;
	position: relative;
	margin-top: 20px;
	width: 49%
}
.bar-chart .addon-plugin {
	left: 140px;
	position: absolute;	
	top: 63px;
}
.bar-chart .addon-plugin > p {
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 5px;
}

.display-graph {	
	/*height: 400px;*/
	margin-top: 30px;
	min-width: 310px;
}
.highcharts-container svg > rect { fill: #EFEFEF; }
.highcharts-container svg g.highcharts-series rect {
	fill : #61b6be;
	ry: 5;
}
.display-graph svg g.highcharts-grid path { opacity: 0; }
.display-graph svg g.highcharts-axis path { opacity: 0; }
.display-graph svg g.highcharts-axis-labels text {
	font-weight: 700;
	font-size: 15px !important;
}

.display-graph1 {	
	/*height: 400px;*/
	margin-top: 30px;
	min-width: 310px;
}
.display-graph1 svg g.highcharts-grid path { opacity: 0; }
.display-graph1 svg g.highcharts-axis path { opacity: 0; }
.display-graph1 svg g.highcharts-axis-labels text {
	font-weight: 700;
	font-size: 15px !important;
}

/* reports */
.cargo-summary {
	overflow-x: auto;

}
.cargo-summary table {
	min-width: 	2000px;
	overflow-x: auto;
}

.cargo-summary table tr td {
	padding: 20px 0;
}
.cargo-summary .last-panel td {
	padding: 10px 0;
	background-color: rgba(74,74,74,0.6);
}
.cargo-summary .last-panel td:last-child,
.cargo-summary .last-panel td:nth-of-type(8) { 
	background-color: #4a4a4a;
	color: #fff !important;
}

.consignee-summary {
	min-width: 1600px;
	padding-bottom: 30px;
	overflow-x: auto;

}
.consignee-summary table {
	min-width: 	2000px;
	overflow-x: auto;
}
.consignee-summary table th {
	padding: 20px 0px;
	width: 200px;
}

.consignee-summary table tr td {
	padding: 20px 0px;
}
.customize-report-button {
	margin-right: 100px;
}

.customize-report-button input.switch:empty ~ label::before {
	content: 'Off';
	padding-left: 30px;
	width: 60px;
	font-size: 12px;
}
.customize-report-button input.switch:empty ~ label::after {
	width: 25px;
	margin-left: 0 ;
}
.customize-report-button input.switch:checked ~ label::after {
	margin-left: 35px;
	width: 25px;
}
.customize-report-button input.switch:checked ~ label::before {
	content: 'On';
	padding-left: 10px;
	font-size: 12px;
}
.customize-report-button input.switch:empty ~ label {
	line-height: 2em;
}
.container-report {
	height: 250px;
	overflow-y: scroll;
	padding-left: 10px;
}