.all-deals-panelbox{
	min-width: 224px;
	display: inline-block;
}

.scroll-x-panel{
	overflow-x: auto; 
}

label{
	font-size: 12px;
	display: inline-block;
	margin-top: 0px;
}

.select-custom {
	width: 75%;
}

.deals-card{

}

.deals-card p{
	font-size: 12px;
}

.user-black{
	width: 27px;
	height: 27px;
}

/*=================================================*/
/*=================================================*/
/*=================================================*/
/*=================================================*/

.table-container{
	max-height: calc(100vh - 76px);
	max-width: 100vw;
	overflow: auto;
}

.deal-table{
	display: block;
	padding: 20px;
}

.deal-table .heading-text .general-btn{
	padding: 10px 20px;
	border: 1px solid #95D94B;
}

.deal-table label{
	position: relative;
	margin-top: 10px;
	font-size: 12px;
	font-weight: 500;
}

.deal-table input{
	border: 1px solid #999999;
	border-radius: 3px;
	padding: 6px 10px;
	display: inline-block;
	width: 75% ;
}

.deal-table .select{
	padding: 0;
    margin-right: -5px;
	width: 77%;
	font-weight: 500;
}

.deal-table .heading-text h2{
	text-transform: uppercase;
}

.deal-table .search td,
.deal-table .name td,
.deal-table .heading-text td{
	padding-right: 20px;
}

.deal-table .panel-details{
	margin: 0;
	margin-right: 20px;
}

.deal-table .panel-details .gray-color,
.deal-table .panel-details td{
	font-size: 12px;
	font-weight: 500;
	padding-right: 25px;
}

.deal-table .provider-details p.name{
	font-weight: 500;
	border-right: 2px solid #cccccc;
	padding: 5px 15px 5px 0;
	margin-right: 15px;
}

.overflow-hidden{
	overflow: hidden;
}