#calendar h2{
	font-size: 30px;
}

.fc-toolbar .fc-left,
.fc-toolbar .fc-right{
	display: none;
}

.fc-state-default{
	box-shadow: none;
	background: none;
	border: none;
}

.fc-state-default:hover{
	background: none;
	box-shadow: none !important;
}

.fc-prev-button.fc-state-default:after,
.fc-next-button.fc-state-default:after{
	content: "";
	display: block;	
	width: 20px;
	height: 20px;
	background: url(../images/ui/arrow-left.png) no-repeat;
	background-size: 20px 20px;

}

.fc-next-button.fc-state-default:after{
	background: url(../images/ui/arrow-right.png) no-repeat;
	background-size: 20px 20px;
}

.fc-icon{
	display: none;
}

.fc td.fc-widget-content{
	background-color: #fff;
}

.fc th, .fc td.fc-widget-header{
	padding: 5px;
	font-size: 15px;
	font-weight: 700;
	background-color: rgba(0,0,0,0);
	border: none;
}

.legend-container{
	margin-top: 20px;
}

.legend{
	display: inline-block;
	margin-right: 5px;
	font-size: 0;
	cursor: pointer;
}

.legend .title{
	display: inline-block;
	vertical-align: middle;
	border-top: solid 1px #aaa;
	border-bottom: solid 1px #aaa;
	padding: 8px 5px 5px;
	height: 30px;
	font-size: 12px;
	background-color: #fff;
}

.legend .icon{
	display: inline-block;
	padding: 5px 10px;
	font-size: 12px;
	height: 30px;
	border: solid 1px #aaa;
	color: #fff;
}

.legend .icon i{
	opacity: 0;
}

.legend .cls{
	display: inline-block;
	vertical-align: middle;
	height: 30px;
	border-top: solid 1px #aaa;
	border-bottom: solid 1px #aaa;
	border-left: solid 1px #aaa;
	padding: 5px 8px;
	background-color: #fff;
}

.legend .cls span{
	font-size: 12px;
	opacity: 0;

	transition: opacity .3s;
}

.legend:hover .icon i,
.legend:hover .cls span{
	opacity: 1;

	transition: opacity .3s;
}

.add-sched{
	display: none;
	position: absolute;
	padding: 15px;
	box-shadow: 0 2px 5px rgba(0,0,0,.3);
	background-color: #f3f3f3;
}

.add-sched:after{
	content:"";
	position: absolute;
	display: block;
	background: url(../images/ui/right-arrow-calendar.png);
	left: -30px;
	top: 30px;
	width: 30px;
	height: 30px;
}


