body{
	background: #dfdfdf;
}


.contacts-panel{
	width: 305px;
	min-height: 100%;
	height: calc(100vh - 76px);
	float: left;
}

.contacts-panel:after{
	content: "";
	top: 0;
	left: 190px;
	position: fixed;
	width: 305px;
	height: 100vh;
	background-color: #dfdfdf;
	z-index: -1;
}


.contact-panel-box ul li.active,
.contact-panel-box ul li:hover{
	cursor: pointer;
	background-color: #f2f2f2;
}

.contacts-panel-details {
	width: calc(100% - 305px);
	min-height: 100%;
	float: left;
}

.contacts-panel-details table tbody tr td{
	padding: 5px;
	font-size: 14px;
}

.contacts-panel-details a{
	font-size: 14px;
}

.icon-email{
	width: 20px !important;
	height: 20px !important;
	margin-right: 0 !important;
}

.deals-list > div {
	padding: 10px;
	margin: 5px;
}

.contacts-panel .panel-details{
	position: relative;
	overflow: initial;
	width: 280px;
}

.contacts-panel .panel-details.active:after{  
	content: "";
    position: absolute;
    display: block;
    left: 280px;
    top: 120px;
    width: 20px;
    height: 50px;
    background: url(../images/ui/left-box-arrow.png);
}