header {
	background-color: #fff;
	height: 72px;
	position: fixed;
	width: 100%;
	z-index: 1;
	min-width: 1024px;
}
.left-content {
	float: left;
	height: 72px;	
	padding: 0;
	text-align: center;
	width: 190px;
}
.left-content .main-logo{
	padding: 10px 0;
	width: 100%;
}

.right-content{	 
	float: right;
}
.right-content > img {
	float: left;
	padding-top: 14px;
	padding-right: 10px;
	width: 50px;
}
.right-content > p {
	font-size: 13px;
	float: left;
	padding-top: 25px;
	padding-right: 12px;
}
.title-content {
	/*color: #ffb400 ;*/
	color: #333;
	font-weight: normal;
	font-size: 22px;
	font-weight: 300;
	float: left;
	padding-top: 20px;
	padding-left: 50px;
	text-transform: uppercase;

}
.link {
	display: inline-block;
	padding: 25px 20px;	
}
.gear {
	/*background-color: #f7a283 !important;*/
	float: right;
}
.announcement {
	/*background-color: #e679a2;	*/
	float: right;
}
.settings {
	/*background-color: #7cd8bf;	*/
	float: right;
	
}
.settings:hover,
.announcement:hover,
.gear:hover {
	box-shadow: -2px 5px 5px  rgba(0,0,0,0.5);
	transition: box-shadow .4s;
}




/*setting-box and announcement*/
/*announcement*/

.notif{
	text-align: right;
	position: fixed;
	top: 80px;
	right: 10px;
	z-index: 1;
	overflow: hidden;
}

.notif.hide{
	height: 0;
}

.notif.show{
	height: 500px;
}

.notif.showing{
	animation: notif-show .2s linear forwards;
}

@keyframes notif-show{
	from{ opacity: 0; height:0;}
	to{ opacity: 1; height:500px;}
}

.notif.hidding{
	animation: notif-hide .2s linear forwards;
}

@keyframes notif-hide{
	from{ opacity: 1; height:500px;}
	to{  opacity: 0; height:0;}
}

.notif .notif-inside {
	width: 400px;
	height: 100%;
	margin-left: 100px;
}

.notif .notif-inside .notif-content{
	height: calc(100% - 60px);
	overflow-y:auto;
	overflow-x:hidden;
	border: solid 1px #aaa;
}

.top-container {
	position: relative;
	margin-top: -1px;
	width: 100%;
	background-color: #fff;
	border: solid 1px #aaa;
	z-index: 0;
}

.arrow{
	background-image: url(../images/ui/arrow_up.svg);
	position: relative;
	margin-left: 370px;
	height: 15px;
	width: 20px;
	z-index: 999;
}
	
.announce-cont.unread {
	background-color: #e7ffce !important;
}

.announce-cont.unread:hover,
.announce-cont:hover {
	background-color: #eee !important;
	
}

/* setting-box  */

.settings-box{
	display: none;
	position: absolute;
	width: 95px;
	right: 10px;
	z-index: 999;
}

.settings-box .arrow{
	position: relative;
	margin-left: calc(50% - 10px);
    width: 20px;
    height: 15px;
    background-image: url(../images/ui/arrow_up.svg);
    z-index: 999;
}

.settings-box a{
	display: block;
	margin: 10px 5px;
	font-size: 18px;
	color: #7b7b7b;
	line-height: 1.5;
}

.settings-box a:hover{
	color: #7cd8bf;
	text-decoration: none;
}
