.team-staff-panel{

}

.numeric_panelbox p{
	font-size: 20px;
	font-weight: 500;
	color: #fff;
	min-width: 20px;
	text-align: center;
}

a.btn-edit{
	font-size: 14px;
	margin-top: 13px;
}

a.btn-cancel{
	font-size: 14px;
	margin-top: 13px;
	cursor: pointer;
}

.authorize-user{
	height: 200px;
	overflow: auto;
}

p.selected-user{
	background-color: #a5d0c6;
	color: #000;
	display: inline-block;
	padding: 5px;
	font-size: 12px;
}

p.selected-user span a{
	color: #fff;
	margin-left: 20px; 
}

.content-modal{
	height:200px;
	overflow:auto;
}

